// .how-it-works-mobile-description {
//   p {
//     @media screen and (min-width: 769px) {
//       display: none !important;
//     }
//     @media screen and (max-width: 768px) {
//       display: none;
//       &:first-child {
//         display: block;
//       }
//     }
//   }
// }

.how-it-works-title-holder {
  &.growth {
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
    @media screen and (max-width: 480px) {
      padding-bottom: 42px !important;
    }
    h2 {
      width: 50%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  // margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .how-it-works-phones-holder {
    &.landing-growth {
      transform: none;
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
      .how-it-works-box {
        transform: none;
        margin: 0 auto;
        flex-direction: column-reverse;
        .banner-no {
          display: none;
        }
        p {
          text-align: center;
          margin: 21px 0 0;
          max-width: 100%;
        }
        img {
          max-width: initial !important;
        }
      }
    }

    .owl-dots {
      counter-reset: dots;
      text-align: center;
      margin: 0 auto;
      .owl-dot {
        &.active {
          &:before {
            font-weight: bold;
            border-bottom: 4px solid $color__text;
          }
        }
        &:before {
          padding: 6px 6px 4px 6px;
          @include font-size(18);
          counter-increment: dots;
          content: counter(dots);
        }
      }
    }
  }
}
