.growth-box-holder {
  margin: 60px;
  display: flex;

  // width: calc(100vw - 120px);
  @media screen and (max-width: 1440px) {
    // margin: 45px;
    margin: 45px;
    // width: calc(100vw - 45px);
  }
  @media screen and (max-width: 1024px) {
    margin: 30px;
    // width: calc(100vw - 30px);
  }
  @media screen and (max-width: 768px) {
    margin: 20px;
    flex-direction: column;

    // width: calc(100vw - 20px);
  }

  .approach-banner-content-holder {
    @media screen and (max-width: 768px) {
      margin-left: 20px;
      position: relative;
      margin-bottom: -20px;
      padding-right: 4px;
    }
  }
  .approach-banner-box {
    width: 50%;
    &:after {
      padding-bottom: 136%;
    }
    h2 {
      font-weight: 100;
      strong,
      b {
        font-weight: 700;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0;
      margin: 0;
      margin-bottom: 40px;
      // &:first-child {
      // }
      &:after {
        padding-bottom: 100%;
      }
    }
  }
}
