.savings-video-holder.growth {
  @include fullwidth-row();
  max-width: 1280px;
  margin: 160px auto 220px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1366px) {
    @include max-width();
    margin: 120px auto 180px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 80%;
    flex-direction: column;
    margin: 120px 0;
  }
  @media screen and (max-width: 812px) {
    max-width: 100%;
    padding: 0;
  }
  .savings-title-area {
    h2 {
      margin: 30px 0;
      @include font-size(44);
      @media screen and (max-width: 768px) {
        @include font-size(30);
      }
    }
  }
  .growth-video-content {
    min-width: 350px;
    text-align: left;
    margin-right: 100px;
    @media screen and (max-width: 1024px) {
      min-width: 100%;
      margin-bottom: 44px;
      p {
        margin: 0;
        max-width: 100%;
      }
    }

    p {
      @include font-size(22);
      @media screen and (max-width: 768px) {
        @include font-size(16);
      }
    }
  }
  .growth-video-holder {
    width: 750px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
}
