.media-contact-holder {
  padding: 130px 0 220px;
  @media screen and (max-width: 768px) {
    padding: 65px 0 110px;
  }
  h2 {
    span {
      font-weight: 100;
    }
  }
}

.media-contact-content {
  display: flex;
  align-items: center;
  > div {
    flex: 1;
  }
  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}
.media-contact-persons {
  display: flex;
  margin-right: 140px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-right: 0px;
  }
}
.media-contact-person {
  @include font-size(22);
  font-weight: 900;
  margin-right: 90px;
  @media screen and (min-width: 1280px) {
    &:last-child {
      margin: 0;
    }
  }
  span {
    margin: 4px 0;
    display: block;
    @include font-size(16);
    font-weight: normal;
  }
  a {
    border-bottom: 1px solid $color__black;
    &:hover {
      border-color: $color__red;
    }
  }

  @media screen and (max-width: 768px) {
    @include font-size(18);
    margin: 0;
    margin-bottom: 32px;
  }

}

.media-contact-desc {
  @include font-size(22);
  @media screen and (max-width: 768px) {
    @include font-size(18);
  }
}
