.media-download-full-holder {
  @include fullwidth-row();
  background: #f3eee1;
  width: calc(100vw - 120px);
  @media screen and (max-width: 1440px) {
    width: calc(100vw - 90px);
  }
  @media screen and (max-width: 1024px) {
    width: calc(100vw - 60px);
  }
  @media screen and (max-width: 768px) {
    width: calc(100vw - 40px);
  }
}
.media-download-holder {
  @include max-width();
  // margin: 80px 0;
  // overflow: hidden;
}
.media-download-content {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.media-download-photo {
  align-self: flex-end;
  width: 60%;
  @media screen and (max-width: 1280px) {
    width: 55%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  img {
    display: block;
  }
}
.media-download-desc {
  padding: 70px 70px 40px 30px;
  width: 40%;
  @media screen and (max-width: 768px) {
    padding: 40px;
    width: 100%;
  }
  @media screen and (max-width: 640px) {
    padding: 22px;
  }
  h2 {
    text-align: right;
    line-height: 1;
    margin: 0 0 32px 0;
    @media screen and (max-width: 768px) {
      text-align: left;
      br {
        display: none;
      }
    }
    span {
      font-weight: 100;
    }
  }
  ul {
    @include reset-list();
    li {
      @include font-size(22);
      font-weight: 700;
      margin: 13px 0;
      @media screen and (max-width: 768px) {
        @include font-size(18);
      }
      @media screen and (max-width: 640px) {
        @include font-size(16);
      }
      a {
        border-bottom: 1px solid $color__black;
        &:hover {
          border-color: $color__red;
        }
      }
    }
  }
}
