.media-coverage-holder {
  padding: 10% 0;
  // @media screen and (max-width: 768px) {
  //   padding: 120px 0;
  // }
  h2 {
    margin: 0;
    @media screen and (max-width: 768px) {
      br {
        display: none;
      }
    }
    span {
      font-weight: 100;
    }
  }
}
.media-coverage-content {
  display: flex;
  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}
.media-coverage-photo {
  min-width: 450px;
  @media screen and (max-width: 768px) {
    min-width: initial;
    max-width: 300px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  img {
    display: block;
    width: 100%;
  }
}
.media-coverage-list {
  width: calc(100% - 450px);
  margin-left: 45px;
  @media screen and (max-width: 768px) {
    width: calc(100% - 300px);
  }
  @media screen and (max-width: 640px) {
    width: 100%;
    margin-left: 0;
  }
  ul {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 640px) {
      flex-direction: column;
      justify-content: flex-start;
    }
    li {
      width: calc(50% - 15px);
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      img {
        height: 30px;
        width: auto;
      }
      span {
        display:block;
        @include font-size(14);
        font-weight: 700;
      }
      p {
        @include font-size(18);
        @media screen and (max-width: 768px) {
          @include font-size(16);
        }
        margin: 0 0 12px 0;
      }
      a {
        font-weight: 700;
        border-bottom: 1px solid $color__black;
        &:hover {
          border-color: $color__red;
        }
      }
    }
  }
}
