.press-releases-holder {
  padding: 0 0 170px 0;
  @media screen and (max-width: 768px) {
    padding-bottom: 100px;
  }
  h2 {
    margin: 0;
    line-height: 1;
    @media screen and (max-width: 768px) {
      br {
        display: none;
      }
    }
    span {
      font-weight: 100;
    }
  }
}
.press-releases-list {
  margin-top: 50px;
  @media screen and (max-width: 640px) {
    margin-top: 24px;
  }
  ul {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -15px;
    @media screen and (max-width: 640px) {
      margin: 0;
    }
    li {
      width: calc(33.33% - 30px);
      margin: 0 15px 50px 15px;
      @media screen and (max-width: 768px) {
        width: calc(50% - 30px);
      }
      @media screen and (max-width: 640px) {
        margin :0 0 50px 0;
        width: 100%;
      }
      img {
        width: 100%;
      }
      h3 {
        margin: 0;
        @include font-size(22);
        font-family: $font__main;
        margin-bottom: 6px;
        line-height: 1.2;
      }
      span {
        @include font-size(12);
        font-weight: 700;
        display: block;
        margin-bottom: 16px;
      }
      p {
        @include font-size(18);
        margin: 0 0 12px 0;
      }
      a {
        font-weight: 700;
        border-bottom: 1px solid $color__black;
        &:hover {
          border-color: $color__red;
        }
      }
    }
  }
}
