.sticky {
    display: block;
}

.post,
.page {
    //   margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    // margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.site-content {
    @include max-width();
    @media screen and (max-width: 1280px) {
        max-width: 990px;
    }
}

//Added by Mindk
//.page-template-default {
//new content page styles - general 
.default-page-content {
    @include max-width();
    padding: 160px 0;
    @media screen and (max-width: 812px) {
        padding: 80px 0;
    }
    .subsection {
        padding-top: 48px;
    }
    .text-wrapping {
        @media screen and (max-width: 812px) {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            hyphens: auto;
        }
    }
    .text-wrapping-xl {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
    }
   
    ul {
        list-style-image: url('/wp-content/uploads/sites/3/2021/07/bullet-point-custom.svg');
        padding-bottom: 24px;
        li {
            list-style-position: outside;
            margin-left: 14px;
            padding: 0 0 16px 8px;
            &::marker {}
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        &.unstyled {
            list-style: none;
        }
        &:last-child {
            padding-bottom: 0;
        }
        &+.subsection {
            padding-top: 24px;
        }
    }
    h1,
    h2,
    h3,
    h4,
    p {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
    }
    h1 {
        @include font-size(56);
        @media screen and (max-width: 812px) {
            @include font-size(40);
        }
    }
    h2 {
        @include font-size(48);
        @media screen and (max-width: 812px) {
            @include font-size(40);
        }
    }
    h3 {
        @include font-size(40);
        @media screen and (max-width: 812px) {
            @include font-size(32);
        }
    }
    h4 {
        font-family: $font__second;
        @include font-size(32);
        @media screen and (max-width: 812px) {
            @include font-size(24);
        }
        & span {
            font-family: $font__second;
            @include font-size(32);
            @media screen and (max-width: 812px) {
                @include font-size(24);
            }
        }
    }
    span,
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25; //same as 20px - 16*1.25=20
        &:last-of-type {
            margin-bottom: 0;
            &+.icon,
            &+ul {
                margin-top: 24px;
            }
        }
    }
    a {
        text-decoration: underline;
        &.btn {
            text-decoration: none;
        }
    }
    .subtitle {
        padding-top: 0;
        margin-bottom: 24px;
    }
    .beige {
        background-color: #F3EEE1;
    }
    .caps-heading {
        font-family: "HelveticaNowDisplay";
        font-weight: 900;
        text-transform: uppercase;
        &.small {
            font-size: 10px;
            line-height: 1.4;
            letter-spacing: 1px;
        }
        &.medium {
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 1.5px;
            margin-bottom: 8px;
        }
    }
    .se-2colmn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 24px;
        &.align-center {
            align-items: center;
        }
    }
    .colmn-inner {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-right: 60px;
        &:last-child {
            padding-right: 0;
            @media screen and (max-width: 812px) {
                padding-top:24px;
            }
        }
        @media screen and (max-width: 812px) {
            width: 100%;
            padding-right: 0;
        }
        .subsection {
            padding-top: 48px;
            &:first-child {
                padding-top: 0;
            }
        }
    }
    .primary-section {
        padding-bottom: 160px;
        &:last-child {
            padding-bottom: 0;
        }
        @media screen and (max-width: 812px) {
            padding-bottom: 80px;
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
    .inner-section {
        padding-top: 80px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .icon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 24px;
        &:last-of-type {
            padding-bottom: 0;
            &+p {
                padding-top: 24px;
            }
        }
        &.fax {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/07/print_black_24dp-1.svg);
                padding-right: 16px;
            }
        }
        &.email {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/07/email_black_24dp-1.svg);
                padding-right: 16px;
            }
        }
        &.address {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/07/place_black_24dp-1-1.svg);
                padding-right: 16px;
            }
        }
        &.name {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/07/self_improvement_black_24dp-1-1.svg);
                padding-right: 16px;
            }
        }
        &.department {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/07/admin_panel_settings_black_24dp-1-1.svg);
                padding-right: 16px;
            }
        }
        &.website {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/08/wysiwyg_black_24dp-1.svg);
                padding-right: 16px;
            }
        }
        &.vat {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/08/vat-id-3.svg);
                padding-right: 16px;
            }
        }
        &.home {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/08/home-1.svg);
                padding-right: 16px;
            }
        }
        &.structure {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/08/corporate-struct-3.svg);
                padding-right: 16px;
            }
        }
        &.commercial {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/08/commercial-register-3.svg);
                padding-right: 16px;
            }
        }
        &.phone {
            &:before {
                content: url(https://inyova.de/wp-content/uploads/sites/3/2021/08/smartphone_black_24dp.svg);
                padding-right: 16px;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    //sustainabiity page modifiers 
    &.sustainability {
        padding-bottom: 0;
        .se-2colmn-container {
            margin-top: 0;
            .colmn-inner {
                width: 35%;
                padding-right: 60px;
                &:last-child {
                    width: 55%;
                    padding-right: 0;
                    @media screen and (max-width: 812px) {
                        padding-top:24px;
                        width: 100%;
                    }
                }
                @media screen and (max-width: 812px) {
                    width: 100%;
                    padding-top: 0;
                    padding-right: 0;
                }
            }
        }
        .approach-inforamtion-section {
            margin: 0 0 160px 0;
            @media screen and (max-width: 812px) {
                margin: 0 0 80px 0;
            }
            &:last-child {
                margin: 0;
                .information-section {
                    padding: 0 10%;
                    @media screen and (max-width: 812px) {
                        padding:0;
                    }
                }
            }
            &:first-child {
                .information-mobile-image {
                    display: none;
                }
            }
        }
        .information-section-holder p {
            width: auto!important;
        }
        .information-section {
            padding: 80px 12%;
            @media screen and (max-width: 812px) {
                padding: 32px 20px;
            }
            h1,
            h2,
            h3,
            h4,
            p {
                margin-top: 0;
                margin-bottom: 24px;
                font-weight: 700;
            }
            h1 {
                @include font-size(56);
                @media screen and (max-width: 812px) {
                    @include font-size(48);
                }
            }
            h2 {
                @include font-size(48);
                @media screen and (max-width: 812px) {
                    @include font-size(40);
                }
            }
            h3 {
                @include font-size(40);
                @media screen and (max-width: 812px) {
                    @include font-size(32);
                }
            }
            h4 {
                @include font-size(32);
                @media screen and (max-width: 812px) {
                    @include font-size(24);
                }
            }
            span,
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.25; //same as 20px - 16*1.25=20
                &:last-of-type {
                    margin-bottom: 0;
                    &+.icon,
                    &+ul {
                        margin-top: 24px;
                    }
                }
            }
            .information-section-content {
                max-width: 55%;
            }
            @media screen and (max-width:680px) {
                .information-section-content {
                    max-width: 100%;
                }
            }
            .information-section-image {
                width: 30%;
                right: 10%;
                top: 10%;
                bottom: 10%;
                background-position: top;
                background-size: cover;
            }
            &.reverse {
                flex-direction: row-reverse;
                .information-section-image {
                    top: 0;
                    right: auto;
                    left: 7%;
                    width: 30%;
                    bottom: 0;
                    background-position: top;
                    background-size: cover;
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }
                .information-section-content {
                    max-width: 60%;
                    padding-bottom: 160px;
                    @media screen and (max-width: 768px) {
                        max-width: 100%;
                        padding-bottom: 80px;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                .information-mobile-image {
                    display: block;
                    margin: auto;
                    padding-top: 48px;
                    margin-bottom: -160px;
                    img {
                        max-height: 420px;
                    }
                }
            }
        }
    }
    &.imprint {
        //imprint page modifiers
        .primary-section {
            h2 {
                @media screen and (max-width: 812px) {
                    margin-bottom: 0;
                }
            }
        }
        .se-2colmn-container {
            &:only-child {
                margin-top: 0;
            }
        }
        .se-2colmn-container {
            .colmn-inner:last-child {
                @media screen and (max-width: 812px) {
                    padding-top: 48px;
                }
            }
        }
        .btn {
            @media screen and (max-width: 812px) {
                min-width: 100%;
            }
        }
    }
     .desktop-only {
        @media screen and (max-width: 812px) {
            display: none;
        }
    }
}