$color__background-body: #f8f6f1;

$color__link: #2f2c26;
$color__link-visited: #ee3c15;
$color__link-hover: #ee3c15;
$color__placeholder: #848484;

$color__text: #2f2c26;
$color__white: #fff;
$color__black: #111;
$color__red: #ee3c15;
$color__grey: #e5e5e5;
$color__yellow: #f9d483;
$color__green: #98b172;

$color_info_content: #f3eee1;