@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/fonts/HelveticaNowDisplay-Thin.woff2") format("woff2"),
    url("assets/fonts/HelveticaNowDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/fonts/HelveticaNowDisplay-Light.woff2") format("woff2"),
    url("assets/fonts/HelveticaNowDisplay-Light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplay";
  src: url("assets/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("assets/fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('assets/fonts/HelveticaNowDisplay-Md.woff2') format('woff2'),
      url('assets/fonts/HelveticaNowDisplay-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('assets/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
      url('assets/fonts/HelveticaNowDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('assets/fonts/HelveticaNowDisplay-Black.woff2') format('woff2'),
      url('assets/fonts/HelveticaNowDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-BlackItalic-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-BlackItalic-Web.woff') format('woff');
  font-weight:  900;
  font-style:   italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Black-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-Black-Web.woff') format('woff');
  font-weight:  900;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-BoldItalic-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-BoldItalic-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Bold-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-MediumItalic-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Medium-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-RegularItalic-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Regular-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-LightItalic-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-LightItalic-Web.woff') format('woff');
  font-weight:  300;
  font-style:   italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Light-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-ThinItalic-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-ThinItalic-Web.woff') format('woff');
  font-weight:  100;
  font-style:   italic;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('assets/fonts/Canela-Thin-Web.woff2') format('woff2'),
       url('assets/fonts/Canela-Thin-Web.woff') format('woff');
  font-weight:  100;
  font-style:   normal;
  font-stretch: normal;
  font-display: swap;
}



$font__main: "HelveticaNowDisplay", Helvetica Neue, Arial, sans-serif;
$font__second: "Canela", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
