$scrollBarHeight: 1;

.approach-banner-boxes-holder {
  @include fullwidth-row();

  .owl-carousel .owl-stage {
    padding-left: 0 !important;
  }
}
.approach-banner-scroll-holder {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0px 0 60px 100px;
  // display: flex;
  // width: calc(100vw - 120px);
  @media screen and (max-width: 1440px) {
    // margin: 45px;
    margin: 0px 0 60px 45px;
    width: calc(100vw - 45px);
  }
  @media screen and (max-width: 1024px) {
    margin: 0px 0 60px 30px;
    width: calc(100vw - 30px);
  }
  @media screen and (max-width: 768px) {
    margin: 0px 20px 40px 20px;
    width: initial;
  }

  &::-webkit-scrollbar {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
  }

  ::-webkit-scrollbar-button {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
  }

  .carousel-nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &.show-mobile {
      display: none;
      @media screen and (max-width: 420px) {
        display: flex;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }

    svg {
      width: 43px;
      height: 43px;
    }
    @media screen and (max-width: 1440px) {
      svg {
        width: 32px;
        height: 32px;
      }
    }
    span {
      @include font-size(14);
      font-weight: 900;
      margin: 0 5px;
      @media screen and (max-width: 1440px) {
        @include font-size(12);
      }
    }
    a {
      // margin-right: 5px;
      display: inline-flex;
      align-items: center;
      color: $color__text;
    }
  }
}
.approach-banner-boxes {
  margin: 40px;
}
.approach-banner-scroll-content {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.approach-banner-box {
  min-width: 45%;
  padding-left: 12.5%;
  position: relative;
  margin-left: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  p {
    a {
      text-decoration: underline;
      &:hover {
        color: $color__red;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    margin-left: 45px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 30px;
    padding-left: 6.5%;
  }
  @media screen and (max-width: 768px) {
    min-width: 85%;
  }
  &:first-child {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    margin-bottom: 30px;
    &:first-child {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &:after {
    content: "";
    padding-bottom: 88%;
    height: 0;
    display: inline-block;
    @media screen and (max-width: 1440px) {
      padding-bottom: 100%;
    }
    @media screen and (max-width: 1280px) {
      padding-bottom: 120%;
    }
    @media screen and (max-width: 680px) {
      padding-bottom: 130%;
    }
  }
}

.approach-banner-content-holder {
  padding: 52px;
  background: #f8f6f1;
  position: absolute;
  left: 24px;
  padding: 20px;
  
  @media screen and (min-width: 1140px) {
    padding: 42px 28px 28px 42px;
    margin-left: 70px;
    left: 0;
    bottom: 0;
  }
  h2 {
    @include font-size(36);
    margin: 0;
    line-height: 1;


    @media screen and (max-width: 1440px) {
      @include font-size(32);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(24);
    }
  }
  p {
    margin: 0;
    line-height: 1.33;
    @media screen and (max-width: 1024px) {
      @include font-size(14);
    }
    
  }
  .banner-no {
    font-weight: 900;
  }
  .banner-title-holder {
    transform: none !important;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
      margin-left: 15px;
      margin-bottom: 30px;
    }
  }
}
