.faq-fullwidth-holder {
  @include fullwidth-row();
  position: relative;
  margin-top: 10%;
  padding-bottom: 240px;
  overflow: hidden;

  position: relative;
  background-image: url(assets/images/faq-bg-pen.png);
  background-size: 600px;
  background-position: -80px bottom;
  background-repeat: no-repeat;

  @media screen and (max-width: 1024px) {
    // max-width: 800px;
    margin: 10% auto 0 auto;
    padding-bottom: 120px;
    padding: 0 100px 120px 100px;
    background-size: 300px;
    background-position: 0px bottom;
  }

  @media screen and (max-width: 768px) {
    padding: 0 20px 120px;
  }
  @media screen and (max-width: 680px) {
    padding: 0 0 50px;
    background: none;
  }
  @media screen and (max-width: 480px) {
    padding-bottom: 10px;
  }
}

.faq-holder {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 2;

  @include max-width();

  padding-top: 120px;
  margin-top: -120px;

  h2 {
    @include font-size(72);
    line-height: calc(78 / 72);
    font-family: $font__second;
    font-weight: 100;
    margin: 0;
    margin-bottom: 100px;
    transform: translateX(130px);

    @media screen and (max-width: 1440px) {
      @include font-size(52);
      margin-bottom: 72px;
    }
    @media screen and (max-width: 1024px) {
      transform: none;
      margin: 0;
      @include font-size(42);
    }

    @media screen and (max-width: 680px) {
      margin-bottom: 32px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 0;
    padding-top: 120px;
  }
}

.faq-sidebar {
  padding: 44px;
  background: $color__white;
  min-width: 300px;
  max-width: 300px;
  margin-right: 90px;
  align-self: flex-start;

  @media screen and (max-width: 1440px) {
    min-width: 200px;
    padding: 24px 18px;
  }

  @media screen and (max-width: 1024px) {
    margin-right: 30px;
  }
  @media screen and (max-width: 680px) {
    display: none;
  }

  ul {
    @include reset-list();
    li {
      margin: 30px 0 0;
      &:first-child {
        margin-top: 0;
      }
      a {
        display: flex;
        align-items: center;
        padding-bottom: 28px;
        border-bottom: 2px solid $color__text;
        @include font-size(14);
        font-weight: 900;
        opacity: 0.2;
        text-transform: uppercase;
        @media screen and (max-width: 1440px) {
          padding-bottom: 8px;
          @include font-size(11);
        }
        &:focus,
        &:hover,
        &.active {
          color: $color__text;
          opacity: 1;
        }

        img {
          margin-right: 10px;
          max-width: 17px;
          max-height: 16px;
        }
      }
    }
  }
}

.mobile-faq-seperator {
  display: none;
  @media screen and (max-width: 680px) {
    display: block;
  }

  a {
    background: $color__white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 12px;
    &:hover,
    &:focus {
      color: $color__text;
      background: $color__white;
    }
    img {
      margin-right: 12px;
      max-width: 18px;
      max-height: 21px;
    }
  }
}
.faq-category-content {
  display: none;
  &.active {
    display: block;
  }

  @media screen and (max-width: 680px) {
    display: block;
    .faq-question-holder {
      display: none;
      margin: 0 20px;
    }
    &.active {
      .faq-question-holder {
        display: block;
      }
    }
  }
}

.faq-content {
  width: calc(100% - 300px);
  @media screen and (max-width: 1024px) {
    width: calc(100% - 260px);
  }
  @media screen and (max-width: 680px) {
    width: 100%;
    margin: 20px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 0;
  }
}

.faq-question {
  @include font-size(30);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  margin: 40px 0;
  border-bottom: 2px solid #e4e2dd;

  @media screen and (max-width: 1440px) {
    @include font-size(24);
  }
  @media screen and (max-width: 1024px) {
    @include font-size(18);
    align-items: flex-start;
    margin: 20px 0;
  }
  @media screen and (max-width: 680px) {
    @include font-size(16);
  }
}
.faq-question-holder {
  cursor: pointer;
  .close {
    display: none;
  }
  &.active {
    .faq-question {
      font-weight: bold;
      border-color: $color__text;
    }
    .open {
      display: none;
    }
    .close {
      display: block;
    }
  }
}
.question-holder {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1024px) {
    align-items: flex-start;
  }
}

.question-status {
  min-width: 10px;
  font-weight: 900;
  margin-left: 10px;
  @include font-size(15);
}
.question-number {
  @include font-size(15);
  margin-right: 15px;
  @media screen and (max-width: 1024px) {
    margin-top: 4px;
    margin-right: 8px;
  }

  @media screen and (max-width: 680px) {
    @include font-size(16);
    margin-top: 0;
  }
}

.faq-answer {
  display: none;
  p {
    @include font-size(22);
    font-weight: 100;
    line-height: calc(36 / 22);
    margin: 0;
    margin-bottom: 1.5em;
    a{
      text-decoration: underline;
    }
    @media screen and (max-width: 1440px) {
      @include font-size(18);
    }
    @media screen and (max-width: 680px) {
      @include font-size(16);
    }
  }
}
