.how-it-works-holder {
  margin: 20% 0 10%;
  @media screen and (max-width: 1680px) {
    margin: 265px 0 10%;
  }
  @media screen and (max-width: 1440px) {
    margin: 200px 0 10%;
  }
  @media screen and (max-width: 1024px) {
    max-width: 800px;
    margin: 190px auto 10%;
  }
  @media screen and (max-width: 768px) {
    @include max-width();
    margin: 10% 0;
  }
  @media screen and (max-width: 680px) {
    padding: 0;
  }
}

.how-it-works-holder + .new-cta-holder {
  margin-bottom: 10%;
}

.how-it-works-title-holder {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5%;
  h2 {
    @include font-size(56);
    text-align: right;
    margin: 0;

    @media screen and (max-width: 1680px) {
      @include font-size(44);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(32);
    }
  }
  h3 {
    @include font-size(72);
    line-height: calc(78 / 72);
    font-family: $font__second;
    font-weight: 100;
    text-align: right;
    margin: 0;
    max-width: 440px;
    @media screen and (max-width: 1680px) {
      @include font-size(48);
      line-height: 1.3;
      max-width: 300px;
    }
    @media screen and (max-width: 1024px) {
      @include font-size(40);
      line-height: 1;
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 60px;
    h2,
    h3 {
      width: 100vw;
      max-width: 90vw;
      text-align: left;
    }
  }

  // @media screen and (max-width: 768px) {
  //   margin: 0;
  // }
}

.how-it-works-phones-holder {
  display: flex;
  // justify-content: space-around;
  justify-content: space-around;
  padding: 0 0 10%;
  transform: translateY(-30px);
  @media screen and (max-width: 768px) {
    transform: none;
    display: block;
  }
}

.how-it-works-box {
  max-width: 340px;
  transform: translateY(5%);
  img {
    display: block;
    max-width: 260px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 180px;
    }
  }
  &:first-child {
    transform: translateY(-33%);
    @media screen and (max-width: 1024px) {
      transform: translateY(-27%);
    }
    @media screen and (max-width: 900px) {
      transform: translateY(-27%);
    }
  }
  &:last-child {
    transform: translateY(33%);
  }
  p {
    text-align: center;
    @include font-size(15);
    margin: 0 auto;
    margin-top: 15px;
    max-width: 60%;
    .banner-no {
      margin: 0;
      display: block;
      font-weight: bold;
      @media screen and (max-width: 768px) {
        display: flex;
        margin-bottom: 6px;
      }
    }

    @media screen and (max-width: 1024px) {
      @include font-size(11);
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    transform: none !important;
    img {
      max-width: 140px;
    }
    p {
      margin-left: 24px;
      @include font-size(16);
      text-align: left;
    }

    &:nth-child(2) {
      margin-left: auto;
      flex-direction: row-reverse;
      justify-content: flex-end;
      p {
        margin: 0;
        margin-right: 24px;
        text-align: right;
        span {
          margin-left: auto;
        }
      }
    }

    .banner-no {
      font-weight: bold;
      @include font-size(24);
      background: $color__yellow;
      border-radius: 100%;
      width: 42px;
      height: 42px;
      color: $color__white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      line-height: 1;
    }
  }
}
