.approach-info-carousel-holder {
  margin: 0;
  margin-bottom: 100px;
  @media screen and (min-width: 1024px) {
    margin: 180px 0 100px;
  }
}
.approach-info-carousel-content-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .new-cta-holder {
    text-align: left;
    justify-content: flex-start;
    width: 100%;

    &.mobile {
      display: flex;
      justify-content: center;
      .btn {
        max-width: 375px;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    &.desktop {
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
      }
    }
    a {
      text-align: center;
    }
  }
}

.approach-info-carousel-content {
  @media screen and (min-width: 1024px) {
    max-width: 440px;
  }

  h2 {
    font-size: 30px;
    @media screen and (min-width: 1024px) {
      font-size: 46px;
    }
    margin: 0 0 30px 0;
    span {
      font-weight: 100;
    }
  }
  p {
    @include font-size(18);
    margin: 0 0 45px 0;
  }
}

.approach-info-carousel-carousel-holder {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 70%;
    margin: 0 auto 30px;
  }
  @media screen and (min-width: 1024px) {
    margin: 30px 0;
    width: 470px;
    margin: 0;
  }
  .carousel-nav {
    display: none;
    align-self: flex-end;
    margin-left: auto;
    // margin: 0 auto 15px;
    span {
      display: none;
    }
    a {
      &:first-child {
        margin-right: 10px;
      }
    }
    @media screen and (min-width: 1023px) {
      display: flex;
      margin: 0 0 15px 0;
      span {
        display: inline-block;
      }
      a {
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
}

.approach-info-carousel {
  .carousel-item {
    position: relative;
    img {
      display: block;
      width: auto;
      max-width: 280px;
      margin: 0 auto;
      // max-height: 538px;
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        max-width: 360px;
      }
      @media screen and (min-width: 1140px) {
        max-width: 100%;
      }
    }
  }

  .carousel-item-desc {
    position: absolute;
    width: 100%;

    bottom: 0;
    left: 0;
    background-image: linear-gradient(#f3eee1, #f8f6f1);
    @include font-size(14);
    padding: 21px;
    @media screen and (min-width: 1024px) {
      @include font-size(18);
      padding: 25px 90px;
    }
  }
  .carousel-item-desc-scroll {
    overflow: hidden;
    max-height: 180px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (min-width: 1024px) {
      max-height: 250px;
    }
  }
  strong {
    display: block;
    margin-bottom: 13px;
  }
  p {
    margin-top: 0;
  }

  .owl-dots {
    display: flex;
    justify-content: center;
    margin: 12px 0;
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%);
    button {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      border: 2px solid $color__text;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background: #2f2c26;
      }
    }
  }
}
