.scrollable-sections {
  // height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  max-width: 950px;
  margin: 0 auto;

  &.desktop {
    display: none;
    @media screen and (min-width: 1024px) {
      padding-top: 45px;
      display: flex;
      margin-bottom: 180px;
    }
  }
  &.mobile {
    display: none;
    margin: 40px 0 100px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      margin: 40px auto 100px;
      width: 60%;
      text-align: center;
    }

    @media screen and (max-width: 1023px) {
      display: block;
    }
    .owl-carousel .owl-item img {
      height: 438px;
      width: auto;
      margin: 0 auto;
    }
    .owl-dots {
      display: flex;
      justify-content: center;
      margin: 24px 0;

      button {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        border: 2px solid $color__text;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          background: #2f2c26;
        }
      }
    }
  }
}

.carousel-item-content-holder {
  .carousel-item-content {
    display: none;
    &:first-child {
      display: block;
    }
  }
}

.scrollable-images-holder {
  position: absolute;
  z-index: 100;
  margin-left: 50px;
  left: 50%;
  width: 400px;
  transform: translate3d(-500px, 0, 0);

  transition: all 100ms ease-in;

  min-height: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &.is-fixed {
    top: 0;
    position: fixed;
  }
  &.is-top {
    top: 0;
  }
  &.is-bottom {
    bottom: 60px;
  }
  .scrollable-images-wrapper {
    position: relative;
    top: 0;
    padding-top: 45px;
    left: 0;
    height: 100vh;
    width: 100%;
  }
  .scrollable-image {
    min-height: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: none;
    z-index: 1;
    // transform: translate3d(-50%, -50%, 0);
    position: absolute;
    &:first-child {
      z-index: 2;
    }
    &.is-active {
      display: flex;
      z-index: 2;
    }
  }
  img {
    max-height: 700px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      max-width: 340px;
    }
  }

  .dots-nav {
    position: absolute;
    left: -25px;
    top: calc(50% + 45px);
    transform: translateY(-50%);
    .dot {
      width: 21px;
      height: 21px;
      border: 2px solid $color__text;
      border-radius: 100%;
      margin-bottom: 15px;
      cursor: pointer;

      &.is-active {
        background: $color__text;
      }
    }
  }
}
.scrollable-section {
  width: 50%;
  max-width: 430px;
  margin-right: 5%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    margin: 0;
    margin-bottom: 30px;
    @include font-size(30);
    line-height: 1;
    @media screen and (min-width: 1024px) {
      @include font-size(45);
    }
  }
  p {
    @include font-size(18);
    margin: 0;
    margin-bottom: 45px;
  }
}
