.testimonial-carousel-holder {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include fullwidth-row();
  margin-bottom: 20%;

  margin-top: -120px;
  padding-top: 120px;

  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 0px;
  }
}

.testimonial-images {
  width: 80%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateX(-31%);
  justify-content: flex-end;
  display: flex !important;

  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

.testimonial-contents-holder {
  transform: translateX(-25%) translateY(-15px);
  z-index: 2;
  width: 40%;
  h2 {
    margin: 0 0 12px;
    @media screen and (max-width: 1024px) {
      @include font-size(30);
    }
  }
  @media screen and (min-width: 1680px) {
    width: 30%;
  }
  @media screen and (max-width: 768px) {
    transform: none;
    width: calc(100% - 80px);
    margin: 40px;
  }
  @media screen and (max-width: 680px) {
    width: calc(100% - 40px);
    margin: 20px;
  }
  @media screen and (max-width: 480px) {
    margin: 30px 20px;
  }
  .testimonial-nav {
    margin: 0;
    margin-bottom: 20px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }
}

.testimonial-user-reason {
  @include font-size(30);
  line-height: 1.4;
  font-family: $font__second;
  font-weight: 100;
  margin-bottom: 7%;
}

.testimonial-mobile-info {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    margin: 24px 0;
  }

  .mobile-photo-holder {
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  .mobile-photo-holder + .user-info {
    margin-left: 24px;
    @media screen and (max-width: 768px) {
      margin-left: 12px;
    }
  }
  .user-info {
    p {
      margin: 0;
      font-weight: bold;
    }
  }
}

.image-item {
  position: relative;
  max-width: 600px;
}
.image-user-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 32px;
  text-align: center;
  color: $color__white;
  font-weight: 100;
  p {
    margin: 0;
    @include font-size(18);
    font-weight: 600;
  }
}

.testimonial-cta {
  .btn {
    @include font-size(16);
    @media screen and (max-width: 1024px) {
      min-width: 160px;
      @include font-size(14);
    }

    @media screen and (max-width: 680px) {
      width: 100%;
    }
  }
}
