.information-sections-holder {
  // @include max-width();
  // @media screen and (max-width: 1921px) {
  //   @include fullwidth-row();
  //   width: calc(100vw - 120px);
  // }

  // @media screen and (max-width: 1440px) {
  //   width: calc(100vw - 90px);
  // }
  // @media screen and (max-width: 1024px) {
  //   width: calc(100vw - 60px);
  // }
  // @media screen and (max-width: 768px) {
  //   width: calc(100vw - 40px);
  // }
}

.impact-investion-information-section {
  margin: 4% 0 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 1024px) {
    margin: 4% 0 8%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > div {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &-image {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 67.25%;
    background-size: cover;

    @media screen and (min-width: 812px) {
      background-size: contain;
      padding-bottom: 52.5%;
    }
    @media screen and (min-width: 1024px) {
      padding: 0;
      background-size: contain;
    }
  }
  &-content {
    padding: 20px;
    background-color: $color_info_content;
    flex-direction: column;
    // justify-content: center;
    display: flex;
    @media screen and (min-width: 768px) {
      padding: 50px;
    }
    h2 {
      @media screen and (min-width: 768px) {
        @include font-size(40);
        margin-top: 0;
      }
      font-weight: 100;
      strong {
        font-weight: 700;
      }
    }
    p {
      margin-top: 0;
      @media screen and (min-width: 1025px) {
        @include font-size(18);
      }
    }
  }
}
