.what-differently-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color_info_content;
  // @include max-width();
  padding: 30px 20px;
  flex-direction: column;
  margin: 5% auto 15%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin: 5% auto;
  }

  > div {
    width: 100%;
    @media screen and (min-width: 768px) {
      &:first-child {
        flex-basis: 40%;
      }
      flex-basis: 60%;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 32px;
    @media screen and (min-width: 1024px) {
      padding: 0 30px;
    }
    @media screen and (min-width: 768px) {
      @include font-size(40);
    }
    span{
      font-weight: 100;
    }
  }

  .what-differently-content {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    div {
      @include font-size(18);
      // font-weight: bold;
      flex-basis: 50%;
      line-height: 1.5;
      @media screen and (min-width: 768px) {
        &:first-child {
          margin-right: 30px;
        }
      }
      p {
        margin: 0;
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
