.whitepaper-content-holder {
  display: flex;
  @include max-width();

  flex-direction: column;
  margin: 10% auto 15%;

  @media screen and (max-width: 768px) {
    padding: 0 !important;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  > div {
    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  h2 {
    padding: 0 30px 0 0;
    font-weight: 100;
    @media screen and (min-width: 768px) {
      @include font-size(52);
    }
    strong {
      font-weight: 700;
    }
  }

  .whitepaper-content {
    display: flex;
    flex-direction: column;

    p {
      flex-basis: 50%;
      line-height: 1.5;
      margin-bottom: 42px;
      &:first-child {
        margin-right: 30px;
      }

      @media screen and (min-width: 1025px) {
        @include font-size(18);
      }
    }
    a {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: auto;
      }
    }
  }
}
