.yova-universe {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // padding: 30px;
  align-items: center;
  padding: 3% 0 5%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    overflow: hidden;
    // @include max-width();
  }

  > div {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 50%;
      &:first-child {
        margin-right: 50px;
      }
    }
  }
  h2 {
    margin-top: 0;
    @media screen and (min-width: 768px) {
      @include font-size(40);
    }
  }

  p {
    @include font-size(18);
  }

  .video-card {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .video-iframe {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    &.show-iframe {
      display: block;
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.universe-cta-holder {
  margin: 0 0 30%;
  text-align: center;
  @media screen and (min-width: 1024px) {
    margin: 0 0 15%;
  }
  .btn {
    width: 100%;
    max-width: 100vw;
    @media screen and (min-width: 768px) {
      max-width: 320px;
    }
  }
}
