.landing-v2 {
  
  .banner-box {
    min-height: 480px;
    @media screen and (max-width: 768px) {
      min-height: 320px;
    }
  }
  .banner-title {
    margin-bottom: 32px;
    @media screen and (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
}
