.faq-holder {
  &.landing-v2 {
    padding: 0;
    margin: 0 auto;
    h2 {
      // font-weight: bold;
      text-align: left;
      transform: none;
      @media screen and (max-width: 768px) {
        @include font-size(32);
      }
    }
  }
}
