.page-banner-holder {
  &.landing-v2 {
    @media screen and (max-width: 812px) {
      padding-top: 18%;
      align-items: flex-start;
    }

    @media screen and (max-width: 812px) and (orientation: landscape) {
      padding-top: 14%;
    }
    @media screen and (max-width: 480px) {
      padding-top: 80px;
    }
    .mobile-logo-reverse {
      @media screen and (max-width: 812px) {
        display: flex;
        min-height: calc(90vh - 172px);
        flex-direction: column-reverse;
      }
      @media screen and (max-width: 680px) {
        min-height: calc(100vh - 192px);
      }
    }

    .banner-content {
      padding-bottom: 55px;
      position: relative;
      z-index: 3;
      @media screen and (max-width: 1024px) {
        padding-bottom: 21px;
      }
      @media screen and (max-width: 812px) {
        padding-bottom: 0;
      }
    }
    .banner-text {
      max-width: 100%;
      margin-bottom: 66px;

      
      @media screen and (max-width: 812px) and (orientation: landscape) {
        h1 {
          @include font-size(32);
        }
      }

      @media screen and (max-width: 768px) {
        h1 {
          @include font-size(36);
        }
      }

      p {
        margin-bottom: 32px;
      }

      @media screen and (max-width: 812px) {
        margin-bottom: initial;
        margin-top: auto;
      }
    }
    .banner-actions {
      @media screen and (max-width: 812px) {
        // display: none;
        // padding-bottom: 16px;
        bottom: 15px;
      }
    }

    .btn {
      font-weight: 600;
      &.yova-yellow {
        display: inline-flex;
        align-items: center;
        @media screen and (max-width: 768px) {
          padding: 16px 8px;
        }
        @media screen and (max-width: 480px) {
          padding: 16px 0;
          font-size: 14px;
        }
        &:hover {
          svg {
            path {
              fill: $color__white;
            }
          }
        }
        svg {
          margin-left: 10px;
        }
      }
      &:hover {
        background-color: $color__black;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }

  &.growth-landing {
    .banner-text {
      margin-bottom: 160px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 120px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }

  &.neon {
    .banner-text {
      margin-bottom: 0;
      ul {
        margin-left: 24px;
        margin-bottom: 24px;
        li {
          @include font-size(20);
          @media screen and (max-width: 768px) {
            @include font-size(16);
            line-height: 20px;
          }
        }
      }
    }
  }
}
