.landing-v2-hero-form {
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2147483647;
    display: none;
    align-items: center;
    justify-content: center;
    .lds-dual-ring {
      position: static;
    }
    &.active {
      display: flex;
    }
  }
  .form-control {
    padding: 3px 0;
  }
  .general-error-holder {
    @include font-size(12);
    font-weight: 900;
    color: $color__red;
    margin-bottom: 10px;
  }
  .password-info,
  .error-holder {
    @include font-size(12);
    font-weight: 900;
    color: $color__red;
    margin-top: 10px;

    &.good {
      color: $color__text;
    }
    &.medium {
      color: #f4a22e;
    }
    &.strong,
    &.super-strong {
      color: #98b172;
    }
  }
  .landing-v2-btns-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      margin: 6px 0;
      text-align: center;
    }
  }

  .password-tip {
    p {
      font-weight: bold;
    }
    @include font-size(13);
    ul {
      margin-left: 1rem;
      // padding: 0;
      li {
        &.check {
          list-style: none;
          &:before {
            position: relative;
            top: 2px;
            content: '';
            background: url('assets/images/check-icon.svg') center center no-repeat transparent;
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-left: -17px;
            margin-right: 4px;
          }
        }
      }
    }
  }

  .password-field {
    position: relative;
    input {
      border: none;
    }
    .show-password-holder {
      position: absolute;
      top: 6px;
      right: 0;
      cursor: pointer;
      user-select: none;
      span {
        display: none;
      }
      .show-password-icon {
        display: flex;
      }

      &.is-show {
        .show-password-icon {
          display: none;
        }
        .hide-password-icon {
          display: flex;
        }
      }
    }
    .password-check-bar {
      width: 100%;
      height: 4px;
      background: $color__text;
      .password-strength {
        height: 100%;
        width: 0%;
        background: tomato;
        transition: width 1s ease-in-out;

        &.good,
        &.medium {
          background: #f4a22e;
        }
        &.strong,
        &.super-strong {
          background: #98b172;
        }
      }
    }
  }
  .form-form-holder {
    max-width: 420px;
    margin: 16% auto 14%;

    .gdpr-optin {
      font-size: 12px;
      p {
        margin: 0;
      }
      a{
        text-decoration: underline;
      }
    }

    @media screen and (max-width: 680px) {
      max-width: 90%;
      margin: 100px auto 10%;
    }
    display: block;

    h2 {
      margin-bottom: 0;
    }
    p {
      margin: 10px 0;
    }
    .landing-form {
      width: 100%;
      max-width: none;

      #google-sign-up,
      button {
        cursor: pointer;
        position: relative;
        border: none;
        &.disabled {
          cursor: default;
          background: #ededed;
          color: $color__text;
          border: none;
        }
      }

      @media screen and (max-width: 680px) {
        .btn-black {
          &:focus,
          &:hover {
            background: $color__text;
            color: $color__white;
          }
        }
        .btn-white {
          &:focus,
          &:hover {
            background: $color__white;
            color: $color__text;
          }
        }
      }

      input {
        color: $color__black;
        border-color: $color__black;

        &:focus {
          outline: 0;
          border-bottom-width: 4px;
          color: $color__black;
        }

        &::placeholder {
          color: $color__placeholder;
          opacity: 0.5;
        }

        &:-ms-input-placeholder {
          color: $color__placeholder;
        }

        &::-ms-input-placeholder {
          color: $color__placeholder;
        }

        &.has-error {
          border-color: $color__red;
          border-bottom-width: 4px;
          &:focus {
            border-color: $color__black;
            color: $color__black;
            opacity: 1;
            &::placeholder {
              color: $color__black;
              opacity: 1;
            }

            &:-ms-input-placeholder {
              color: $color__black;
            }

            &::-ms-input-placeholder {
              color: $color__black;
            }
          }

          &::placeholder {
            color: $color__red;
            opacity: 1;
          }

          &:-ms-input-placeholder {
            color: $color__red;
          }

          &::-ms-input-placeholder {
            color: $color__red;
          }
        }
      }
    }
  }
}
