.newsletter-box {
  width: 100%;
  padding: 60px;
  margin: 0 30px 42px;
  background: url("assets/images/newsletter-box-bg.png") 0 0 $color__yellow
    no-repeat;
  background-size: cover;

  &.career {
    background: url("assets/images/career-newsletter-bg.png") 0 0 $color__text
      no-repeat;
    @media screen and (max-width: 1024px) {
      background-position: 70%;
    }

    .newsletter-form-holder{
      max-width: none;
      min-width: none;
    }
  }

  @media screen and (max-width: 1440px) {
    @include max-width();
    max-width: 990px;
    padding: 60px;
    margin-bottom: 48px;
  }

  @media screen and (max-width: 768px) {
    max-width: 710px;
    margin: 0 auto 24px;
    padding: 30px;
  }
  @media screen and (max-width: 680px) {
    width: 100%;
    margin: 0 auto 24px;
    background-position: center;
  }

  @media screen and (max-width: 480px) {
    padding: 20px;
  }

  .message-holder {
    width: 75%;
    @include font-size(55);
    line-height: calc(58 / 55);
    font-weight: 700;
    color: $color__white;
    position: relative;
    margin-bottom: 42px;

    @media screen and (max-width: 1440px) {
      @include font-size(42);
    }
    @media screen and (max-width: 768px) {
      @include font-size(36);
      width: 100%;
      font-weight: 900;
      line-height: 1;
    }

    span {
      display: flex;
      align-items: center;
      @media screen and (max-width: 680px) {
        display: block;
      }
    }
    u {
      display: flex;
      margin-left: 15px;
      @include font-size(14);
      line-height: 1;
      text-decoration: underline;
      @media screen and (max-width: 680px) {
        display: block;
        font-weight: normal;
        margin: 15px 0 0 0;
      }
    }
  }

  .newsletter-form {
    background: $color__white;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.03em;
    @include font-size(15);
    input {
      font-weight: 900;
      min-width: 70%;
      @media screen and (max-width: 680px) {
        min-width: 60%;
      }
    }
    button {
      text-transform: uppercase;
    }
  }
}
