.gdpr-infobar-visible {
  @media screen and (min-width: 768px) {
    overflow: hidden !important;
  }
}

.gdpr-infobar-visible::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2F2C26;
  opacity: 0.6;
  z-index: 10000001;

  @media screen and (max-width: 768px) {
    opacity: 0.4;
  }
}

.gdpr_lightbox {
  z-index: 20000000 !important;
  background: rgba(0, 0, 0, .6)!important;
}

#moove_gdpr_cookie_info_bar {
  content-visibility: visible!important;
  z-index: 10000002!important;

  h3 {
      font-family: $font__second!important;
      font-size: 32px!important;
      line-height: 1.125!important;
      margin: 0 0 24px 0!important;
  }
  p {
      font-family: $font__main;
      font-size: 16px!important;
      line-height: 1.4!important;
      margin: 0!important;
  }
  .moove-gdpr-info-bar-content {
      padding: 0!important;
      position: relative;
      .img-wrapper {
          position: absolute;
          bottom: 38px;
          right: 0;
          z-index: -1;
        
          text-align: right;
          img{
              width:70%;
          }
      }
  }
}

#privacy_overview .moove-gdpr-tab-main-content {
  @media screen and (min-width: 812px) {
      padding-right: 260px !important;
  }
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
  @media screen and (min-width: 812px) {
      padding: 60px 0 !important;
      width: 100%!important;
      @include max-width();
  }
  .moove-gdpr-info-bar-content {
      padding: 0!important;
      justify-content: space-between!important;
  }
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme {
  background-color: $color_info_content!important;
  border-top: none !important;
  font-family: $font__main !important;
}

.moove-gdpr-modal-title {
  font-size: 36px !important;
  .tab-title {
      font-family: $font__second !important;
      font-size: 32px !important;
      margin-bottom: 24px !important;
      @media screen and (max-width: 768px) {
          padding-right: 15% !important;
          font-size: 28px !important;
      }
  }
}

.main-modal-content{

  scrollbar-width:none!important;
  
}

.tab-title {
  font-weight: 700 !important;
  font-size: 20px !important;
}

.moove-gdpr-modal-right-content {
  background-color: $color__background-body !important;
  @media screen and (min-width: 812px) {
      background: url('./assets/images/cookies.png') top right #f8f6f1 no-repeat !important;
  }
  padding-bottom: 100px !important;
  @media screen and (max-width: 768px) {
      padding-bottom: 180px !important;
  }
}

.moove-gdpr-company-logo-holder {
  display: none !important;
}

.moove-gdpr-modal-footer-content {
  background: #f8f6f1 !important;
  height: 100px !important;
  &:before {
      bottom: 100px !important;
      border: 1px solid #e5e5e5 !important;
  }
  @media screen and (max-width: 768px) {
      height: 140px !important;
      &:before {
          bottom: 140px !important;
      }
  }
}

.moove-gdpr-branding-cnt {
  display: none !important;
}

.moove-gdpr-button-holder {
  display: flex!important;
  justify-content: flex-end !important;
}

#moove_gdpr_cookie_info_bar {
  .moove-gdpr-button-holder {
      align-self: flex-end!important;
      flex-direction: row-reverse !important;
      @media screen and (max-width: 768px) {
          justify-content: center !important;
          .mgbutton {
             min-width: unset;
              margin:4px !important;
          }
      }
  }
}

.moove-gdpr-modal-footer-content {
  .moove-gdpr-button-holder {
      @media screen and (max-width: 768px) {
          justify-content: space-evenly !important;
          button {
              transform: none !important;
          }
      }
      @media screen and (max-width: 640px) {
          flex-direction: column !important;
      }
  }
}

.mgbutton {
  min-width: 177px;
  float: none !important;
  clear: both;
  border: none !important;
  margin: 0 4px !important;
  font-weight: bold !important;
  font-size: 16px !important;
  padding: 12px 32px !important;
  @media screen and (max-width: 768px) {
      margin: 4px 0 !important;
  }
  &.moove-gdpr-modal-allow-all {
      font-size: 14px !important;
      background: $color__white !important;
      color: $color__link !important;
  }
  &.moove-gdpr-modal-save-settings {
      font-size: 14px !important;
      color: $color__white !important;
      background: $color__link !important;
  }
  &.change-settings-button {
      background-color: $color__white !important;
      opacity: 1!important;
      box-shadow: none!important;
      &:hover {
          background-color: $color__yellow !important;
          color: $color__white !important;
      }
  }
  &.moove-gdpr-infobar-allow-all {
      background-color: $color__link !important;
      &:hover {
          background-color: $color__yellow !important;
          color: $color__white !important;
      }
  }
  &:hover {
      background-color: $color__yellow !important;
      color: $color__white !important;
  }
  @media screen and (hover: none) {
      width: 100% !important;
      padding: 16px !important;
  }
}

#moove_gdpr_cookie_modal .cookie-switch input:checked+.cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch input:checked+.slider,
#moove_gdpr_cookie_modal .switch input:checked+.cookie-slider,
#moove_gdpr_cookie_modal .switch input:checked+.slider {
  background-color: $color__green !important;
  &:after {
      color: $color__green !important;
  }
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-status-bar.gdpr-checkbox-disabled {
  display: none !important;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch .slider,
#moove_gdpr_cookie_modal .switch .cookie-slider,
#moove_gdpr_cookie_modal .switch .slider {
  background-color: $color__link !important;
  &:after {
      color: $color__link !important;
  }
}

.moove-gdpr-modal-close {
  @media screen and (min-width: 1024px) {
      display: none !important;
  }
  top: 0 !important;
  right: 0 !important;
  width: 60px !important;
  height: 60px !important;
  span.gdpr-icon {
      border-radius: 0 !important;
      width: 60px !important;
      height: 60px !important;
      font-size: 24px !important;
      border: 0 !important;
      background: none !important;
      color: #232323 !important;
  }
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content {
  border-radius: 0 !important;
}

@media screen and (max-width: 768px) {
  .main-modal-content {
      padding-bottom: 60px !important;
  }
  .img-wrapper {
      display: none;
  }
}

#moove_gdpr_cookie_modal {
  @media screen and (max-width: 768px) {
      .cookie-switch {
          .cookie-slider {
              width: 52px !important;
              height: 28px !important;
              &:before {
                  width: 24px !important;
                  height: 24px !important;
              }
              &:after {
                  left: 60px !important;
                  top: 0 !important;
              }
          }
          input:checked+.cookie-slider:before {
              transform: translateX(24px) !important;
          }
      }
      .moovegdpr-arrow-close {
          &:after,
          &:before {
              width: 2px !important;
              height: 16px !important;
              top: calc(50% - 8px) !important;
          }
      }
  }
}