.site-footer {
    background: #e5e5e5;
    padding: 13.5% 0 30%;
    background-image: url(assets/images/footer-bg.jpg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 1440px) {
        .content-wrapper {
            max-width: 1020px;
        }
    }
    @media screen and (max-width: 1024px) {
        .content-wrapper {
            max-width: 970px;
        }
    }
    @media screen and (max-width: 825px) {
        padding: 6% 0 50%;
        .content-wrapper {
            max-width: 730px;
        }
    }
    @media screen and (max-width: 680px) {
        background: #e5e5e5;
        background-image: none;
        padding: 40px 0 20px;
    }
}

.footer {
    &-content {
        display: flex;
        @media screen and (max-width: 1023px) {
            display: block;
        }
    }
    &-company-box {
        width: 180px;
        color: $color__text;
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
        img {
            width: 106px;
            display: block;
            @media screen and (min-width: 1024px) {
                margin-bottom: 15px;
            }
        }
    }
    &-menu-holder {
        min-width: 750px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        @media screen and (max-width: 1440px) {
            min-width: 585px;
        }
        @media screen and (max-width: 768px) {
            min-width: 500px;
        }
        @media screen and (max-width: 680px) {
            min-width: 100%;
        }
        .site-info {
            padding-top: 12px;
            border-top: 1px solid $color__black;
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include font-size(12);
            @media screen and (max-width: 1440px) {
                margin-top: 0;
                padding-top: 12px;
            }
            img {
                display: block;
            }
        }
    }
    &-swiss-made {
        width: 100%;
        @media screen and (max-width: 1023px) {
            display: flex;
            justify-content: space-between;
            margin: 32px 0 16px 0;
        }
        img {
            float: right;
            display: block;
            margin-bottom: 10px;
            max-width: 127px;
        }
    }
    &-menu {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        .mobile-col,
        .col {
            display: flex;
            flex-direction: column;
            width: 33.33%;
            @media screen and (max-width: 1023px) {
                display: none;
            }
            &:last-child {
                align-items: flex-end;
                li {
                    text-align: right;
                }
            }
            ul {
                @include reset-list();
                li {
                    display: block;
                    a {
                        display: inline-flex;
                        @include font-size(14);
                        line-height: 1;
                        margin: 0 0 16px 0;
                        text-decoration: underline;
                        color: $color__text;
                        @media screen and (max-width: 1440px) {
                            @include font-size(14);
                            margin: 8px 0;
                        }
                        &:hover {
                            color: $color__red;
                            border-color: $color__red;
                        }
                    }
                }
            }
        }
        .mobile-col {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            @media screen and (min-width: 1024px) {
                display: none;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                li {
                    width: calc(50% - 20px);
                    margin-right: 20px;
                    align-self: flex-start;
                    a {
                        margin: 0 0 8px 0;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
    &-social-media-icons {
        @include reset-list();
        margin-top: 16px;
        display: flex;
        @media screen and (max-width: 1024px) {
            margin-top: 12px;
            flex-wrap: wrap;
        }
        li {
            margin-right: 8px;
            @media screen and (max-width: 1024px) {
                margin-bottom: 8px;
            }
            @include bg-color($color__black, 0.1);
            display: flex;
            border-radius: 44px;
            transition: all 0.2s ease-in-out,
            opacity 0.2s ease-in-out;
            &:hover {
                background-color: $color__text;
            }
            &:last-child {
                // margin: 0;
            }
            a {
                width: 44px;
                height: 44px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    path {
                        transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
                        fill: $color__white;
                    }
                }
            }
        }
    }
}

.newsletter-form-holder {
    display: flex;
    flex-direction: column;
    position: relative;
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
    background: #dcdcdc;
    padding: 12px;
    flex-wrap: wrap;
    @media screen and (max-width: 1440px) {
        padding: 9px 11px;
    }
    @media screen and (max-width: 768px) {
        display: block;
    }
    button {
        border: none;
        background: none;
        font-weight: 900;
        padding: 0;
        outline: 0;
        cursor: pointer;
        color: $color__text;
        &:hover {
            color: $color__red;
        }
        @media screen and (max-width: 768px) {
            float: right;
            margin-top: 5px;
        }
    }
    input {
        border: none;
        font-weight: 400;
        background: none;
        line-height: 1;
        @include font-size(14);
        outline: 0;
        width: 80%;
        @media screen and (max-width: 1440px) {
            @include font-size(14);
        }
        @media screen and (max-width: 768px) {
            margin-top: 2px;
        }
        &:active,
        &:focus {
            outline: 0;
            background: none;
        }
    }
}

.form-message {
    @include font-size(12);
    font-weight: 600;
    color: $color__red;
    margin-top: 5px;
    @media screen and (min-width: 1024px) {
        position: absolute;
        bottom: -40px;
        width: 350px;
    }
    &.success {
        color: $color__green;
    }
}

.footer-company-mobile {
    margin-bottom: 32px;
    @media screen and (max-width: 1024px) {
        display: flex;
    }
}

.footer-mobile-hide {
    display: none;
    @media screen and (min-width: 1024px) {
        display: block;
    }
    .footer-social-media-icons {
        margin-top: 0;
        margin-left: 12px;
        @media screen and (min-width: 1024px) {
            margin-left: 0;
            margin-top: 12px;
            li {
                margin-bottom: 0;
            }
        }
    }
}

.footer-menu-wrapper {
    position: relative;
    .newsletter-holder {
        @media screen and (min-width: 1024px) {
            width: 66.66%;
            position: absolute;
            height: 50px;
            bottom: 40px;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.mobile-address {
    font-size: 12px;
    line-height: 18px;
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.mobile-social-media {
    margin: 32px 0;
    .footer-social-media-icons {
        margin: 0;
        justify-content: center;
        li {
            margin: 0 24px 0 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        display: none;
    }
}