.site-header {
    background: $color__white;
    // padding: 28px 28px 25px;
    // width: calc(100% - 40px);
    // margin: 20px;
    padding: 21px 28px 21px;
    margin: 16px;
    width: calc(100vw - 32px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000;
    &.hide-sticky {
        transition: all 300ms ease-in;
        top: -100px;
    }
    &.sticky-shadow {
        margin-top: 0;
        position: fixed;
        .wpml-ls-legacy-dropdown {
            display: block;
        }
    }
    @media screen and (max-width: 1023px) {
        margin: 0;
        width: 100vw;
        padding: 20px;
    }
    @media screen and (max-width: 812px) {
        // width: 100vw;
    }
    @media screen and (max-width: 360px) {
        padding: 15px 10px;
    }
}

.yova-yellow-btn {
    margin-left: 18px;
    padding-left: 28px;
    border-left: 1px solid $color__text;
    @media screen and (max-width: 1024px) {
        padding-left: 8px;
    }
    @media screen and (max-width: 812px) {
        border: none;
        padding-left: 0;
        border-color: $color__yellow !important;
    }
    a {
        display: flex !important;
        align-items: center;
        flex-direction: row-reverse;
        @media screen and (max-width: 812px) {
            display: inline-flex !important;
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: $color__yellow;
            left: 0;
            bottom: -28px;
            opacity: 0;
            transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
            @media screen and (max-width: 1440px) {
                bottom: -30px;
            }
            @media screen and (max-width: 1024px) {
                bottom: -24px;
            }
        }
        &:hover {
            color: $color__yellow;
            @media screen and (min-width: 1025px) {
                &:after {
                    opacity: 1;
                }
            }
        }
        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background: url(assets/images/yova-yellow-icon.svg) transparent no-repeat center;
            background-size: contain;
            margin-left: 12px;
            @media screen and (min-width: 812px) and (max-width: 1024px) {
                width: 16px;
                height: 16px;
                margin-left: 8px;
            }
        }
    }
}

.page-template-yova-yellow {
    .yova-yellow-btn {
        display: none;
    }
    .site-branding {
        @media screen and (max-width: 680px) {
            min-width: 55px;
        }
    }
}

.site-branding {
    margin-right: 4%;
    min-width: 120px;
    img,
    a {
        display: block;
        max-height: 42px;
        &.yova-yellow-logo {
            max-height: 42px;
        }
    }
    img {
        @media screen and (max-width: 1440px) {
            height: auto;
        }
        @media screen and (max-width: 1281px) {
            height: 30px;
        }
        @media screen and (max-width: 680px) {
            height: 27px;
        }
    }
    @media screen and (max-width: 1440px) {
        min-width: 110px;
        margin-right: 3.5%;
    }
    @media screen and (max-width: 1024px) {
        margin-right: 10px;
    }
    @media screen and (max-width: 680px) {
        min-width: 80px;
        margin: 0;
    }
}

.app-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    @include font-size(18);
    white-space: nowrap;
    .btn {
        min-width: 160px;
        &.yova-yellow {
            display: inline-flex;
            align-items: center;
            &:hover {
                svg {
                    path {
                        fill: $color__white;
                    }
                }
            }
            >svg {
                margin-left: 10px;
            }
        }
        @media screen and (max-width: 1440px) {
            @include font-size(15);
            padding: 16px 20px;
        }
        @media screen and (max-width: 1281px) {
            @include font-size(15);
            padding: 8px 12px;
            line-height: 18px;
            min-width: auto;
            max-width: 160px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        @media screen and (max-width: 812px) {
            margin: 0 15px 0 0;
        }
        @media screen and (max-width: 360px) {
            // display: none;
            @include font-size(13);
            margin: 0 10px 0 0;
            padding: 8px;
            &.js-history-back {
                display: flex;
            }
            &.landing-cta {
                display: block;
                margin: 0;
                margin-right: 12px;
            }
        }
    }
    >a {
        margin: 0px 12px 0;
        @include font-size(16);
        &.help-link {
            display: none;
            @media screen and (min-width: 1281px) {
                display: flex;
            }
        }
        &.login-link {
            @media screen and (max-width: 680px) {
                display: none;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        @media screen and (max-width: 1440px) {
            margin: 0px 13px 0;
        }
    }
}

.wpml-ls-legacy-dropdown {
    width: 60px;
    pointer-events: initial;
}

.wpml-ls-legacy-dropdown a {
    font-weight: 600;
    border: none;
    color: $color__black;
    @include font-size(14);
    transition: background 240ms ease-in-out, color 240ms ease-in-out;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.wpml-ls-legacy-dropdown .wpml-ls-item:last-child a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
    width: 12px;
    height: 12px;
    background: url(assets/images/lang-arrow.svg) no-repeat transparent center;
    border: none;
    background-size: 100%;
    top: calc(50% - 6px);
}

.wpml-ls-legacy-dropdown a:hover,
.wpml-ls-legacy-dropdown a:focus,
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu a:hover {
    // @include bg-color($color__grey, 0.2);
    color: $color__red;
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu a {
    border-width: 0 1px 1px 1px;
    // @include bg-color($color__grey, 0.2);
}

.site-header {
    .wpml-ls-legacy-dropdown {
        // display: none;
    }
}

.banner-actions {
    position: absolute;
    width: 100%;
    // padding: 72px 42px 62px 34px;
    padding: 72px 42px 45px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    pointer-events: none;
    .scroll-btn {
        width: 32px;
        height: 32px;
        background-size: 100%;
        background-position: center;
        display: block;
        background-image: url(assets/images/scroll-btn.svg);
        pointer-events: initial;
    }
    .wpml-ls-legacy-dropdown {
        .wpml-ls-item {
            border: none;
            &:hover {
                .wpml-ls-sub-menu {
                    border: none;
                }
            }
            &:last-child a {
                background: none;
                color: $color__white;
                &:hover {
                    color: $color__black;
                    @include bg-color($color__white, 1);
                }
            }
        }
        a {
            border-radius: 0;
            &.wpml-ls-item-toggle:hover {
                &:after {
                    background-image: url(assets/images/lang-arrow.svg);
                }
            }
            &.wpml-ls-item-toggle:after {
                background-image: url(assets/images/lang-arrow-white.svg);
                top: calc(50% - 6px);
            }
            &:hover,
            &:focus {
                color: $color__red;
                @include bg-color($color__grey, 1);
            }
        }
        .wpml-ls-sub-menu a {
            @include bg-color($color__white, 1);
        }
    }
    @media screen and (max-width: 1024px) {
        padding: 0 32px 32px 32px;
    }
    @media screen and (max-width: 768px) {
        display: none;
        // padding: 0 22px 22px;
        // .scroll-btn,
        // .wpml-ls-legacy-dropdown {
        //   display: none;
        // }
    }
}

.hambuger-menu {
    display: none;
    .hamburger-menu-btn {
        .menu-icon,
        .close-icon {
            display: none;
            align-items: center;
            justify-content: center;
            width: 20px;
        }
        .menu-icon {
            display: flex;
        }
        &.is-open {
            .menu-icon {
                display: none;
            }
            .close-icon {
                display: flex;
            }
        }
    }
    @media screen and (max-width: 1023px) {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .site-header .wpml-ls-legacy-dropdown {
        display: block;
    }
}