// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

@import "primary/comments";
.admin-bar {
    .site-header {
        margin-top: 52px;
    }
}

.content-wrapper {
    @include max-width();
}

@import "header";
@import "footer";
@import "pages/general";
@import "pages/homepage";
@import "pages/approach";
@import "pages/testimonial";
@import "pages/team-members";
@import "pages/pricing";
@import "pages/contact";
@import "pages/career";
@import "pages/single";
@import "pages/about";
@import "pages/landing";
@import "pages/landing-v2";
@import "pages/landing-neon";
@import "pages/savings";
@import "pages/yova-yellow/yova-yellow";
@import "pages/growth";
@import "pages/media";
@import "pages/roadmap";
@import "pages/social-proof";
@import "pages/impact-investing";
@import "pages/german-waitlist/german-waitlist";
@import "cookie";
@import "pages/waitlist";
@import "pages/maintenance";
.pixel-perfect {
    position: absolute;
    z-index: 10000000000;
    width: 100%;
    height: auto;
    pointer-events: none;
    top: 0px;
    img {
        width: 100%;
        opacity: 0.2;
    }
}

.site {
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    &.show-bg {
        @media screen and (max-width: 1024px) {
            background-image: var(--mobile-background);
        }
    }
    @media screen and (min-width: 1024px) {
        background-size: contain;
        background-image: var(--background);
    }
}

.error-404 {
    text-align: center;
    padding-bottom: 62px;
    position: absolute;
    width: 100%;
    max-width: 920px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (min-width: 1024px) {
        padding-bottom: 8%;
    }
    @media screen and (min-width: 1680px) {
        padding-bottom: 125px;
    }
    @media screen and (orientation: landscape) and (max-width: 1023px) {
        padding-bottom: 5%;
    }
    .page-header {
        display: none;
    }
    .page-content {
        h2 {
            font-weight: bold;
            @include font-size(26);
            line-height: calc(31/26);
            text-align: center;
            color: $color__white;
            text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
            margin: 0 20px 48px 20px;
            @media screen and (max-width: 320px) {
                @include font-size(21);
            }
            // ipad pro
            @media screen and (min-width: 1024px) and (orientation: portrait) {
                @include font-size(42);
                margin: 0 0 48px 0;
            }
            @media screen and (min-width: 1025px) {
                @include font-size(42);
                margin: 0 0 48px 0;
            }
        }
    }
}

.error404 .site-content {
    min-height: 98vh;
    position: relative;
    max-width: 100%;
    padding: 0;
    @media screen and (min-width: 1025px) {
        min-height: 100vh;
    }
    @media screen and (orientation: landscape) and (max-width: 1023px) {
        min-height: 150vh;
    }
}

.error-404-holder {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: inherit;
    background-image: var(--mobile-background-404);
    @media screen and (min-width: 680px) {
        background-image: var(--background-404);
    }
    @media screen and (orientation: landscape) {
        background-image: var(--background-404);
    }
}

// html[lang="fr-FR"] {
//   // .wpml-ls {
//   //   display: none !important;
//   // }
// }
// .wpml-ls-sub-menu {
//   .wpml-ls-item-fr {
//     // display: none !important;
//   }
// }
// .wpml-ls-item-fr {
//   // display: none !important;
// }
div[id^="french-landing"] {
    display: block;
    .newsletter-form {
        justify-content: flex-start;
        background: transparent;
        padding: 0 !important;
        button,
        input {
            height: 55px;
            background: #fff;
            padding: 8px 12px;
            @media screen and (max-width: 680px) {
                height: 48px;
            }
        }
        input {
            margin: 0;
            width: 67.5%;
            @media screen and (max-width: 680px) {
                width: calc(100% - 120px);
            }
        }
        button {
            margin-left: 15px;
            padding: 8px 24px;
            &:hover {
                background: $color__black;
                color: $color__white;
            }
            @media screen and (max-width: 680px) {
                margin: 0;
                max-width: 118px;
            }
        }
    }
}

.french-subscribe-form-holder {
    max-width: 420px;
    margin: 0 auto;
    display: none;
    &.is-active {
        display: block;
    }
    &.black-btn {
        button {
            background: $color__black !important;
            color: $color__white !important;
            &:hover {
                background: $color__yellow !important;
                color: $color__white !important;
            }
        }
    }
}

.french-hero {
    .banner-actions {
        justify-content: flex-end;
    }
}