.page-template-german-waitlist {
  background: #f4eee2;
}

.german-waitlist {
  margin: 80px 0;
  min-height: 640px;
  display: flex;

  label {
    span {
      color: #ee3c15;
    }
  }

  @media screen and (min-width: 1024px) {
    margin: 120px 0;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1140px) {
    margin: 200px 0;
  }

  .success-holder,
  .form-form-holder {
    max-width: 380px;
    margin: 0 auto;

    &.hide {
      display: none;
    }
    h2 {
      @include font-size(32);
      line-height: 105%;
      margin-bottom: 12px;
    }
    label {
      @include font-size(12);
      line-height: 18px;
      font-weight: bold;
      color: #2f2c26;
      text-transform: uppercase;
      font-weight: 800;
    }
    .css-label {
      font-weight: normal;
      @include font-size(16);
      line-height: 140%;
      text-transform: unset;
    }
  }

  .privacy-link {
    font-weight: 500;
    @include font-size(12);
    line-height: 18px;
    text-align: center;
    a {
      white-space: nowrap;
      text-decoration: underline;
    }
  }

  .success-holder {
    display: none;
    text-align: center;

    &.show {
      display: block;
    }
    p {
      margin-bottom: 48px;
    }
  }
}
