.banner-boxes-holder {
  @include fullwidth-row();
  &.landing-v2 {
    overflow: hidden;
  }

  &.fireflie {
  }

  +.new-cta-holder{
    margin-bottom: 100px;
  }
}

.banner-boxes-title-holder {
  text-align: center;
  margin: 0 20px;
  span {
    font-weight: normal;
  }
}

.banner-boxes {
  margin: 60px;
  display: flex;
  @media screen and (max-width: 1440px) {
    margin: 45px;
  }
  @media screen and (max-width: 1024px) {
    margin: 30px;
  }
  @media screen and (max-width: 768px) {
    margin: 20px;
    // display: block;
  }
  @media screen and (max-width: 680px) {
    display: block;
  }
}
.banner-box {
  min-height: 1000px;
  padding: 70px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color__white;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 33.33%;
  

  .tooltip {
    border-color: #fff;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1680px) {
    min-height: 875px;
    padding: 54px 46px;
  }
  @media screen and (max-width: 1440px) {
    min-height: 750px;
  }
  @media screen and (max-width: 1024px) {
    min-height: 535px;
    padding: 32px;
  }
  @media screen and (max-width: 768px) {
    min-height: 450px;
    padding: 20px;
  }

  @media screen and (max-width: 680px) {
    min-height: 470px;
    margin-bottom: 20px;
    width: 100%;
  }

  @media screen and (max-width: 360px) {
    min-height: 360px;
  }

  @media screen and (max-width: 1024px) {
    position: relative;
    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }
    // .learn-more-label {
    //   display: none;
    // }
    .close-label {
      display: block;
    }
    .banner-title-holder {
      transform: translateY(0);
      position: relative;
      z-index: 2;
    }
    p{
      position: relative;
      z-index: 2;
    }
    .banner-desc {
      height: auto;
      opacity: 1;
      transform: translateY(0);
      min-height: 45px;
      position: relative;
      z-index: 2;
    }
  }

  .btn {
    // display: none;
    @include font-size(16);
    margin-top: 20px;
    position: relative;
    z-index: 10000000;
    &:hover {
      background: $color__white;
      color: $color__text;
    }
    @media screen and (max-width: 1280px) {
      max-width: 100%;
      min-width: 100%;
    }
    @media screen and (max-width: 680px) {
      display: flex;
    }
  }

  p {
    margin: 0;
  }
  .learn-more-label {
    display: block;
  }
  .close-label {
    // display: none;
  }

  &.landing {
    .banner-title-holder {
      transform: none;
      margin: 0;
    }
  }

  @media screen and (min-width: 680px) {
    &:hover:not(.landing) {
      .banner-title-holder {
        transform: translateY(0);
      }
      .banner-desc {
        height: auto;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.banner-title-holder {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  transform: translateY(100px);
  transition: all 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  span {
    display: block;
  }
}

.banner-no {
  @include font-size(17);
  margin-right: 50px;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;

  @media screen and (max-width: 1680px) {
    @include font-size(12);
    margin-right: 24px;
  }
  @media screen and (max-width: 768px) {
    margin-right: 20px;
  }
}

.banner-title {
  font-family: $font__second;
  @include font-size(40);
  line-height: calc(52 / 40);
  font-weight: bold;
  margin: 0;

  @media screen and (max-width: 1680px) {
    @include font-size(36);
    line-height: 1;
  }
  @media screen and (max-width: 1024px) {
    @include font-size(26);
    hyphens: auto;
  }
}

.banner-desc {
  opacity: 0;
  height: 0;
  transform: translateY(100px);
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  @include font-size(18);
  line-height: 1.3;
  min-height: 92px;

  @media screen and (max-width: 1024px) {
    @include font-size(14);
  }
  @media screen and (max-width: 680px) {
    min-height: 75px;
  }
}
