.champions-bg-holder {
  @include fullwidth-row();
  padding: 10% 0;
  @media screen and (max-width: 680px) {
    padding: 10% 20px;
  }
}

.company-testimonials-holder {
  display: flex;
  justify-content: space-between;
  margin: 15% auto 5%;
  max-width: 1100px;

  &.yova-yellow {
    margin: 0 auto;
  }

  @media screen and (max-width: 1024px) {
    margin: 15% auto 10%;
    max-width: 720px;
  }

  @media screen and (max-width: 680px) {
    display: block;
  }
}

.company-testimonials-holder + .new-cta-holder {
  margin-bottom: 10%;
}

.company-testimonial-title {
  max-width: 300px;
  min-width: 240px;

  @media screen and (max-width: 680px) {
    max-width: 100%;
  }
  h2 {
    @include font-size(72);
    line-height: calc(78 / 72);
    font-weight: 100;
    margin: 0;
    @media screen and (max-width: 1440px) {
      @include font-size(60);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(42);
    }
    @media screen and (max-width: 680px) {
      margin-bottom: 32px;
      br {
        display: none;
      }
    }
  }
}

.company-testimonials,
.company-testimonials-wrapper {
  margin-left: 140px;
  margin-bottom: 180px;
  @media screen and (max-width: 1680px) {
    margin-left: 105px;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 10px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
  > .company-testimonials {
    margin: 0;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .btn {
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.company-testimonial {
  display: none;
  &.active {
    display: block;
  }
}
.company-testimonial-logo-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    align-self: flex-start;
    max-height: 46px;
    @media screen and (max-width: 1024px) {
      // max-height: 36px;
    }
  }
}

.company-testimonial-logo-user > div + .user-info {
  margin-left: 24px;
}

.user-info {
  h3 {
    @include font-size(22);
    font-weight: 900;
    line-height: 1;
    font-family: $font__main;
    margin: 0;
    @media screen and (max-width: 1024px) {
      @include font-size(16);
    }
  }
  span {
    @include font-size(14);
    display: inline-block;
    margin-top: 6px;
    @media screen and (max-width: 768px) {
      @include font-size(12);
    }
  }
}

.user-testimonial {
  margin: 40px 0 60px;
  hyphens: auto;
  @include font-size(52);
  line-height: 1.3;
  font-weight: 900;
  font-family: $font__second;
  @media screen and (max-width: 1680px) {
    @include font-size(60);
  }
  @media screen and (max-width: 1440px) {
    @include font-size(40);
    margin: 20px 0 30px;
  }

  @media screen and (max-width: 1024px) {
    @include font-size(30);
    line-height: 1.5;
    margin: 10px 0 40px;
  }
  @media screen and (max-width: 768px) {
    margin: 20px 0 40px;
    @include font-size(28);
  }
}

.company-testimonial-user-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
  a {
    display: block;
    margin-right: 40px;

    max-width: 95px;
    padding-bottom: 24px;
    border-bottom: 4px solid rgba(47, 44, 38, 0.2);

    &:hover,
    &.active {
      border-bottom: 4px solid $color__black;
    }

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 1680px) {
      margin-right: 30px;
      padding-bottom: 12px;
    }

    @media screen and (max-width: 1024px) {
      max-width: 68px;
      margin-right: 20px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 15px;
    }
    @media screen and (max-width: 360px) {
      margin-right: 4px;
    }
  }

  .company-person-image {
    width: 52px;
    height: 52px;
    background-position: center;
    background-size: cover;
    @media screen and (min-width: 1024px) {
      width: 95px;
      height: 95px;
    }
  }
}
