.digital-approach {
  margin: 100px auto;
  max-width: 1024px;

  img {
    max-width: 82%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {
    text-align: center;
    margin: 180px auto;
  }


  .digital-approach-video-holder {
    margin: 30px auto 0;
    max-width: 100%;
    @media screen and (min-width: 1024px) {
      max-width: 80%;
    }
  }

  .digital-approach-video-card {
    display: block;
    // cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // @media screen and (max-width: 1024px) {
    //   display: none;
    // }
    &:hover {
      cursor: pointer;
      .yt-play {
        background: $color__yellow;
      }
    }
    // &:hover {
    //   opacity: 0.8;
    // }
    img {
      max-width: initial;
      display: block;
      width: 100%;
    }
  }
  .digital-approach-iframe {
    display: none;

    // @media screen and (max-width: 1024px) {
    //   display: block;
    // }

    &.show-iframe {
      display: block;
    }

    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
    }
    .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.digital-approach-content {
  margin: 0 auto;

  h2 {
    margin: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 1024px) {
      @include font-size(32);
    }
  }
  p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.8;
    @include font-size(22);
    line-height: 164%;

    @media screen and (max-width: 1440px) {
      @include font-size(18);
    }

    @media screen and (max-width: 1024px) {
      width: auto;
      margin: 0 auto;
      @include font-size(14);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
