.homepage-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 100px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1024px) {
    margin: 120px 0 180px;
  }

  .desktop-image {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  .mobile-image {
    display: block;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.homepage-info-image {
  @media screen and (min-width: 768px) {
    width: 60%;
  }
}
.homepage-info-content {
  @media screen and (min-width: 768px) {
    width: 40%;
    text-align: right;
    max-width: 480px;
  }
  h2 {
    margin: 0;
    @include font-size(30);
    line-height: 1;

    font-weight: 900;
    margin-bottom: 30px;

    span {
      font-weight: 200;
    }

    @media screen and (min-width: 1024px) {
      @include font-size(57);
    }
  }

  p {
    margin: 0;
    @include font-size(18);
  }
}

.homepage-info-new-cta-holder {
  width: 100%;
  text-align: center;

  @media screen and (min-width: 1024px) {
    margin-top: 50px;
  }
  a {
    width: 100%;
    max-width: 375px;
    margin-top: 32px;
  }
}
