.social-pages + .homepage-info-section {
  margin-top: 0;
}

.social-pages {
  margin: 0 0 40px 0;
  padding: 30px 20px;
  background-color: #f3eee1;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-size: cover;
  background-position: -80%;

  @media screen and (min-width: 390px) {
    background-position: -100%;
  }
  @media screen and (min-width: 410px) {
    background-position: 145px;
  }
  @media screen and (min-width: 660px) {
    background-size: contain;
    background-position: 110%;
  }
  @media screen and (min-width: 1024px) {
    padding: 40px 5%;
    align-items: center;
    flex-direction: row;
  }
  @media screen and (min-width: 1140px) {
    padding: 60px 10%;
  }

  h2 {
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    @media screen and (min-width: 1024px) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  .footer-social-media-icons {
    margin: 0;
    margin-top: 12px;
    @media screen and (min-width: 1024px) {
      margin: 0;
      margin-left: 40px;
    }
    li {
      background-color: $color__text;
      &:hover {
        background-color: $color__white;
      }
      a {
        path {
          fill: $color__white;
        }
        &:hover {
          path {
            transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
            fill: $color__text;
          }
        }
      }
    }
  }
}