html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

@import "lists";

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
@import "tooltip";

.text-left {
  text-align: left !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input::-webkit-input-placeholder,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: $color__text !important;
  line-height: normal !important;
}

.hidden-with-pos {
  display: none;
}

.back-btn {
  svg {
    @media screen and (max-width: 1024px) {
      width: 24px;
      height: 24px;
    }
  }
}
input {
  -webkit-user-select: text;
}

.mejs-overlay-button {
  background: none !important;
  width: 4em !important;
  height: 3em !important;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  @media screen and (max-width: 768px) {
    background: $color__yellow !important;
    width: 3em !important;
    height: 2em !important;
  }
}

.mejs-overlay-button,
.yt-play {
  position: absolute;
  display: block;
  text-align: center;
  background: $color__text;
  border-radius: 50% / 10%;
  color: #fff;
  font-size: 2em; /* change this to change size */
  height: 3em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-indent: 0.1em;
  transition: all 150ms ease-out;
  width: 4em;

  @media screen and (max-width: 768px) {
    width: 3em;
    height: 2em;
  }
  &:hover {
    background: $color__yellow;
  }
  &:before {
    background: inherit;
    border-radius: 5% / 50%;
    bottom: 9%;
    content: "";
    left: -5%;
    position: absolute;
    right: -5%;
    top: 9%;
  }
  &:after {
    border-style: solid;
    border-width: 1em 0 1em 1.732em;

    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    content: "";
    font-size: 0.75em;
    height: 0;
    width: 0;
    margin: -1em 0 0 -0.75em;
    top: 50%;
    position: absolute;
    @media screen and (max-width: 768px) {
      border-width: 0.5em 0 0.5em 0.866em;
      margin: -0.5em 0 0 -0.5em;
    }
  }
}

.wp-video {
  width: 100% !important;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  background: $color__yellow !important;
}
