table {
  margin: 0 0 1.5em;
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;

  @media screen and (max-width: 812px) {
    display: block;
    overflow: scroll;
  }
}

th,
td {
  padding: 31px 5px;
}

tr {
  td {
    vertical-align: text-top;
    border-top: 4px solid $color__text;
    &:nth-child(2n) {
      border: none;
      width: 30px;
    }
    &:first-child {
      width: 20%;
      font-weight: 900;
      @include font-size(18);
    }
  }
}

table.info tr td {
  border-top: 0;
  vertical-align: middle;
  width: auto;
}

table.info tr td:first-child {
  font-weight: 400;
}

table.info td,
table.info th {
  padding: 10px 5px;
}