.information-section-holder h3 {
  .tooltiptext {
    bottom: 100%;
  }
}

.pricing-info-holder {
  .tooltip {
    .tooltiptext {
      @media screen and (max-width: 400px) {
        left: -30vw !important;
      }
      @media screen and (max-width: 680px) {
        left: -35vw !important;
        bottom: initial;
        top: 10vw;
      }
    }
  }
}

.tooltip {
  position: relative;
  cursor: help;

  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 300px;
    background-color: #fff;
    color: $color__text;
    font-family: $font__main;
    text-align: left;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    padding: 20px;
    @include font-size(16);
    font-weight: 100;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

    strong {
      display: block;
      margin-bottom: 10px;
    }

    &:after {
      content: " ";
      position: absolute;
      top: 100%; /* At the bottom of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
    }

    @media screen and (max-width: 812px) {
      width: 30%;
      transform: none;
      left: 0px;
      bottom: 6vw;
      margin-left: 0;
      @include font-size(14);
      min-width: 280px;

      // margin-left: 0;
      &:after {
        content: initial;
      }
    }

    @media screen and (max-width: 560px) {
      width: 80%;
    }
    @media screen and (max-width: 320px) {
      @include font-size(11);
    }
  }

  &-link {
    border-bottom: 1px dotted #000;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
