button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: none;
  border-radius: 3px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  @include font-size(15);
  line-height: 1;
  padding: 0.6em 1em 0.4em;

  &:hover {
  }
}

.btn {
  padding: 16px 32px;
  background: $color__text;
  color: $color__white;
  font-family: $font__main;
  display: inline-flex;
  min-width: 300px;
  justify-content: center;
  @include font-size(18);
  line-height: 1;
  font-weight: 900;
  letter-spacing: 0.03em;

  &.js-history-back {
    min-width: auto !important;
    @media screen and (max-width: 1440px) {
      min-width: 100px !important;
    }
  }

  @media screen and (max-width: 1024px) {
    @include font-size(15);
  }
  @media screen and (max-width: 814px) {
    min-width: auto;
  }

  &:visited {
    color: $color__white;
  }
  &:focus,
  &:hover {
    background: $color__yellow;
    color: $color__white;
  }

  &.btn-white {
    background: $color__white;
    color: $color__text;
    &:hover {
      background: $color__yellow !important;
      color: $color__white !important;
    }
  }

  &.btn-full {
    width: 100%;
  }

  &.btn-large {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &-outline {
    background: transparent;
    border: 2px solid $color__white;
    &:hover {
      border-color: $color__yellow;
      color: $color__white;
    }
  }
}
