input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 3px;

  &:focus {
    color: $color__black;
  }
}

select {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

textarea {
  width: 100%;
}
