.pricing-calculator-holder {
  display: flex;
  justify-content: space-evenly;
  @include max-width();
  padding: 12% 0 15% 0;
  max-width: 1020px;
  p {
    margin: 0;
  }
  > div {
    max-width: 600px;
    &:first-child {
      margin-right: 120px;
      @media screen and (max-width: 1440px) {
        margin-right: 80px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    max-width: 860px;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 480px) {
    margin-top: 30px;
  }
}
.pricing-chart {
  margin-right: 32px;
  flex: 1;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin: 0 auto 60px !important;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 30px !important;
  }
}
.pricing-chart img {
  width: 100%;
}

.pricing-calculator {
  flex: 1;
  color: $color__text;
  @include font-size(15);
  @media screen and (max-width: 768px) {
    margin: 0 auto !important;
  }
}

.pricing-calculator a:hover {
  color: $color__red;
}

.pricing-calculator-input {
  border-bottom: 2px solid rgb(228, 226, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   padding-bottom: 20px;
  @media screen and (max-width: 680px) {
    display: block;
  }

  > div {
    flex: 1;
    max-width: 280px;
  }
  .pricign-title-holder {
    margin-bottom: 10px;
  }
  .input-holder {
    position: relative;
    span {
      position: absolute;
      font-size: 20px;
      padding: 18px;
      font-weight: bold;
      opacity: 0.3;
      line-height: 1.8;
    }
  }

  input.has-error {
    margin-bottom: 0;
    border: 1px solid red;
  }
  input {
    outline: 0;
    padding: 18px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    @include font-size(22);
    font-weight: 900;
    color: $color__text;
    text-align: right;
  }
}

.pricing-calculator-result {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(228, 226, 221);

  @media screen and (max-width: 680px) {
    // display: block;
    flex-direction: column-reverse;
  }

  .pricing-note-holder {
    display: flex;
    flex-direction: column;
    @include font-size(11);
    font-weight: 100;
    justify-content: flex-end;
    margin-right: 20px;

    @media screen and (max-width: 680px) {
      margin: 0;
      margin-top: 20px;
    }
  }
  > p {
    margin: 0;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  > div {
    flex: 1;
    max-width: 280px;
    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
    &:first-child {
      //   padding-right: 40px;
      p {
        margin-right: 20px;
      }
    }
    // display: flex;
    // justify-content: space-between;
    // margin: 0 0 16px 0;
    // align-items: center;
  }
  .pricing-rows {
    > div {
      padding: 40px 0;
      border-top: 2px solid rgb(228, 226, 221);
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:first-child {
        border: none;
      }
      &:last-child {
        padding-bottom: 0;
      }
      @include font-size(13);
      > span {
        font-weight: 100;
      }
      > p {
        font-weight: 900;
      }
    }
  }
}

.min-invesment-note.has-error {
  color: red;
}

.your-investment-label {
  @include font-size(22);
  font-weight: 900;
  @media screen and (max-width: 1024px) {
    @include font-size(18);
  }
}
.min-invesment-note {
  @include font-size(11);
  font-weight: 100;
  line-height: 1;
  margin: 10px 0;
}

.call-us-btn {
  margin-top: 20px;
  @include font-size(14);
  color: $color__text;
  font-weight: 900;
  white-space: nowrap;
  @media screen and (max-width: 1366px) {
    @include font-size(11);
  }
}

.input-content-holder {
  position: relative;
  top: 2px;
  border-bottom: 4px solid $color__text;
  @media screen and (max-width: 680px) {
    margin: 0;
    max-width: 100% !important;
  }
}
