.pricing-services-holder {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  // padding: 12% 0;
  @include max-width();
  max-width: 1020px;

  @media screen and (max-width: 1024px) {
    max-width: 730px;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 680px) {
    padding: 0;
    margin: 30px 0;
  }
}

.pricing-title-holder {
  max-width: 420px;
  justify-content: flex-end;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  h2 {
    text-align: right;
    margin: 0;
    font-weight: 100;
    @include font-size(72);
    @media screen and (max-width: 1680px) {
      @include font-size(60);
    }
    @media screen and (max-width: 1440px) {
      @include font-size(54);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(40);
    }
    @media screen and (max-width: 768px) {
      text-align: left;
      margin-bottom: 32px;
    }
  }
}

.pricing-services {
  max-width: 720px;
  margin-top: 18px;
  @media screen and (max-width: 1440px) {
    max-width: 540px;
  }
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  .service-item {
    @include font-size(36);
    font-weight: 100;
    // line-height: 1;
    display: flex;
    align-items: flex-start;
    margin-bottom: 48px;
    padding-bottom: 36px;
    border-bottom: 2px solid rgb(228, 226, 221);

    @media screen and (max-width: 1024px) {
      margin-bottom: 36px;
      padding-bottom: 24px;
    }
    &:last-child {
      border: none;
    }
    span {
      min-width: 16px;
      width: 16px;
      height: 16px;
      margin-top: 4px;
      display: block;
      margin-right: 32px;
      background: $color__text;
      @media screen and (max-width: 1440px) {
        margin-right: 28px;
      }
      @media screen and (max-width: 1024px) {
        margin-right: 18px;
      }
    }
    p {
      letter-spacing: 0.02em;
      line-height: calc(50 / 36);
      margin: 0;
      margin-top: -6px;
      @media screen and (max-width: 1440px) {
        @include font-size(28);
      }

      @media screen and (max-width: 1024px) {
        @include font-size(21);
      }
      @media screen and (max-width: 768px) {
        @include font-size(16);
        margin-top: 3px;
      }
    }
  }
}

.services-holder {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  flex: 1;
  margin-right: 40px;
  border-right: 1px solid #dadce0;
  padding: 10px 0;
}

.services-holder:last-child {
  border: none;
}
.pricing-services-list-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}

.services-holder li {
  position: relative;
  padding-left: 42px;
  margin-bottom: 12px;
  /* New Implementation */
  position: relative;
  padding-left: 42px;
  margin-bottom: 12px;
  min-width: calc(33% - 40px);
  margin-right: 40px;
  flex: 1;
}
.services-holder li:before {
  position: absolute;
  content: "";
  width: 24px;
  height: 30px;
  left: 0;
  background: url(../img/yova-green-check.svg) center center transparent
    no-repeat;
  background-size: cover;
}
