.fee-inclusive-holder {
  display: flex;
  justify-content: space-between;
  @include font-size(22);
  @include max-width();
  max-width: 1020px;
  padding: 9% 0 18% 0;

  > div {
    flex: 1;
    max-width: 600px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 740px;
  }

  @media screen and (max-width: 768px) {
    padding: 6% 0 12%;
  }
  @media screen and (max-width: 680px) {
    display: block;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
    margin:30px 0; 
  }
}

.fee-inclusive-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;
}

.inclusive-title-holder {
  margin-right: 120px;
  margin-left: 18px;

  @media screen and (max-width: 1024px) {
    margin-right: 0px;
  }
  @media screen and (max-width: 680px) {
    margin: 0;
  }
  h2 {
    text-align: right;
    margin: 0;
    font-weight: 100;
    @include font-size(72);
    @media screen and (max-width: 1680px) {
      @include font-size(60);
    }
    @media screen and (max-width: 1440px) {
      @include font-size(48);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(32);
    }
  }
  p {
    @media screen and (max-width: 1024px) {
      @include font-size(16);
    }
  }
}

.fee-inclusive-item {
  width: calc(50% - 25px);
  @include font-size(14);
  // font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid rgb(228, 226, 221);
  padding-bottom: 32px;
  margin-bottom: 32px;

  @media screen and (max-width: 1440px) {
    padding-bottom: 24px;
  }

  @media screen and (max-width: 1024px) {
    @include font-size(12);
    padding-bottom: 18px;
    margin-bottom: 18px;
  }

  @media screen and (max-width: 360px) {
    width: 100%;
    margin: 12px 0 !important;
    display: flex;
    align-items: center;
    br {
      display: none;
    }
  }
  img {
    margin-right: 12px;
    @media screen and (max-width: 1440px) {
      max-width: 24px;
    }
  }
  &:nth-child(even) {
    margin-left: 25px;
  }
  &:nth-child(odd) {
    margin-right: 25px;
  }
}
