.pricing-information-section {
  display: block;
  margin: 100px auto;
  max-width: 860px;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin: 80px 0;
  }

  @media screen and (max-width: 680px) {
    margin: 40px 0 50px;
  }
}

.pricing-information-section-two-boxes {
  display: flex;
  width: 100% !important;

  > div {
    flex: 1;
    width: 50%;
  }
}

.pricing-information-section-content {
  align-self: center;

  h2 {
    @include font-size(48);
    margin-top: 0;
    @media screen and (max-width: 768px) {
      @include font-size(32);
      margin-bottom: 10px;
    }
  }
  p {
    @include font-size(22);
    margin-top: 0;
    @media screen and (max-width: 768px) {
      @include font-size(14);
      br {
        display: none;
      }
    }
  }
}

.pricing-information-section-image {
  align-self: flex-end;
}

//last changes
.pricing-subtitle-holder {
  display: block;
  margin-bottom: 0;

  h3, span {
    display: inline-block;
  }

  h3 {
    margin: 0 0 5px 0;
    line-height: 1;
    @include font-size(48);
    @media screen and (max-width: 768px) {
      @include font-size(30);
    }
  }
  span {
    line-height: 1;
    margin-bottom: 8px;
    margin-left: 10px;
    @media screen and (max-width: 768px) {
      @include font-size(14);
      margin-bottom: 6px;
    }
  }
}
