.pricing-boxes {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0 100px 0;
  @media screen and (max-width: 768px) {
    .owl-stage {
      display: flex;
      flex-wrap: wrap;
      .owl-item {
        display: flex;
      }
    }
  }
  @media screen and (max-width: 680px) {
    padding-bottom: 50px;
  }
}
.pricing-boxes-holder {
  margin-top: 120px;
}
.pricing-boxes-title {
  text-align: center;
  margin-bottom: 100px;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    text-align: left;
  }
  h2 {
    margin: 0;
    @include font-size(48);

    span {
      font-weight: 200;
      display: block;
    }

    @media screen and (max-width: 768px) {
      @include font-size(32);
    }
  }
}
.pricing-annual-note {
  @include font-size(22);
  margin: 28px 0px;
  text-align: center;
  @media screen and (max-width: 768px) {
    @include font-size(18);
    margin: 0 0 14px 0;
    text-align: left;
  }
}

.carousel-nav {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &.show-mobile {
    display: none;
    @media screen and (max-width: 420px) {
      display: flex;
    }
  }

  svg {
    width: 43px;
    height: 43px;
  }
  @media screen and (max-width: 1440px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }
  span {
    @include font-size(14);
    font-weight: 900;
    margin: 0 5px;
    @media screen and (max-width: 1440px) {
      @include font-size(12);
    }
  }
  a {
    // margin-right: 5px;
    display: inline-flex;
    align-items: center;
    color: $color__text;
  }
}

.pricing-info-holder {
  display: flex;
  align-items: center;
  img {
    margin-left: 6px;
    width: 15px !important;
    height: 15px;
  }
}

.pricing-carousel-now {
  display: none;
  @media screen and (max-width: 812px) {
    display: block;
  }
}

.pricing-box {
  width: calc(25% - 10px);
  background: #fff;
  margin: auto;
  @media screen and (max-width: 1024px) {
    margin-top: auto;
  }
  @media screen and (max-width: 812px) {
    width: 100%;
    // margin-bottom: 0;
    max-width: 330px;
  }
  @media screen and (max-width: 480px) {
    max-width: 260px;
  }
  &-header {
    background: #f3eee1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    h3 {
      margin: 0;
      @include font-size(18);
      font-family: $font__main;
      font-weight: 500;
      @media screen and (max-width: 1024px) {
        @include font-size(14);
      }
      @media screen and (max-width: 768px) {
        @include font-size(18);
      }
    }
    .annual-fee {
      font-weight: 700;
      font-family: $font__second;
      @include font-size(22);
      .fee {
        margin-left: 12px;
        @include font-size(30);
      }
    }
  }

  &-content {
    padding: 24px 16px;
  }

  ul {
    @include reset-list();
    li {
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      img {
        margin-right: 13px;
        width: auto !important;
      }
    }
  }

  .btn {
    margin-top: 20px;
    width: 100%;
    min-width: initial;
    @include font-size(14);
    padding: 16px 8px;
  }
}

