@import "range-slider";

.new-pricing-section {
  @include fullwidth-row();
  // overflow: hidden;
  // margin: 60px;
  // width: calc(100vw - 120px);
  @media screen and (max-width: 768px) {
    margin-bottom: 80px;
  }
}
.new-pricing-wrapper {
  max-width: 1310px;
  margin: 0 auto;
}
.new-pricing-holder {
  padding: 60px 80px;
  background: rgb(243, 238, 225);
  margin: 0 60px;
  @media screen and (max-width: 1440px) {
    margin: 0 45px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 30px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }

  @media screen and (max-width: 768px) {
    padding: 45px 60px;
  }
  @media screen and (max-width: 680px) {
    background: none;
    padding: 0;
  }
  h2 {
    @include font-size(48);
    margin: 0;
    line-height: 1;
    span {
      display: block;
      font-weight: 200;
      line-height: 1;
      margin: 0;
    }
    @media screen and (max-width: 768px) {
      @include font-size(32);
    }
  }
}

.pricing-range {
  position: relative;
}
.range-ratio-holder {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  pointer-events: none;
  font-size: 14px;
  height: 24px;
  > div {
    flex: 1;
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1;
    background: rgba(47, 44, 38, 1);

    &:nth-child(2) {
      background: rgba(47, 44, 38, 0.7);
    }
    &:nth-child(3) {
      background: rgba(47, 44, 38, 0.4);
    }
    &:nth-child(4) {
      background: rgba(47, 44, 38, 0.2);
    }
  }
}

.pricing-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 32px 0;
  @media screen and (max-width: 768px) {
    margin: 36px 0 18px 0;
  }
  &.cost {
    margin: 0;
    margin-top: 32px;
    @media screen and (max-width: 768px) {
      margin-top: 18px;
    }
  }
  p {
    @include font-size(22);
    margin: 0;
    @media screen and (max-width: 768px) {
      @include font-size(14);
    }
  }
  .investment-holder {
    @include font-size(32);
    display: flex;
    align-items: center;
    font-family: $font__main;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      @include font-size(22);
    }
  }
  .monthly-cost,
  .investment-amount {
    margin-left: 24px;
    font-weight: 900;
    @include font-size(48);
    @media screen and (max-width: 768px) {
      @include font-size(32);
      margin-left: 12px;
    }
  }
}

.range-note {
  margin-top: 32px;
  @media screen and (max-width: 768px) {
    margin-top: 18px;
  }
  p {
    @include font-size(22);
    display: none;
    @media screen and (max-width: 768px) {
      @include font-size(18);
    }
  }
}
