.pricing-range {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  border: none !important;
  width: 100%; /* Full-width */
  height: 24px;
  border-radius: 5px;
  background: transparent !important;
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  position: relative;
  z-index: 2;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider {
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 44px; /* Set a specific slider handle width */
    height: 44px; /* Slider handle height */
    border-radius: 50%;
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  }
  &::-moz-range-thumb {
    width: 44px; /* Set a specific slider handle width */
    height: 44px; /* Slider handle height */
    border-radius: 50%;
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  }
}
