.banner-content.landing-page {
  //   z-index: 1000000;
  padding-bottom: 55px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    padding-bottom: 25px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 65px;
  }
}
.banner-text.landing-page {
  max-width: 100%;
  margin-bottom: 66px;
  position: relative;
  z-index: 100000;
  @media screen and (max-width: 1024px) {
    margin-bottom: 33px;
  }
  .google-auth-error-holder,
  .general-error-holder {
    margin-bottom: 12px;
  }
  .google-auth-error-holder,
  .general-error-holder,
  .error-holder {
    @include font-size(12);
    font-weight: 900;
    color: $color__red;
    margin-top: 10px;
  }
  h1,
  h2 {
    font-family: $font__second;
    @include font-size(75);
    font-weight: bold;
    line-height: 105%;
    margin: 0;
    margin-bottom: 32px;
    @media screen and (max-width: 1440px) {
      @include font-size(60);
    }

    @media screen and (max-width: 1024px) {
      @include font-size(40);
    }
    @media screen and (max-width: 768px) {
      @include font-size(32);
    }
  }
  p {
    margin: 50px 0 30px;
    @media screen and (max-width: 1024px) {
      margin: 24px 0 15px;
    }
  }
  .google-btns-holder {
    display: flex;
    @media screen and (max-width: 680px) {
      flex-wrap: wrap;
      a {
        margin: 0;
        width: 100%;
        &:first-child {
          margin-bottom: 12px;
        }
      }
    }
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
    min-width: 400px;
    cursor: pointer;
    // line-height: 16px;
    @include font-size(20);

    @media screen and (max-width: 1024px) {
      min-width: 300px;
      @include font-size(16);
    }

    @media screen and (max-width: 480px) {
      min-width: initial;
      padding: 16px;
    }
    svg {
      margin-bottom: 4px;
    }
    &:hover {
      background: $color__black;
      color: $color__white;
      svg {
        path {
          fill: $color__white;
        }
      }
    }

    &-outline {
      &:hover {
        border-color: transparent;
      }
    }

    &:last-child {
      margin: 0;
    }
    svg {
      margin-right: 24px;
    }
  }
}

.landing-btns-holder,
.form-form-holder {
  display: none;
}

.google-form-holder {
  //   display: none;
}

.landing-logos {
  ul {
    @include reset-list();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.landing-btns-holder {
  a {
    color: $color__white;
    &:hover {
      color: $color__black;
    }
  }
}
.landing-form {
  width: 50%;
  max-width: 500px;
  @media screen and (max-width: 680px) {
    width: 100%;
  }
  button {
    border-radius: 0 !important;
    min-width: 100% !important;
  }

  input {
    width: 100%;
    background: none;
    border-radius: 0;
    @include font-size(20);
    border: none;
    border-bottom: 2px solid $color__white;
    transition: all 100ms ease-out;
    width: 100%;
    color: $color__white;

    &.has-error {
      border-color: $color__red;
      border-bottom-width: 4px;
      &:focus {
        border-color: $color__white;
        &::placeholder {
          color: $color__white;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: $color__white;
        }

        &::-ms-input-placeholder {
          color: $color__white;
        }
      }
      &::placeholder {
        color: $color__red;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $color__red;
      }

      &::-ms-input-placeholder {
        color: $color__red;
      }
    }

    &:focus {
      outline: 0;
      border-bottom-width: 4px;
      color: $color__white;
    }

    &::placeholder {
      color: $color__white;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $color__white;
    }

    &::-ms-input-placeholder {
      color: $color__white;
    }

    @media screen and (max-width: 1440px) {
      @include font-size(18);
    }
    &:focus {
      outline: 0;
      border-bottom-width: 4px;
    }
  }
}

.form-control {
  margin: 32px 0;
  &:first-child {
    margin-top: 0;
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 10px;
  position: absolute;
  right: -8px;
  top: 8px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  margin: 1px;
  border-radius: 50%;
  border: 3px solid $color__white;
  border-color: $color__white transparent $color__white transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
