.author-holder {
  padding: 42px 0;
  border-top: 1px solid rgba(47, 44, 38, 0.1);
  border-bottom: 1px solid rgba(47, 44, 38, 0.1);
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}
.author-info-holder {
  display: flex;
  justify-content: flex-start;
}

.author-photo {
  min-width: 120px;
  @media screen and (max-width: 1440px) {
    min-width: 90px;
    max-width: 90px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.author-info {
  margin-left: 26px;
  @media screen and (max-width: 1440px) {
    margin-left: 20px;
  }
  .author-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 680px) {
      display: block;
    }
    p {
      @include font-size(30);
      font-weight: 900;
      margin: 0;
      line-height: 1.2;
      @media screen and (max-width: 1440px) {
        @include font-size(21);
      }
    }
    span {
      @include font-size(22);
      @media screen and (max-width: 1440px) {
        @include font-size(16);
      }
    }
  }
  .author-contact {
    // align-self: flex-end;
    display: flex;

    > div:first-child {
      margin-right: 30px;
    }
    span {
      @include font-size(12);
      font-weight: 900;
      text-transform: uppercase;
      display: block;
      @media screen and (max-width: 1440px) {
        @include font-size(10);
      }
    }
    a {
      @include font-size(14);
      border-bottom: 1px solid $color__text;
      &:hover {
        border-color: $color__red;
      }
    }

    @media screen and (max-width: 768px) {
      display: block;
      text-align: right;
      > div {
        margin: 0 !important;
        &:last-child {
          margin-top: 10px !important;
        }
      }
    }
    @media screen and (max-width: 680px) {
      text-align: left;
    }
  }
}
.author-desc {
  margin-top: 20px;
  @media screen and (max-width: 1440px) {
    margin-top: 10px;
  }
  p {
    @include font-size(22);
    font-weight: normal;
    margin: 0;
    @media screen and (max-width: 1440px) {
      @include font-size(16);
    }
  }
}
