.tm-click-to-tweet {
  background: none;
  border: none;
  display: flex;
  align-items: flex-end;
  margin: 50px 10% 75px;
  .tm-ctt-text {
    a {
      text-decoration: none;
      @include font-size(50);
      line-height: calc(56 / 50);
      font-weight: 900;
      font-family: $font__main;
      color: $color__text;
      font-style: italic;

      @media screen and (max-width: 1440px) {
        @include font-size(42);
      }
      @media screen and (max-width: 1024px) {
        @include font-size(30);
      }

      &:hover {
        color: $color__red;
      }
      svg {
        margin-left: 20px;
        @media screen and (max-width: 1024px) {
          width: 32px;
          height: auto;
        }
      }
    }
  }
}
