.sidebar-newsletter {
  margin-top: 40px;
  h3 {
    @include font-size(14);
    font-family: $font__main;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 900;
    @media screen and (max-width: 1440px) {
      @include font-size(12);
    }
  }
  .newsletter-form {
    background: $color__white;
    justify-content: space-between;
    align-items: center;
    input {
      font-weight: normal;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.events-map-holder {
  overflow: hidden;
  margin-top: 40px;
  a {
    @include font-size(14);
    font-weight: 900;
    margin: 0;
    margin-bottom: 5px;
  }
  iframe {
    margin: 0;
    width: 100% !important;
    max-width: 100% !important;
    height: 400px;
    transform: none;
  }
}

.cta-holder {
  .btn {
    padding: 22px 0;
  }
  margin: 40px 0;
}

.past-event-note {
  padding: 20px;
  background: $color__yellow;
  color: $color__white;
  text-align: center;
  margin: 0;
}

.post-cta-holder {
  margin-top: 120px;
}
.mobile-event-detail-holder {
  display: none;
  margin-bottom: 32px;
  @media screen and (max-width: 812px) {
    display: block;
    .event-details {
      display: block;
    }
  }
}
.event-details {
  background: #f3eee1;
  padding: 18px;
  @include font-size(14);
  line-height: 1.4;
  @media screen and (max-width: 812px) {
    display: none;
  }
  div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
    strong {
      min-width: 60px;
      margin-right: 10px;
      @include font-size(16);
    }
    p {
      margin: 0 !important;
      line-height: 1.6;
    }
  }
}
