.related-posts-holder {
  overflow: hidden;
}
.related-posts {
  .post-link {
    margin-bottom: 15px;

    &:after {
      padding-bottom: 52.5%;
    }
  }
  .entry-header {
    background: #f8f6f1;
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 90%;
    padding: 15px 15px 0 15px;
    z-index: 2;
  }
  .entry-title {
    @include font-size(15);
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    max-width: 100vw;
    padding-bottom: 20px;
    article {
      width: 80%;
      margin-right: 3%;
      .post-link {
        margin: 0;
        min-width: 500px;
      }
    }
  }
  @media screen and (max-width: 680px) {
    article {
      .post-link {
        min-width: 270px;
        &:after {
          padding-bottom: 72.5%;
        }
      }
    }
  }
  @media screen and (max-width: 360px) {
    article {
      .post-link {
        min-width: 220px;
      }
    }
  }
}

.related-posts-title {
  @include font-size(14);
  font-family: $font__main;
  font-weight: 900;
  letter-spacing: 0.03em;
  margin: 20px 0 10px 0;
  @media screen and (max-width: 1440px) {
    @include font-size(12);
  }
}

.related-events-holder {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 250px 0 125px 0;

  @media screen and (max-width: 812px) {
    margin: 10% 0;
    flex-direction: column-reverse;
  }
}

.related-events {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin-right: 90px;
  margin-left: -20px;
  margin-right: -20px;

  article {
    margin: 20px;
    width: calc(50% - 40px);
    @media screen and (max-width: 680px) {
      width: 100%;
    }
  }

  img {
    margin: 0;
    display: block;
    width: 100%;
  }
  .post-link {
    margin-bottom: 15px;
    &:after {
      content: unset;
    }
  }
  .entry-header {
    background: #f8f6f1;
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 90%;
    padding: 15px 15px 0 15px;
    z-index: 2;
  }
  .entry-title {
    @include font-size(30);
    margin: 0;
    & + .entry-meta {
      margin: 10px 0 0;
    }
  }
}

.related-events-title {
  max-width: 300px;
  @include font-size(52);
  span {
    @include font-size(38);
    font-family: $font__main;
    font-weight: 900;
  }

  @media screen and (max-width: 812px) {
    max-width: 100%;
  }
  font-weight: 100;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: right;
}
