h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: $font__second;
    font-weight: bold;
}

.entry-content h4,
.entry-content h5,
.entry-content h6 {
    font-family: $font__main;
}

    .text-wrapping {

         @media screen and (max-width: 812px) {
         overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        hyphens: auto;
    }

    }

h1 {
    @include font-size(70);
    @media screen and (max-width: 1440px) {
        @include font-size(44);
    }
    @media screen and (max-width: 1024px) {
        @include font-size(32);
    }
}

h2 {
    @include font-size(56);
    line-height: 1.2;
    @media screen and (max-width: 1440px) {
        @include font-size(42);
    }
    @media screen and (max-width: 1024px) {
        @include font-size(30);
    }
}

h3 {
    @include font-size(40);
    @media screen and (max-width: 1440px) {
        @include font-size(32);
    }
    @media screen and (max-width: 1024px) {
        @include font-size(24);
    }
}
