body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text;
	font-family: $font__main;
	@include font-size(16);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
