.contact-form {


  @media screen and (min-width: 769px) {
    margin-top: -24px;
    min-width: 400px;
    max-width: 400px;
  }

  p {
    margin: 30px 0;
    position: relative;
  }

  input {
    height: 34px;
  }

  label {
    @include font-size(12);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 900;
  }

  textarea {
    height: 150px;
    resize: none;

    @media screen and (max-width: 1440px) {
      height: 100px;
    }
  }

  textarea,
  input {
    background: none;
    border-radius: 0;
    @include font-size(22);
    border: none;
    border-bottom: 2px solid $color__text;
    transition: all 100ms ease-out;
    width: 100%;

    @media screen and (max-width: 1440px) {
      @include font-size(18);
    }

    &.wpcf7-not-valid {
      border-color: $color__red;

      &:focus {
        border-color: $color__text;
      }
    }

    &:focus {
      outline: 0;
      border-bottom-width: 4px;
    }
  }

  input[type="submit"] {
    width: auto;
  }

  .wpcf7-not-valid-tip {
    @include font-size(12);
    font-weight: 900;
    color: $color__red;
    margin-top: 10px;
  }

  .contact-form-actions {
    display: block;
    overflow: hidden;

    p,
    br {
      display: none;
    }

    @include font-size(14);

    .ajax-loader {
      display: block;
      flex: 2;
    }

    span {
      @include font-size(12);
      margin-right: 15px;
      float: left;
      max-width: 125px;

      @media screen and (max-width: 1024px) {
        max-width: 100px;
      }

      @media screen and (max-width: 360px) {
        max-width: 100%;
      }
    }

    .btn {
      cursor: pointer;
      float: right;
      background: $color__white;
      border: none;
      height: 72px;
      min-width: 240px;
      @include font-size(20);

      &:focus,
      &:hover {
        background: $color__yellow;
      }

      @media screen and (max-width: 1440px) {
        @include font-size(18);
        height: 52px;
      }

      @media screen and (max-width: 1024px) {
        @include font-size(14);
        min-width: 180px;
        height: 52px;
      }

      @media screen and (max-width: 360px) {
        min-width: 100%;
        margin-top: 12px;
      }
    }
  }
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  background: $color__red;
  color: $color__white;
  border: none;
  padding: 16px;
  margin: 0;
  margin-top: 32px;

  @media screen and (max-width: 1440px) {
    @include font-size(14);
  }
}

.form-control {
  margin: 32px 0;

  @media screen and (max-width: 1440px) {
    margin: 0 0 24px 0;
  }

  p {
    margin: 0;
  }
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  background: $color__red;
  color: $color__white;
  border: none;
  padding: 16px;
  margin: 0;
  margin-top: 32px;

  @media screen and (max-width: 1440px) {
    @include font-size(14);
  }
}

div.wpcf7-mail-sent-ok {
  background: $color__green;
  color: $color__white;
  border: none;
  padding: 16px;
  margin: 0;
  margin-top: 32px;

  @media screen and (max-width: 1440px) {
    @include font-size(14);
  }
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.failed .wpcf7-response-output {
  border: none !important;
  background: $color__red;
  color: $color__white;
  @include font-size(14);
  padding: 16px !important;
  margin: 24px 0 0 0;
}

.wpcf7 form.sent .wpcf7-response-output {
  background: $color__green;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  background: $color__yellow;
}