.google-map-holder {
  position: relative;
  @include fullwidth-row();
  margin-bottom: 250px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 120px;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.google-map-content {
  margin: 60px;
  position: relative;

  @media screen and (max-width: 1280px) {
    margin: 45px;
  }

  @media screen and (max-width: 1200px) {
    margin: 30px;
  }

  @media screen and (max-width: 768px) {
    margin: 20px;
  }

  @media screen and (max-width: 480px) {
    margin: 0 20px;
  }
}

.google-map {
  @media screen and (max-width: 680px) {
    position: relative;
    overflow: hidden;
    min-height: 360px;

    img {
      position: absolute;
      transform: scale(3) translateY(-40%);
      top: 75%;
    }
  }

  @media screen and (max-width: 480px) {
    min-height: 320px;
  }

  img {
    display: block;
  }
}

.address-box {
  max-width: 500px;
  padding: 40px 160px 28px 40px;
  background: #f8f6f1;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;

  a {
    border-bottom: 1px solid $color__text;

    &:hover {
      border-color: $color__red;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 30px 90px 18px 30px;
  }

  @media screen and (max-width: 680px) {
    // position: relative;
    padding: 20px;
    flex-direction: column-reverse;
  }

  >div {
    flex: 1;
    white-space: nowrap;
    margin-right: 30px;
    @include font-size(18);

    @media screen and (max-width: 1024px) {
      @include font-size(14);
    }

    @media screen and (max-width: 680px) {
      margin: 0;

      &:last-child {
        margin-bottom: 12px;
      }
    }
  }

  strong {
    display: block;
    font-weight: 900;
    @include font-size(16);

    @media screen and (max-width: 1024px) {
      @include font-size(12);
    }
  }
}