.schedule-section-holder {
  display: flex;
  justify-content: space-between;
  @include max-width();
  padding: 160px 0 180px;

  @media screen and (max-width: 1440px) {
    max-width: 1020px;
    padding: 120px 0 86px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 740px;
    padding: 85px 0 45px;
  }

  @media screen and (max-width: 680px) {
    padding: 60px 0 45px;
    display: block;
  }

  @media screen and (max-width: 680px) {
    padding-top: 30px;
  }

  h2 {
    margin: 0;
    @include font-size(52);
    line-height: calc(70 / 56);
    margin-bottom: 16px;

    @media screen and (max-width: 1440px) {
      @include font-size(42);
      margin-bottom: 6px;
    }

    @media screen and (max-width: 1024px) {
      @include font-size(32);
      margin: 0;
    }
  }
}

.schedule-call-btn {
  @include font-size(72);
  line-height: calc(88 / 72);
  font-family: $font__second;
  font-weight: 100;

  @media screen and (max-width: 1440px) {
    @include font-size(52);
  }

  @media screen and (max-width: 1024px) {
    @include font-size(40);

    svg {
      width: 24px;
      height: auto;
    }
  }

  span {
    border-bottom: 1px solid $color__text;
  }
}

.working-hours-holder {
  flex: 1;
  display: flex;
  flex-direction: column;

  img {
    width: auto;
    margin: 0 auto;

    @media screen and (max-width: 1440px) {
      max-width: 310px;
    }

    @media screen and (max-width: 1024px) {
      max-width: 220px;
    }
  }
}

.working-hours {
  margin-top: 32px;

  .week,
  .weekend {
    @include font-size(16);
    font-weight: 900;

    @media screen and (max-width: 1440px) {
      @include font-size(14);
    }

    @media screen and (max-width: 1024px) {
      @include font-size(12);
    }

    &:nth-child(2) {
      margin-left: 30px;
      border: none;
      padding-left: 30px;
      border-left: 3px solid $color__text;
    }

    p {
      @include font-size(18);
      font-weight: 100;
      margin: 0;
      white-space: nowrap;

      @media screen and (max-width: 1024px) {
        @include font-size(14);
      }
    }
  }
}

.contact-us {
  flex: 2;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  margin-left: 18px;

  @media screen and (max-width: 1024px) {
    margin-right: 4%;
  }

  @media screen and (max-width: 680px) {
    margin: 0;
    max-width: 100%;
  }

  h3 {
    margin: 0 0 32px 0;
    @include font-size(36);
    font-family: $font__main;
    line-height: calc(54 / 46);
    letter-spacing: 0.01em;
    font-weight: 900;

    @media screen and (max-width: 1440px) {
      @include font-size(32);
      margin: 0 0 12px 0;
    }

    @media screen and (max-width: 1024px) {
      @include font-size(23);
    }
  }
}

.other-contact-ways {
  margin-top: 48px;
  
  @media screen and (min-width: 1024px) {
    margin-top: auto;
  }

  @media screen and (max-width: 680px) {
    margin-bottom: 0;
    margin: 40px 0 0;
  }

  h3 {
    margin: 0 0 32px 0;
  }

  ul {
    @include reset-list();
    display: flex;

    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
    }

    li {
      border-bottom: 3px solid $color__text;
      border-right: 3px solid $color__text;
      padding: 0 48px;

      &:first-child {
        border-left: 3px solid $color__text;

        @media screen and (max-width: 768px) {
          border-left-width: 2px;
        }
      }

      @media screen and (max-width: 1440px) {
        padding: 0 32px;
      }

      @media screen and (max-width: 1024px) {
        padding: 0 16px;
      }

      @media screen and (max-width: 768px) {
        padding: 0 12px;
        border-bottom-width: 2px;
        border-right-width: 2px;

        svg {
          width: 10px;
          height: auto;
        }
      }

      >span {
        margin: 0px 0 16px;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
          margin-bottom: 8px;
        }

        svg {
          margin-left: 5px;
          margin-top: 3px;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          width: calc(100% - 20px);
          background: $color__text;
          transition: all 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:hover {
          &::after {
            left: 100%;
          }

          &:before {
            left: 0%;
          }
        }

        &:before {
          left: -100%;
        }
      }

      a {
        display: inline-flex;
        @include font-size(22);
        line-height: 1;
        color: $color__black;

        @media screen and (max-width: 1440px) {
          @include font-size(18);
        }

        @media screen and (max-width: 1024px) {
          @include font-size(14);

          svg {
            margin-top: 2px;
          }
        }

        &:hover {
          color: $color__black;
        }
      }
    }
  }

  &.social-media {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
      margin: 60px 0 70px 0;
    }
    @media screen and (min-width:1025px) {
      margin: 120px 0 140px 0;
    }

    ul {
      li {
        padding: 0 24px 0 32px;
        border: none;
        border-right: 3px solid $color__text;
        border-bottom: 3px solid $color__text;

        @media screen and (max-width: 768px) {
          padding: 0 12px;
          border-bottom-width: 2px;
          border-right-width: 2px;
        }

        &:first-child {
          border-left: 3px solid $color__text;

          @media screen and (max-width: 768px) {
            border-left-width: 2px;
          }
        }

        .social-media-mobile-label {
          display: none;
        }
        svg {
          width: 10px;
          height: auto;
        }

        @media screen and (max-width: 380px) {
          padding: 0 7px;
        }

        @media screen and (max-width: 360px) {
          border: none !important;
          padding: 0;
          margin-right: 10px;
        }
      }
    }
  }
}