a {
  color: $color__link;
  text-decoration: none;
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
  outline: 0;
  svg {
    path {
      transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  }
  &:visited {
    color: $color__link;
  }
  &:hover,
  &:focus,
  &:active {
    outline: 0;
    color: $color__link-hover;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

button {
  transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
  outline: 0;
  &:active,
  &:focus {
    outline: 0;
  }
}
