.main-navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  li {
    position: relative;
    margin: 0 10px 0;
    @media screen and (max-width: 1281px) {
      margin: 0 5px 0;
    }

    &.has-tag a::before {
      content: attr(title);
      padding: 4px;
      position: absolute;
      left: 100%;
      background-color: #EE3C15;
      border-radius: 2px;
      font-size: 8px;
      color: #fff;
      font-weight: 800;
      letter-spacing: 0.5px;
      line-height: 8px;
      top: -12px;

      @media screen and (max-width: 1023px) {
        font-size: 10px;
        line-height: 10px;
        top: 0;
        right: 0;
        left: auto;
        padding: 8px;
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
    position: relative;
    color: $color__black;
    @include font-size(19);
    white-space: nowrap;
    @media screen and (max-width: 1440px) {
      @include font-size(16);
    }

    @media screen and (max-width: 1281px) {
      @include font-size(14);
    }
    @media screen and (min-width: 680px) {
      display: block !important;
    }

    &:hover {
      color: $color__red;
    }
    line-height: normal;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: $color__black;
      left: 0;
      bottom: -36px;

      @media screen and (max-width: 1440px) {
        bottom: -36px;
      }
      @media screen and (max-width: 1024px) {
        bottom: -24px;
      }
    }
  }
}

.mobile-social-holder {
  display: none;
}

.mobile-menu-holder {
  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.mobile-cta-buttons-holder {
  display: none;
  padding: 0 40px;
  flex-direction: column;

  @media screen and (max-width: 320px) {
    padding: 0 20px;
  }

  .help-link {
    @include font-size(14);
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    svg {
      margin-right: 10px;
    }
    span {
      display: inline-block;
    }
  }
}

.mobile-cta-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  a {
    &.yova-yellow {
      svg {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .mobile-social-holder {
    display: block;
  }
  .mobile-cta-buttons-holder {
    display: flex;
  }
  .mobile-cta-buttons {
    .login-link {
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }
  .mobile-menu-holder {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 74px;
    left: 0;
    background: #fff;
    border-top: 1px solid rgba(47, 44, 38, 0.1);

    .mobile-social-holder {
      margin-top: 20px;
      padding: 0 40px;
      span {
        font-weight: 700;
        @include font-size(13);
      }
    }
    .footer-social-media-icons {
      margin-top: 10px;
    }

    .main-navigation {
      ul {
        display: block;
        padding: 20px 40px;
        li {
          margin: 16px 0 12px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(47, 44, 38, 0.1);
        }
      }
    }
  }

  .main-navigation .current-menu-ancestor > a:after,
  .main-navigation .current-menu-item > a:after,
  .main-navigation .current_page_ancestor > a:after,
  .main-navigation .current_page_item > a:after {
    bottom: -12px;
    width: 100px;
  }
}

@media screen and (max-width: 360px) {
  .mobile-menu-holder {
    top: 64px;
    .main-navigation {
      ul {
        padding: 10px 20px;
        li {
          margin-top: 12px;
          padding-bottom: 8px;
          a {
            @include font-size(13);
          }
        }
      }
    }
    .login-link,
    .btn {
      @include font-size(13);
    }
    .mobile-social-holder {
      padding: 0 20px;
      span {
        @include font-size(12);
      }
    }
  }
}

.help-link {
  display: flex;
  span {
    display: none;
  }
}
