.prev-next-nav {
  border-bottom: 1px solid rgba(47, 44, 38, 0.1);
  display: flex;

  @media screen and (max-width: 680px) {
    display: block;
  }

  a {
    min-height: 75px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0px 40px 50px;

    &:first-child {
      justify-content: flex-end;
      padding: 40px 50px 40px 0px;
      text-align: right;
    }
    &:nth-child(2) {
      border-left: 1px solid rgba(47, 44, 38, 0.1);
      @media screen and (max-width: 680px) {
        border-top: 1px solid rgba(47, 44, 38, 0.1);
        border-left: none;
      }
    }

    @media screen and (max-width: 1440px) {
      padding: 20px 0px 20px 70px;
      &:first-child {
        padding: 20px 70px 20px 0px;
      }
    }

    @media screen and (max-width: 680px) {
      &:first-child {
        padding: 20px 10px 20px 0;
      }
      &:nth-child(2) {
        padding: 20px 0px 20px 10px;
      }
    }

    > div {
      flex: 1;
    }
  }

  span {
    margin: 0 20px 0 10px;
  }

  strong {
    display: block;
    @include font-size(18);
    font-weight: 900;
    color: $color__text;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    @media screen and (max-width: 1440px) {
      @include font-size(12);
    }
  }
}
