.paging-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 0;
  @media screen and (max-width: 1440px) {
    margin: 45px 0;
  }
  ul {
    @include reset-list();
    display: flex;
    li {
      display: flex;

      &.active {
        a {
          opacity: 1;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: $color__black;
            left: 0;
            bottom: -12px;

            @media screen and (max-width: 1440px) {
              height: 2px;
              bottom: -7px;
            }
          }
        }
      }
      a {
        @include font-size(19);
        font-weight: 900;
        opacity: 0.2;
        display: block;
        position: relative;
        padding: 0 8px;

        @media screen and (max-width: 1440px) {
          @include font-size(14);
          
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
      &:after {
        content: "—";
        opacity: 0.2;
        margin: 0 15px;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}
