.homepage-logos {
  padding: 16px 0 40px 0;
  width:100%;
   .company-logos {
     margin: 0 auto;
     .owl-stage {
       display: flex;
       align-items: center;
         .owl-item{
             &:last-child{
                 margin-right:0!important;
             }
         }
     }
   }

  @media screen and (max-width: 1024px) {
    margin-top: 24px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 16px;
    .company-logos {
      padding: 0;
    }
  }
}

.landing-logos,
.company-carousel {
  @media screen and (max-width: 1024px) {
    .owl-stage {
      display: flex;
      align-items: center;
    }
    .owl-item img {
      // width: auto;
      // max-height: 32px;
    }
  }
}

.landing-logos,
.company-logos {
  @include max-width();
  max-width: 1020px;
  margin-bottom: 60px;
  @media screen and (max-width: 1440px) {
    margin-bottom: 25px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 740px;
    margin-bottom: 35px;
  }
  @media screen and (max-width: 680px) {
    padding: 0;
  }

  .company-logos-content {
    @include font-size(16);
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      margin-top: 10px;
    }

    @media screen and (max-width: 1024px) {
      @include font-size(12);
    }
  }
}

.landing-logos {
  margin-bottom: 5px;
  @media screen and (max-width: 1024px) {
    margin-bottom: 12px;
  }
}

.custom-carousel-nav {
  display: flex;
  a {
    display: inline-flex;
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
  }
}

hr {
  margin-top: 35px;
  margin-bottom: 45px;
  @include bg-color(#2f2c26, 0.2);
  height: 2px;
  border: none;

  @media screen and (max-width: 1024px) {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.company-carousel {
  .owl-item {
    img {
      display: block;
      width: auto;
      margin: 0 auto;
    }
  }
}
