.footer-banner-holder {
  @include fullwidth-row();

  .footer-banner {
    margin: 60px;
    margin-top: 0;
    padding: 10% 0;
    max-height: 600px;
    background-position: center;
    background-size: cover;
    color: #ffffff;

    position: relative;

    @media screen and (max-width: 768px) {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
      }
    }

    @media screen and (max-width: 1440px) {
      margin: 45px;
      margin-top: 0;
    }

    @media screen and (max-width: 1024px) {
      margin: 30px;
      margin-top: 0;
      padding: 4% 0;
    }

    @media screen and (max-width: 768px) {
      margin: 0 20px 30px 20px;
      padding: 30px 0;
    }
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  p {
    font-family: $font__second;
    font-weight: bold;
    @include font-size(74);
    line-height: 1.4;
    margin: 0 40px 30px;
    text-align: center;
    @media screen and (max-width: 1440px) {
      @include font-size(54);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(36);
    }
    @media screen and (max-width: 812px) {
      @include font-size(24);
      line-height: 1.2;
      margin-bottom: 14px;
    }
  }

  .btn {
    @media screen and (max-width: 1440px) {
      @include font-size(16);
      font-weight: 900;
      min-width: 240px;
    }
    @media screen and (max-width: 1024px) {
      // @include font-size(12);
      min-width: auto;
    }
  }
}
