.page-banner-holder {
    width: 100vw;
    height: calc(100vh - 44px);
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    // height: auto;
    display: flex;
    align-items: flex-end;
    @media screen and (min-width: 1024px) {
        height: 100vh;
    }
    &.is-roadmap {
        height: calc(calc(41.66 * 100vw) / 100);
        @media screen and (max-width: 768px) {
            height: 80vh;
        }
    }
    .banner-content {
        align-items: flex-start;
        flex-direction: column;
        // max-width: 1340px;
        padding-bottom: 40px;
        padding-left: 20%;
        padding-right: 20%;
        color: #ffffff;
        @media screen and (max-width: 1680px) {
            padding-left: 15%;
            padding-right: 15%;
            width: 100%;
        }
        @media screen and (max-width: 1024px) {
            // padding-left: 15%;
            // padding-right: 15%;
            padding-bottom: 32px;
        }
        @media screen and (max-width: 768px) {
            padding: 0 20px 60px 20px;
            width: 100%;
        }
    }
    .banner-text {
        max-width: 75%;
        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
        h1 {
            font-family: $font__second;
            @include font-size(100);
            font-weight: bold;
            line-height: 105%;
            margin: 0;
            margin-bottom: 24px;
            @media screen and (max-width: 1680px) {
                @include font-size(84);
            }
            @media screen and (max-width: 1024px) {
                @include font-size(56);
                // hyphens: auto;
            }
            @media screen and (max-width: 768px) {
                @include font-size(40);
                margin-bottom: 12px;
            }
        }
        p {
            @include font-size(22);
            line-height: 150%;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
            @media screen and (max-width: 1680px) {
                @include font-size(21);
            }
            @media screen and (max-width: 1520px) {
                @include font-size(18);
                margin: 0;
            }
            @media screen and (max-width: 1024px) {
                @include font-size(16);
                // hyphens: auto;
            }
        }
    }
    &:after {
        content: "";
        padding-bottom: 47.5%;
        height: 0;
        display: inline-block;
    }
}

.home {
    .page-banner-holder {
        height: 87vh;
        .banner-content {
            padding-bottom: 80px;
            @media screen and (max-width: 768px) {
                padding: 0 20px 40px 20px;
            }
        }
        .banner-text {
            max-width: 100%;
            align-items: flex-end;
            display: flex;
            flex-wrap: wrap;
            .col-hero-text {
                width: 70%;
                @media screen and (max-width: 812px) {
                    width: 100%;
                }
                p {
                  margin-top: 16px;
                }
            }
            .col-hero-badges {
                width: 30%;
                text-align: right;
                @media screen and (max-width: 812px) {
                    width: 100%;
                    text-align: left;
                }
                a {
                    &:first-of-type {
                        margin-right: 24px;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                    img {
                        width: 88px;
                        @media screen and (max-width: 812px) {
                            width: 64px;
                            margin-top: 24px;
                        }
                    }
                }
            }
            h1 {
                margin: 0;
                margin-right: 32px;
                @media screen and (max-width: 812px) {
                    margin-bottom: 12px;
                }
            }
        }
        @media screen and (max-width: 812px) and (orientation:landscape) {
             height: calc(60vw - 44px);
        }
    }
}
