.information-section-holder + .new-cta-holder {
  margin-top: 5%;
}
.information-section-holder {
  @include fullwidth-row();

  .main-title,
  h2 {
    display: block;
    @include font-size(46);
    line-height: 105%;
    margin: 0;
    hyphens: auto;
    // margin-bottom: 10px;

    font-family: $font__second;
    font-weight: 700;

    @media screen and (max-width: 1680px) {
      @include font-size(46);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(32);
      margin-bottom: 0;
    }
  }
  .sub-title,
  h3 {
    margin: 0;
    @include font-size(46);
    line-height: 105%;
    font-weight: 100;
    margin-bottom: 30px;

    font-family: $font__second;

    @media screen and (max-width: 1680px) {
      @include font-size(46);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(42);
    }
    @media screen and (max-width: 768px) {
      @include font-size(34);
    }
  }
  p {
    @include font-size(18);
    margin: 0 0 40px 0;
    @include font-size(16);

    @media screen and (min-width: 1024px) {
      width: 80%;
    }
  }
  .btn {
    line-height: calc(29 / 20);
    letter-spacing: 0.03em;
    @include font-size(18);
    font-weight: 900;
    // padding: 16px 100px;
    @media screen and (max-width: 1440px) {
      min-width: 200px;
      @include font-size(16);
    }

    @media screen and (max-width: 680px) {
      padding: 16px;
      display: block;
      text-align: center;
      position: relative;
    }
    @media screen and (min-width: 1280px) {
      min-width: 460px;
    }
  }
}

.information-sections {
  margin: 0 60px;
  @media screen and (max-width: 1440px) {
    margin: 0 45px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 30px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }
  // margin-bottom: 0;
}
.information-section {
  padding: 10% 12%;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
  position: relative;
  overflow: hidden;

  &.no-mobile-padding {
    @media screen and (max-width: 480px) {
      padding: 60px 0;
    }
  }

  &:first-child {
    margin-top: 230px;
    margin: 0;
  }
  &.smaller-padding {
    padding: 10% 12%;
    .btn-white {
      background: $color__black;
      color: $color__white;

      &:hover {
        background: $color__yellow;
      }
    }
  }
  &.align-right {
    justify-content: flex-end;
    .information-section-content {
      text-align: right;
      p {
        margin: 0 0 40px auto;
      }
    }
    .information-section-image {
      left: 0;
      right: initial;
    }
  }

  .information-section-image {
    position: absolute;
    right: 0;
    left: initial;
    bottom: 0;
    top: 0;
    width: 50%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    @media screen and (max-width: 680px) {
      display: none;
    }
  }

  .information-mobile-image {
    text-align: center;
    margin-bottom: -110px;
    img {
      display: block;
      margin: 0 auto;
    }
    @media screen and (min-width: 680px) {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 100px 110px;
  }
  @media screen and (max-width: 812px) {
    padding: 60px 40px;
  }
  @media screen and (max-width: 680px) {
    background-size: 10000%;
    background-position: top left;
    padding: 32px 20px;
    &.align-right {
      justify-content: flex-start;
      .information-section-content {
        text-align: left;
      }
    }
  }
  @media screen and (max-width: 480px) {
    margin: 0;
    padding: 30px 20px;
  }
}
.information-section-content {
  position: relative;
  z-index: 2;
  max-width: 680px;
  @media screen and (max-width: 1650px) {
    max-width: 50%;
  }
  @media screen and (max-width: 1024px) {
    max-width: 55%;
  }
  @media screen and (max-width: 680px) {
    max-width: 100%;
  }
}
