.about-intro {
  display: flex;
  justify-content: space-between;
  @include max-width();
  margin: 14% auto 10%;

  @media screen and (max-width: 1440px) {
    margin: 200px auto 224px;
    max-width: 1020px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 740px;
    margin: 14.5% auto 9%;
  }
  @media screen and (max-width: 680px) {
    display: block;
    padding: 0;
  }

  @media screen and (max-width: 480px) {
    margin-top: 30px;
  }
  
  .motivational-sentences {
    max-width: 48%;
    @media screen and (max-width: 680px) {
      max-width: 100%;
    }
    h2 {
      @include font-size(42);
      line-height: calc(54 / 46);
      letter-spacing: 0.01em;
      font-family: $font__main;
      margin: 0;
      margin-bottom: 12px;
      font-weight: 900;
      @media screen and (max-width: 1440px) {
        @include font-size(34);
        margin: 0;
      }
      @media screen and (max-width: 1024px) {
        @include font-size(26);
      }
    }
    p {
      @include font-size(22);
      margin: 0;
      line-height: calc(36 / 22);
      text-align: justify;
      letter-spacing: 0.03em;
      font-style: italic;
      font-weight: 100;
      @media screen and (max-width: 1440px) {
        @include font-size(18);
      }
      @media screen and (max-width: 1024px) {
        @include font-size(14);
      }
    }
  }
  .intro-content {
    max-width: 50%;
    @media screen and (max-width: 1440px) {
      padding: 0 0 0 50px;
      margin-top: -10px;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 34px;
    }
    @media screen and (max-width: 680px) {
      padding: 0;
      margin: 32px 0;
      max-width: 100%;
    }
    h3 {
      @include font-size(72);
      line-height: calc(86 / 64);
      font-family: $font__second;
      font-weight: 100;
      margin: 0;
      @media screen and (max-width: 1680px) {
        @include font-size(60);
      }
      @media screen and (max-width: 1440px) {
        @include font-size(48);
      }
      @media screen and (max-width: 1024px) {
        @include font-size(36);
      }
      @media screen and (max-width: 768px) {
        @include font-size(32);
      }
      @media screen and (max-width: 480px) {
        @include font-size(28);
      }
    }
  }
}
