.about-events-title {
  line-height: 1.2;
  margin: 0;
  span {
    display: block;
    font-weight: 200;
  }
}

.about-events-holder {
  margin: 0 auto;
  padding-bottom: 10%;
  @media screen and (max-width: 480px) {
    padding-top: 15%;
  }
}

.about-show-all-events {
  margin: 12px 0 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
  .about-events-nav {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
    }
    a {
      display: inline-flex;
      margin: 0 6px 0 0;
      &:last-child {
        margin: 0;
      }
    }
  }
  .show-all-btn {
    a {
      @include font-size(14);
      // text-decoration: underline;
      display: inline-block;
      // padding-bottom: 4px;
      border-bottom: 1px solid $color__black;
      &:hover {
        border-color: $color__red;
      }
    }
  }
}

.about-events-padding {
  padding: 0 60px;
  @media screen and (max-width: 1440px) {
    padding: 0 45px;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }
  @media screen and (max-width: 768px) {
    padding: 0 20px;
  }
}

.about-events {
  @include fullwidth-row();
}

.about-event-carousel {
  // @media screen and (max-width: 480px) {
  //   margin: 0 10px;
  // }
  display: flex;
  flex-wrap: wrap;
  width: initial;
  .owl-stage {
    padding: 0 !important;
  }
  .content-box {
    width: calc(33.33% - 20px);
    margin: 0 15px 42px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0 0 32px 0;
    }
  }
}
