.principle-section {
  display: flex;
  justify-content: space-between;
  margin: 24% 0 12%;

  @media screen and (max-width: 1440px) {
    @include max-width();
    margin: 274px auto 220px;
    max-width: 1020px;
  }
  @media screen and (max-width: 1024px) {
    margin: 174px auto 152px;
    max-width: 720px;
  }
  @media screen and (max-width: 680px) {
    margin: 60px auto;
    display: block;
    padding: 0;
  }

  @media screen and (max-width: 480px) {
    margin-top: 30px;
  }

  h2 {
    width: 45%;
    @include font-size(72);
    line-height: calc(88 / 72);
    font-family: $font__second;
    font-weight: 100;
    margin: 0;
    @media screen and (max-width: 1680px) {
      @include font-size(60);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(36);
    }
    @media screen and (max-width: 680px) {
      width: 100%;
    }
  }

  .principles-holder {
    width: 45.5%;
    margin-top: 10px;

    @media screen and (max-width: 1024px) {
      margin-top: 0px;
    }
    @media screen and (max-width: 680px) {
      width: 100%;
      margin-top: 52px;
    }
  }
  .principle-box {
    margin-bottom: 80px;
    @media screen and (max-width: 1440px) {
      margin-bottom: 72px;
    }
    @media screen and (max-width: 1024px) {
      margin-bottom: 42px;
    }
  }
  .principle-title-holder {
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 10px;
      max-width: 36px;
      @media screen and (max-width: 1440px) {
        max-width: 32px;
      }
      @media screen and (max-width: 1024px) {
        max-width: 26px;
      }
    }
    .principle-title {
      @include font-size(48);
      font-family: $font__main;
      line-height: 1;
      font-weight: 900;
      width: 100%;
      @media screen and (max-width: 1440px) {
        @include font-size(38);
      }
      @media screen and (max-width: 1024px) {
        @include font-size(30);
      }
    }
  }
  .principle-desc {
    margin: 0;
    margin-top: 10px;
    @include font-size(36);
    font-weight: 100;
    letter-spacing: 0.01em;
    line-height: calc(55 / 36);
    @media screen and (max-width: 1440px) {
      margin-top: 5px;
      @include font-size(28);
      line-height: 1.4;
    }
    @media screen and (max-width: 1024px) {
      @include font-size(21);
    }
  }
}
