.team-photo {
  @include fullwidth-row();
  img {
    transform: translateX(-2.5%);
    display: block;
    max-width: auto;
    width: 100%;
    @media screen and (max-width: 1440px) {
      transform: translateX(-5px);
      max-height: 625px;
    }

    @media screen and (max-width: 1024px) {
      max-height: 445px;
    }

    @media screen and (max-width: 480px) {
      transform: translateX(-5%);
    }
  }
}
.team-desc {
  @include max-width();

  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 1440px) {
    max-width: 1020px;
    margin: 48px auto;
  }

  @media screen and (max-width: 1024px) {
    max-width: 720px;
    margin: 30px auto;
  }

  p {
    margin: 0;
    max-width: 80%;
    margin-right: 140px;
    @media screen and (max-width: 1440px) {
      margin-right: 100px;
    }

    @media screen and (max-width: 1024px) {
      @include font-size(14);
      margin-right: 60px;
    }
    @media screen and (max-width: 680px) {
      max-width: 75%;
      margin-right: 20px;
    }
  }

  strong {
    @media screen and (max-width: 1024px) {
      @include font-size(14);
    }
  }
}
