.team-board-members-carousel-holder,
.team-members-carousel-holder {
  @include fullwidth-row();
  overflow: hidden;
  margin-bottom: 110px;
  padding-bottom: 40px;

  margin-top: -120px;
  padding-top: 120px;

  .owl-carousel .owl-stage {
    padding-bottom: 40px;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 56px;
  }
  @media screen and (max-width: 768px) {
    padding: 0px;
    // margin: 0px;
    padding-top: 60px;
    margin-top: -60px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}

.team-board-members-carousel-holder {
  // margin-bottom: 56px;
}

.team-member-carousel {
  display: flex;
  width: 95%;
  margin-left: auto;

  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 85%;
    transform: translateX(-3%);
    background: #f3eee1;
    bottom: -40px;
    @media screen and (max-width: 480px) {
      transform: translateX(-8px);
    }
  }
}

.team-board-member-carousel {
  display: flex;
  width: 95%;
  margin-right: auto;

  @media screen and (min-width: 1024px) {
    margin-left: auto;
    margin-right: initial;
  }
  @media screen and (min-width: 1140px) {
    margin-left:60px;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    position: relative;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 85%;
    transform: translateX(-3%);
    background: #f3eee1;
    bottom: -40px;

    @media screen and (max-width: 480px) {
      transform: translateX(-8px);
    }
  }
}

.team-board-member-title-holder,
.team-member-title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-width();
  margin-bottom: 45px;

  @media screen and (max-width: 1440px) {
    max-width: 1020px;
    margin-bottom: 25px;
  }

  @media screen and (max-width: 1024px) {
    max-width: 720px;
    margin-bottom: 10px;
  }

  .custom-carousel-nav {
    position: relative;
    right: -180px;

    @media screen and (max-width: 1680px) {
      right: -130px;
    }
    @media screen and (max-width: 768px) {
      right: 0;
    }
  }

  h2 {
    font-family: $font__main;
    @include font-size(46);
    margin: 0;

    @media screen and (max-width: 1440px) {
      @include font-size(36);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(28);
    }
  }
}

.team-board-member-title-holder {
  flex-direction: row-reverse;

  .custom-carousel-nav {
    position: relative;
    left: -180px;

    @media screen and (max-width: 1920px) {
      left: -80px;
    }
    @media screen and (max-width: 1680px) {
      left: -40px;
    }
    @media screen and (max-width: 768px) {
      left: 0;
    }
  }
}

.team-member {
  // position: relative;
  // top: 8px;
  // left: 20px;
  a {
    display: block;
    &:focus,
    &:visited,
    &:hover {
      color: $color__text;
      .user-info p {
        border-color: $color__text;
      }
    }
  }

  .user-info {
    margin: 0;
    padding-top: 28px;
    @include font-size(22);
    line-height: 1;

    span {
      display: block;
      font-weight: normal;
    }
    p {
      overflow: hidden;
      display: inline-flex;
      border-bottom: 2px solid transparent;
      transition: 200ms ease-in all;
      @include font-size(30);
      font-weight: 900;
      letter-spacing: 0.02em;
      margin: 0;
      margin-bottom: 12px;

      @media screen and (max-width: 1440px) {
        @include font-size(22);
        margin-bottom: 8px;
      }

      @media screen and (max-width: 1024px) {
        @include font-size(18);
        margin-bottom: 3px;
      }
      @media screen and (max-width: 768px) {
        @include font-size(14);
      }
    }
  }
}
