// .page-content .wp-smiley,
// .entry-content .wp-smiley,
// .comment-content .wp-smiley {
//   border: none;
//   margin-bottom: 0;
//   margin-top: 0;
//   padding: 0;
// }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

.wp-caption {
  margin-bottom: 60px;
  max-width: 140% !important;
  width: auto !important;
  img {
    transform: translateX(-10%);
  }

  .wp-caption-text {
    @include font-size(16);
    font-weight: 100;
    font-style: italic;
    max-width: 700px;
    margin: 0 auto !important;
    text-align: center;
    @media screen and (max-width: 1024px) {
      max-width: 60%;
    }
  }
}
