.yova-yellow {
  .page-banner-holder .banner-text {
    h1 {
      hyphens: auto;
    }
  }
  .two-boxes-bg-holder {
    padding: 60px;
    padding-top: 90px;
    @media screen and (max-width: 1680px) {
      padding: 45px;
      padding-top: 75px;
    }
    @media screen and (max-width: 1024px) {
      padding: 30px;
      padding-top: 60px;
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
      padding-top: 45px;
    }
    @media screen and (max-width: 480px) {
      padding: 20px 0 20px 20px;
    }
  }
  .approach-banner-scroll-holder {
    margin: 0;
    width: 100%;
    // padding: 90px 0 45px 45px;
  }
  .approach-banner-content-holder {
    background: #f9d483;
    h2 {
      hyphens: auto;
    }
    @media screen and (max-width: 768px) {
      padding-right: 10px;
    }
  }

  .banner-boxes-bg-holder {
    padding: 60px;
    padding-bottom: 90px;
    @media screen and (max-width: 1680px) {
      padding: 45px;
      padding-bottom: 75px;
    }
    @media screen and (max-width: 1024px) {
      padding: 30px;
      padding-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
      padding-bottom: 45px;
    }
  }

  .banner-boxes {
    position: relative;
    margin: 0;
  }

  .banner-box {
    flex: 1;
    overflow: hidden;
    &:hover {
      .banner-title-holder {
        margin-bottom: 25px;
      }
    }
    position: relative;
    z-index: 2;
    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    }

    .banner-desc,
    .banner-title-holder {
      position: relative;
      z-index: 2;
      transform: translateY(25px);
      // margin:0;
    }

    .banner-desc {
      transform: translateY(30px);
      height: 0;
    }

    &.active {
      .banner-desc {
        max-height: initial;
      }
    }

    // .banner-title-holder {
    //   @media screen and (max-width: 1024px) and (min-width: 768px) {
    //     // transform: translateY(50px);
    //   }
    // }
  }
}

.yova-yellow-how-it-works {
  @include fullwidth-row();
  padding: 60px;
  @media screen and (max-width: 1680px) {
    padding: 45px;
  }
  @media screen and (max-width: 1024px) {
    padding: 30px;
  }
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
  .how-it-works-holder {
    margin: 0;
    @include max-width();
    margin: 10% auto;
    padding: 0;
    @media screen and (max-width: 1024px) {
      margin: 10% auto 6%;
    }
    @media screen and (max-width: 680px) {
      margin: 0;
      padding: 0;
    }
  }
  // .how-it-works-phones-holder {
  //   @media screen and (max-width: 1024px) {
  //     padding: 0;
  //   }
  // }
}

.information-sections {
  &.yova-yellow {
    margin: 0;
  }
}

.yova-yellow-autopilot {
  // overflow: hidden;
  @include fullwidth-row();
  padding: 15% 0;
  // padding: 15% 0 15% 60px;
  @media screen and (max-width: 1024px) {
    padding: 6% 0 5%;
  }

  @media screen and (max-width: 480px) {
    padding: 30px 0 0 0;
    .autopilot-title-area h2 {
      margin-top: 0;
    }
  }

  .approach-banner-scroll-holder {
    padding-left: 60px;
    margin-top: 60px;
    @media screen and (max-width: 1680px) {
      padding-left: 45px;
      margin-top: 45px;
    }
    @media screen and (max-width: 1024px) {
      padding-left: 30px;
      margin-top: 30px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 20px;
      margin-top: 20px;
    }
  }

  .autopilot-title-area {
    overflow: hidden;
    p {
      max-width: 900px;
    }
  }
}

.footer-banner-holder {
  &.yova-yellow {
    padding-bottom: 60px;
    @media screen and (max-width: 1680px) {
      padding-bottom: 45px;
    }
    @media screen and (max-width: 1024px) {
      padding-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    .footer-banner {
      margin-bottom: 0;
    }
  }
}

.testimonial-yova-yellow {
  @include fullwidth-row();
  padding: 15% 0;
  @media screen and (max-width: 1024px) {
    padding: 0 0 5% 0;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
  }
  .testimonial-carousel-holder {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
  }
}

.team-photo {
  &.yova-yellow {
    padding-bottom: 5%;
  }
}

.yova-yellow-newsletter {
  @include fullwidth-row();
  padding-bottom: 1px;
  .newsletter-box-holder {
    @include max-width();
  }
  .newsletter-box {
    background: url(assets/images/yova-yellow-newsletter-bg.png) 0 0
      $color__green no-repeat;
    background-size: cover;
    background-position: 50%;
  }
  @media screen and (max-width: 680px) {
    .newsletter-form {
      padding: 0;
      background: transparent;
      input {
        background: #fff;
        padding: 12px;
        border-radius: 0;
        width: 100%;
      }
      button {
        background: #fff;
        width: 100%;
        border-radius: 0;
        padding: 12px;
      }
    }
  }
}

.landing-v2-cta-holder {
  &.yova-yellow {
    margin: 0 0 5% 0;
    @media screen and (max-width: 420px) {
      margin: 0 20px 5% 20px;
    }
    a {
      max-width: 400px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 420px) {
        padding: 16px 8px;
        font-size: 14px;
      }
      svg {
        margin-left: 10px;
      }
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
