.savings-faq-content-holder {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  @include max-width();

  @media screen and (max-width: 680px) {
    display: block;
    padding: 0;
  }

  h2 {
    @include font-size(72);
    line-height: calc(78 / 72);
    font-family: $font__second;
    font-weight: 100;
    margin: 0;
    margin-bottom: 40px;

    @media screen and (max-width: 1440px) {
      @include font-size(52);
      margin-bottom: 32px;
    }
    @media screen and (max-width: 1024px) {
      @include font-size(40);
    }
  }
}

.savings-faq-content {
  width: calc(100% - 300px);
  @media screen and (max-width: 680px) {
    width: 100%;
  }
}
.savings-faq-sidebar {
  background: $color__white;
  min-width: 300px;
  max-width: 300px;
  margin-right: 90px;
  align-self: flex-start;
  padding: 44px 32px;

  @media screen and (max-width: 1440px) {
    // min-width: 200px;
    padding: 36px 24px;
  }

  @media screen and (max-width: 1024px) {
    padding: 24px;
    margin-right: 45px;
  }

  @media screen and (max-width: 680px) {
    display: none;
  }

  ul {
    @include reset-list();
    li {
      margin: 30px 0 0;
      &:first-child {
        margin-top: 0;
      }
      a {
        display: flex;
        align-items: center;
        padding-bottom: 28px;
        border-bottom: 2px solid $color__text;
        @include font-size(14);
        font-weight: 900;
        opacity: 0.2;
        text-transform: uppercase;
        @media screen and (max-width: 1440px) {
          padding-bottom: 8px;
          @include font-size(11);
        }
        &:focus,
        &:hover,
        &.active {
          color: $color__text;
          opacity: 1;
        }

        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.faq-item {
  display: none;
  &.active {
    display: block;
  }

  @media screen and (max-width: 680px) {
    display: block;
  }

  h3 {
    @include font-size(30);
    font-weight: 900;
    font-family: $font__main;

    @media screen and (max-width: 1440px) {
      @include font-size(24);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(18);
    }
  }
  p {
    @media screen and (max-width: 1024px) {
      @include font-size(14);
    }
  }
}
