.savings-title-area {
  h2 {
    @media screen and (max-width: 1024px) {
      @include font-size(30);
    }
  }
}
.savings-video-holder {
  @include max-width();
  max-width: 820px;
  text-align: center;
  margin: 240px auto;

  &.landing-v2 {
    margin: 10% auto;
    @media screen and (max-width: 768px) {
      margin: 20px 6px;
      padding: 0;
      max-width: 100%;
    }
  }

  &.fireflie-video,
  &.french-video {
    max-width: initial;
    display: flex;
    margin: 10% auto 8%;
    .savings-title-area {
      overflow: hidden;
    }
    @media screen and (max-width: 812px) {
      flex-direction: column;
    }
    > div {
      width: 50%;
      @media screen and (max-width: 812px) {
        width: 100%;
      }
    }
    .video-holder {
      width: 650px;
      @media screen and (max-width: 812px) {
        width: 100%;
        margin-bottom: 44px;
      }
      @media screen and (max-width: 480px) {
        display: none;
      }
    }
    .content-holder {
      padding-left: 60px;
      text-align: left;
      @media screen and (max-width: 812px) {
        padding-left: 0;
      }
      h2 {
        margin: 0;
        margin-bottom: 24px;
      }
      p {
        max-width: initial;
      }
      @media screen and (max-width: 480px) {
        margin-bottom: 12px;
      }
    }
  }

  &.fireflie-video {
    align-items: center;
    .savings-video-card,
    .video-holder {
      display: block !important;
    }
  }

  p {
    max-width: 600px;
    margin: 0 auto;
  }

  @media screen and (max-width: 1024px) {
    max-width: 620px;
  }

  @media screen and (max-width: 768px) {
    margin: 120px auto;
  }
  @media screen and (max-width: 768px) {
    margin: 60px auto;
  }
  @media screen and (max-width: 480px) {
    margin: 30px auto;
    padding: 0;
  }

  .savings-video-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 1024px) {
      display: none;
    }
    &:hover {
      cursor: pointer;
      .yt-play {
        background: $color__yellow;
      }
    }
  }

  .savings-video-iframe {
    display: none;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    &.show-iframe {
      display: block;
    }
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
