@import "approach/scrollable-sections";
@import "approach/approach-banner-boxes";
@import "approach/faq-section";
@import "approach/how-it-works";
@import "approach/testimonial-carousel";
@import "approach/information-carousel";

.approach-inforamtion-section {
  margin: 100px 0;
  @media screen and (min-width: 1025px) {
    margin: 180px 0;
  }
}

.approach-help-holder {
  position: relative;
  @media screen and (min-width: 1025px) {
    margin-top: 140px;
    padding-bottom: 140px;
  }
  &:after {
    content: "";
    position: absolute;

    background: url("assets/images/faq-bg-pen.png") top left transparent;

    background-size: contain;
    background-repeat: no-repeat;

    padding-bottom: 200px;
    width: 180px;
    height: 245px;
    right: -10%;
    top: 30%;
    transform: rotate(45deg);

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      top: 20%;
      width: 270px;
      height: 254px;
    }

    @media screen and (min-width: 1024px) {
      top: -20%;
      right: initial;
      left: 0;
      transform: none;
      width: 270px;
      height: 254px;
    }

    @media screen and (min-width: 1140px) {
      left: -10%;
      top: -120px;
      width: 347px;
      height: 480px;
      transform: none;
      padding-bottom: 60px;
    }
  }
}
