.career-list-content {
  @include max-width();
  margin: 120px auto;
  max-width: 1020px;

  @media screen and (max-width: 1024px) {
    max-width: 740px;
    margin: 90px auto;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    margin-bottom: 45px;
  }

  @media screen and (max-width: 480px) {
    margin: 30px 0;
  }
  h2 {
    @include font-size(56);
    line-height: 1.2;
    margin: 0;
    font-weight: 900;
    @media screen and (max-width: 1680px) {
      @include font-size(42);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(30);
    }
  }
  h3 {
    @include font-size(72);
    line-height: calc(78 / 72);
    font-weight: 100;
    margin: 0;
    @media screen and (max-width: 1680px) {
      @include font-size(58);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(42);
      line-height: 1;
    }
  }
  p {
    @include font-size(22);
    line-height: calc(36 / 22);
    letter-spacing: 0.03em;
    @media screen and (max-width: 1440px) {
      @include font-size(18);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(14);
    }
  }
}

.jobs-list {
  max-width: 910px;
  margin: 140px auto;
  @media screen and (max-width: 1024px) {
    max-width: 640px;
    margin: 95px auto;
  }
  @media screen and (max-width: 680px) {
    margin: 45px auto 75px;
  }
  @media screen and (max-width: 480px) {
    margin: 0 auto;
  }
}

.position-title {
  padding-top: 120px;
  margin-top: -120px;
  @include font-size(46);
  font-family: $font__main;
  line-height: calc(46 / 52);
  font-weight: 900;
  @media screen and (max-width: 1680px) {
    @include font-size(34);
    margin: -120px 0 24px 0;
  }
  @media screen and (max-width: 1024px) {
    @include font-size(24);
  }

  @media screen and (max-width: 480px) {
    padding-top: 90px;
    margin-top: -90px;
  }
}

.jobs {
  ul {
    @include reset-list();
  }
  li {
    border-bottom: 2px solid #e4e2dd;

    a {
      margin-top: 32px;
      padding-bottom: 32px;
      display: flex;
      @include font-size(24);
      line-height: calc(46 / 30);
      align-items: center;
      @media screen and (max-width: 1024px) {
        margin-top: 21px;
        padding-bottom: 21px;
        @include font-size(18);
      }
    }

    .position-number {
      @include font-size(15);
      line-height: 1;
      display: block;
      font-weight: normal;
      margin-right: 15px;
      @media screen and (max-width: 1024px) {
        margin-right: 8px;
      }
    }
  }
}

.single-career-holder {
  display: flex;
  max-width: 1140px;
  margin: 160px auto 12.5%;
  @media screen and (min-width: 1680px) {
    max-width: 1350px;
  }
  @media screen and (max-width: 1440px) {
    margin-top: 14%;
    max-width: 990px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 700px;
    margin-top: 150px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 90px;
  }
}

.mobile-career-photo {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    border-bottom: 4px solid $color__black;
  }
}
.career-photo {
  flex: 1;
  align-self: flex-start;
  max-width: 320px;
  margin-right: 110px;
  padding-bottom: 15px;
  border-bottom: 4px solid $color__black;

  @media screen and (min-width: 1680px) {
    max-width: 420px;
  }
  @media screen and (max-width: 1440px) {
    margin-right: 80px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 220px;
    margin-right: 60px;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
  img {
    width: 100%;
    display: block;
  }
}

.career-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  ul {
    margin: 0 0 0 40px;
    list-style: square;
  }
}

.position-detail {
  @include font-size(22);

  @media screen and (max-width: 1440px) {
    @include font-size(18);
  }
  @media screen and (max-width: 1024px) {
    @include font-size(16);
  }
}

.position-name {
  @include font-size(65);
  font-family: $font__main;
  font-weight: 900;
  line-height: calc(80 / 65);
  margin: 0;

  @media screen and (max-width: 1440px) {
    @include font-size(52);
  }
  @media screen and (max-width: 1024px) {
    @include font-size(40);
  }
}

.career-nav {
  display: flex;
  margin-top: 10px;
  a {
    display: flex;
    margin-right: 10px;
    &.disable {
      opacity: 0.1;
      cursor: default;
    }
    &:last-child {
      margin: 0;
    }
    svg {
      .border,
      .arrow {
        transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
    &:hover:not(.disable) {
      svg {
        .border {
          stroke: $color__red;
        }
        .arrow {
          fill: $color__red;
        }
      }
    }
  }
}

.workload-location {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  @include font-size(16);

  @media screen and (max-width: 1440px) {
    @include font-size(14);
  }

  @media screen and (max-width: 768px) {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  > div {
    &:last-child {
      text-align: right;
    }
  }
  span {
    @include font-size(12);
    text-align: left;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @media screen and (max-width: 1440px) {
      @include font-size(10);
      margin: 0;
    }
  }
}

.apply-btn {
  margin: 45px 0 45px 0;
}
