@import "contact/schedule-section";
@import "contact/google-map";
@import "contact/contact-form";

.contact-us-holder {
  display: flex;
  @include max-width();
  margin: 32px 0;

  @media screen and (min-width:768px) {
    margin: 120px 0 80px 0;
  }

  @media screen and (min-width:1025px) {
    margin: 230px 0 180px 0;
  }

  h2 {
    margin: 0;
  }

  @media screen and (max-width: 1440px) {
    .contact-us {
      max-width: 500px;
      margin-right: 95px;
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 1024px) {
    .contact-us {
      margin-right: 45px;
      margin-left: 0px;

      h2 {
        @include font-size(32);
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;

    .contact-us {
      margin: 0;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
    margin-bottom: 120px;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.call-us-holder,
.email-us-holder {
  display: flex;
  @include font-size(18);
  align-items: center;
  font-weight: 100;
  line-height: 1;
  margin-top: 16px;

  @media screen and (min-width: 1024px) {
    margin-top: 32px;
    @include font-size(22);
  }

  a {
    font-weight: 900;
    font-family: $font__second;
    display: inline-flex;
    line-height: 1;
    margin-top: -4px;
    margin-left: 5px;
  }
}

.call-us-holder {
  margin-top: 18px;
}