@import "growth/two-boxes";
@import "growth/how-it-works";
@import "growth/video-section";

.growth-two-boxes-cta-btn {
  display: none;
  text-align: center;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
.landing-v2-how-it-works {
  .landing-v2-cta-holder {
    &.growth {
      @media screen and (max-width: 768px) {
        margin-top: 60px;
      }
      @media screen and (max-width: 480px) {
        margin-top: 30px;
      }
    }
  }
}
