@import "homepage/information-section";
@import "homepage/banner-boxes";
@import "homepage/digital-approach";
@import "homepage/company-testimonial";
@import "homepage/social-page";

.new-cta-holder {
  display: flex;
  justify-content: center;
  a {
    min-width: 320px;
    max-width: 360px;
    @media screen and (max-width: 768px) {
      max-width: initial;
      width: 100%;
    }
    @media screen and (max-width: 320px) {
      min-width: 280px;
      max-width: 280px;
    }
  }
}
