@import "landing-v2/hero-section";
@import "landing-v2/banner-boxes";
@import "landing-v2/faq-section";
@import "landing-v2/how-it-works";
@import "landing-v2/landing-v2-form";

.landing-v2-cta-holder {
  margin: 0 60px 60px;
  &.neon {
    margin-bottom: 0;
  }
  a {
    font-weight: 600;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    display: block;
    @media screen and (max-width: 680px) {
      max-width: initial;
    }
  }
  @media screen and (max-width: 1440px) {
    margin: 0 40px 40px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 30px 30px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 20px 20px;
  }
}

.landing-v2-testimonial {
  margin: 60px 0 120px;
  @media screen and (max-width: 1024px) {
    margin: 60px 0 60px;
  }

  @media screen and (max-width: 480px) {
    margin: 30px 0;
    .testimonial-contents-holder {
      margin: 0 20px;
    }
  }
  &.french-landing {
    .testimonial-carousel-holder {
      margin-bottom: 0%;
    }
  }
  .testimonial-carousel-holder {
    margin-top: 0;
    padding-top: 0;
  }
}
.landing-v2-faq {
  .faq-fullwidth-holder {
    // transform: none;
  }
}

.landing-v2-how-it-works {
  margin-top: 320px;
  &.french-landing {
    margin-top: 0;
    .how-it-works-holder {
      margin: 13% auto 5%;
    }
  }
  &.extra-pb {
    padding-bottom: 100px;
    @media screen and (max-width: 680px) {
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 1024px) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .how-it-works-holder {
    @media screen and (max-width: 1024px) {
      margin: 0 auto;
    }
  }
  .landing-v2-cta-holder {
    margin: 0 auto;
    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-top: 100px;
    }
  }
}

.landing-v2-article {
  display: flex;
  position: relative;
  z-index: 1000;
  @include max-width();

  padding: 66px 0;
  @media screen and (max-width: 1440px) {
    padding: 48px 0;
    max-width: 1020px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 820px;
  }
  @media screen and (max-width: 768px) {
    display: block;
  }
}
