@import "landing/hero-section";

.landing-newsletter {
  @include max-width();
  margin: 40px auto;
  @media screen and (max-width: 1024px) {
    max-width: 1040px;
    padding: 0;
  }
  @media screen and (max-width: 480px) {
    margin-top: 0;
  }
  .newsletter-box {
    margin: 0;
  }
}

.landing-team-photo {
  @include fullwidth-row();
  margin: 80px 0;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin: 40px 0;

    img {
      transform: translateX(-35px);
    }
  }
  @media screen and (max-width: 480px) {
    margin: 0;
  }
}

.landing-fullwidth-banner {
  @include fullwidth-row();
  margin: 80px 0;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    margin: 40px 0;
  }
  @media screen and (max-width: 480px) {
    margin: 0 auto;
  }
}

.landing-how-it-works {
  .how-it-works-holder {
    margin: 100px auto 250px;
    @media screen and (max-width: 1024px) {
      margin: 60px auto 120px;
    }
    @media screen and (max-width: 480px) {
      margin: 0 auto 30px;
    }
  }
}

.landing-autopilot {
  margin: 80px 0;
  @media screen and (max-width: 1024px) {
    margin: 40px 0;
  }
  @media screen and (max-width: 480px) {
    margin: 30px auto 0;
  }
}

.autopilot-title-area {
  @include max-width();
  max-width: 820px;
  text-align: center;
  h2 {
    @media screen and (max-width: 1024px) {
      @include font-size(32);
    }
  }
  p {
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
      @include font-size(16);
    }
  }
}

.landing-testimonial {
  .testimonial-carousel-holder {
    @media screen and (max-width: 1024px) {
      margin-bottom: 10%;
    }
  }
}

.approach-banner-boxes-holder.landing {
  .approach-banner-scroll-holder.no-scroll {
    margin: 120px 60px 60px 60px;
    @media screen and (max-width: 1440px) {
      // margin: 45px;
      margin: 90px 45px 45px 45px;
      width: calc(100vw - 90px);
    }
    @media screen and (max-width: 1024px) {
      margin: 60px 30px 30px 30px;
      width: calc(100vw - 60px);
    }
    @media screen and (max-width: 768px) {
      margin: 40px 20px 20px 20px;
      width: calc(100vw - 40px);
    }
    @media screen and (max-width: 480px) {
      margin: 30px 20px;
      width: calc(100vw - 40px);
    }
  }
  .approach-banner-scroll-content {
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .approach-banner-box {
    min-width: calc(50% - 30px);
    @media screen and (max-width: 1440px) {
      min-width: calc(50% - 22px);
    }
    @media screen and (max-width: 1024px) {
      min-width: calc(50% - 15px);
    }
    @media screen and (max-width: 768px) {
      min-width: 100%;
      margin: 0;
      margin-bottom: 24px;
      &:after {
        padding-bottom: 100%;
      }
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 0;
    }
  }
}
