.page-template-landing-form,
.page-template-maintenance {
    & .site-header {
        margin: 0;
        position: relative;
        width: 100%;
    }

    & .site-content {
        max-width: none;
        padding: 0;
        width: 100%;
    }

    & .maintenance {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 67px);

        @media screen and (min-width: 768px) {
            height: calc(100vh - 70px);
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        @media screen and (min-width: 1024px) {
            height: calc(100vh - 84px);
        }

        &-image {
            background-position: right top;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;
            height: 100%;
            order: 1;
            width: 100%;

            @media screen and (min-width: 768px) {
                background-position: left bottom;
                background-size: contain;
                order: 0;
            }
        }

        &-content {
            align-items: center;
            display: flex;  
            padding: 40px 20px 0;

            @media screen and (min-width: 768px) {
                flex: 1;
                padding: 0 15% 0 0;
            }

            & h1 {
                @include font-size(32);
                font-weight: 100;
                margin: 0;

                & strong {
                    font-weight: 700;
                }
            }
        }
    }
}