.roadmap-filter {
  @include reset-list();
  margin: 45px 0 32px 0;
  background: $color__white;
  display: flex;
  padding: 32px;
  @media screen and (max-width: 680px) {
    margin: 22px 0 16px;
    background: none;
    flex-direction: column;
    padding: 0;
  }
  li {
    margin: 0 16px 0;
    @include font-size(13);
    font-weight: 900;
    line-height: 1;
    @media screen and (max-width: 680px) {
      background: $color__white;
      margin: 0;
      margin-top: 6px;
      padding: 12px 20px;
      line-height: 1;
      &:first-child {
        margin-top: 0;
      }
    }
    &.active-roadmap {
      a {
        opacity: 1;
      }
    }
    &:first-child {
      margin-left: 0;
    }

    a {
      text-transform: uppercase;
      color: $color__black;
      opacity: 0.2;
    }
  }
}
.roadmap-posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  padding-bottom: 60px;
}

.roadmap-box {
  display: flex;
  height: 290px;
  width: calc(33.33% - 32px);
  position: relative;
  flex-direction: column;
  margin: 0 16px 40px 16px;
  @media screen and (max-width: 812px) {
    width: calc(50% - 32px);
  }
  @media screen and (max-width: 680px) {
    width: calc(100% - 32px);
  }
  .roadmap-background {
    flex: 1;
    background-size: cover;
  }
  .roadmap-content {
    position: absolute;
    background-color: #f8f6f1;
    bottom: 0;
    right: 0;
    width: 90%;
    padding: 18px 18px 8px 18px;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .roadmap-hidden {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      margin-bottom: auto;
      transform: translateY(50px);
      transition: all 300ms ease-out;
      transition-delay: 300ms;
      position: absolute;
    }
    h2 {
      @include font-size(21);
      margin: 0;
      display: inline;
      align-self: flex-start;
      // border-bottom: 2px solid $color__black;
      text-decoration: underline;
      margin-bottom: 12px;
    }
    .roadmap-like-cat-holder {
      line-height: 1;
      display: flex;
      align-items: center;
      .seperator {
        margin: 0 6px;
      }
      .like-count {
        margin-right: 3px;
      }
      .like-btn {
        cursor: pointer;
        .unlike-btn-icon {
          display: none;
        }
        &.liked {
          .like-btn-icon {
            display: none;
          }
          .unlike-btn-icon {
            display: flex;
          }
        }
      }
      span {
        font-weight: bold;
        @include font-size(12);
        display: flex;
        align-items: center;
        svg {
          margin-right: 6px;
          margin-bottom: 6px;
        }
      }
    }
  }

  &:hover {
    .roadmap-content {
      height: 100% !important;
      h2 {
        margin-bottom: 0;
      }
      .roadmap-hidden {
        max-height: initial;
        opacity: 1;
        position: relative;
        transform: translateY(0px);
      }
    }
  }
}

.roadmap-help {
  &.approach {
    background: none;
    margin-bottom: 0;
    padding-bottom: 0;
    ul {
      margin-bottom: 50px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 60px;
      ul {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 1024px) {
      align-items: center;
    }
  }
  @include max-width();
  margin-bottom: 100px;
  background-color: #f3eee1;
  max-height: 200px;
  padding: 40px 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 40px;
    max-height: initial;
    align-items: flex-start;
  }
  @media (max-width: 680px) {
    padding: 40px 20px;
  }
  @media (max-width: 320px) {
    overflow: hidden;
  }
  h3 {
    margin: 0 0 24px 0;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    @include reset-list();
    width: 100%;
    justify-content: center;
    @media (max-width: 1024px) {
      width: auto;
      justify-content: flex-start;
    }
    @media (max-width: 480px) {
      flex-direction: column;
    }
    // flex-wrap: wrap;
    li {
      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      position: relative;
      padding-right: 21px;
      margin-right: 32px;

      @media (max-width: 480px) {
        margin: 0;
        margin-bottom: 12px;
        margin-right: auto;
        align-self: flex-start;
      }
      &:last-child {
        margin-right: 0;
      }
      &.with-icon {
        position: relative;
        padding-right: 21px;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          background: url(assets/images/phone-launch-icon.svg) center center
            transparent no-repeat;
          width: 20px;
          margin-left: 4px;
        }
      }
      .icon {
        width: 35px;
        padding: 5px 10px 5px 5px;
        display: inline-block;
      }
    }
  }
  a {
    border-bottom: 1px solid $color__black;
    height: 20px;
    &:hover {
      border-color: $color__red;
    }
  }
  .help-image {
    bottom: 0;
    height: auto;
    position: absolute;
    right: 4%;
    width: 200px;

    @media (max-width: 1024px) {
      right: 4%;
    }
    @media (max-width: 768px) {
      width: 160px;
      right: 1%;
    }
    @media (max-width: 320px) {
      right: -15%;
    }
  }
}
