.blog-posts {
  display: flex;
  justify-content: space-between;
  @include max-width();
  margin: 60px auto;

  @media screen and (max-width: 1440px) {
    max-width: 1020px;
    margin: 45px auto;
    justify-content: flex-start;
  }

  @media screen and (max-width: 1024px) {
    // padding: 0;
    // margin: 20px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    margin: 20px 0;
    justify-content: space-between;
    overflow: hidden;
  }

  &.archive-list {
    margin-top: 140px;
    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }

  #secondary {
    width: 300px;
    @media screen and (max-width: 1440px) {
      width: 200px;
      margin-right: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 20px;
    }
    @media screen and (max-width: 680px) {
      margin: 0;
      width: 100%;
    }
  }

  #primary {
    width: 100%;
    // max-width: 1020px;
    margin: 0px -30px;
    @media screen and (max-width: 1440px) {
      // width: calc(100% - 200px);
    }
    @media screen and (max-width: 768px) {
      // width: calc(100% - 180px);
    }
    @media screen and (max-width: 680px) {
      margin: 0;
      width: 100%;
    }
  }

  .site-main {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 680px) {
      display: block;
    }
  }

  @media screen and (max-width: 680px) {
    display: block;
  }
}

.content-box {
  position: relative;
  margin: 0 30px 42px;
  width: calc(50% - 60px);

  &.first-item {
    width: 100%;

    .post-link {
      &:after {
        padding-bottom: 62.5%;
        @media screen and (max-width: 768px) {
          padding-bottom: 72.5%;
        }
        @media screen and (max-width: 680px) {
          padding-bottom: 95%;
        }
      }
    }
    .entry-content-holder {
      width: 95%;
    }
    .entry-title {
      @include font-size(46);

      @media screen and (max-width: 1440px) {
        @include font-size(32);
      }
      @media screen and (max-width: 768px) {
        @include font-size(26);
        line-height: 29px;
      }
    }
  }

  .entry-featured {
    position: relative;
    a {
      display: block;
      overflow: hidden;
    }
    img {
      display: block;
    }
  }
  .entry-content-holder {
    background: #f8f6f1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    padding: 45px 30px 8px 30px;
    z-index: 2;
    @media screen and (max-width: 1440px) {
      padding: 18px 20px 8px 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 16px 20px 6px 20px;
    }
  }

  .entry-title {
    @include font-size(26);
    // line-height: calc(26 / 29);
    line-height: 1.1;
    margin: 0;
    margin-bottom: 18px;

    @media screen and (max-width: 1440px) {
      @include font-size(21);
    }
    @media screen and (max-width: 768px) {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .entry-content {
    margin-bottom: 18px;
    p {
      @include font-size(18);
      margin: 0;
    }
  }

  @media screen and (max-width: 1440px) {
    margin: 0 16px 42px;
    width: calc(50% - 32px);
  }

  @media screen and (max-width: 768px) {
    margin: 0 16px 24px;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    margin: 22px 0;
  }
}

.post-link {
  display: block;
  position: relative;
  background-position: center;
  background-size: cover;

  &:after {
    content: "";
    padding-bottom: 95%;
    height: 0;
    display: inline-block;
  }

  .entry-featured {
    overflow: hidden;
    position: relative;
    img {
      transition: transform 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
      display: block;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include bg-color($color__black, 0.8);
      z-index: 1;
      opacity: 0;
      transition: opacity 300ms cubic-bezier(0.47, 0, 0.745, 0.715);
    }
  }
  &:focus,
  &:hover {
    color: $color__text;

    .entry-featured {
      &:after {
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
  }
}

.entry-meta {
  display:flex;
  flex-wrap: wrap;
  // display: flex;
  // overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  span {
    white-space: nowrap;
    @include font-size(12);
    font-weight: 900;
    margin: 0 6px 0 0;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1440px) {
      @include font-size(11);
    }

    &:last-child {
      margin-left: 0;
      white-space: initial;
      line-height: 1.4;
      display: inline-block;
      @media screen and (max-width: 768px) {
        margin: 0;
      }
      @media screen and (max-width: 680px) {
        margin: 0 6px;
      }
    }
  }
}

.archive-page-header {
  margin: 0 30px;
  .page-title {
    margin: 0;
  }
}

.landing-v2-article,
.single {
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 32px;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  // iframe {
  //   &:after {
  //     content: "";
  //     padding-bottom: 47.5%;
  //     height: 0;
  //     display: inline-block;
  //   }
  // }
  // iframe {
  //   width: 110%;
  //   max-width: 110%;
  //   &:after {
  //     height: 0;
  //     padding-bottom: 56.5%;
  //   }
  //   margin: 50px 0;
  //   transform: translateX(-5%);

  //   @media screen and (max-width: 768px) {
  //     width: 100%;
  //     max-width: 100%;
  //     transform: none;
  //     height: auto !important;
  //     min-height: 422px !important;
  //   }
  // }
  .back-btn {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .entry-header-holder {
    width: 100vw;
    height: 100vh;
    @include fullwidth-row();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    .back-btn {
      display: inline-flex;
      color: $color__white;
      @include font-size(14);
      font-weight: 900;
      align-items: center;
      svg {
        margin-right: 12px;
      }
    }
    .entry-header-bg {
      background: $color__text;
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(calc(-50% + 120px));
      bottom: 0px;
      color: $color__white;
      padding: 60px;

      @media screen and (max-width: 1440px) {
        transform: translateX(135px);
        left: 0;
        padding: 40px 60px;
      }
      @media screen and (max-width: 1366px) {
        transform: translateX(75px);
      }
      @media screen and (max-width: 1024px) {
        transform: translateX(95px);
        padding: 32px;
      }
      @media screen and (max-width: 768px) {
        transform: translateX(35px);
      }
      @media screen and (max-width: 680px) {
        padding: 20px;
      }
    }

    .entry-header {
      @include max-width();
      transform: translateX(-120px);
      @media screen and (max-width: 1440px) {
        transform: translateX(-95px);
      }
      @media screen and (max-width: 1366px) {
        transform: translateX(-25px);
      }
      @media screen and (max-width: 1024px) {
        transform: translateX(-15px);
      }
    }
  }

  .entry-title {
    margin: 0;
    margin-bottom: 10px;
    @include font-size(70);
    line-height: calc(91 / 70);

    @media screen and (max-width: 1440px) {
      @include font-size(52);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(40);
    }
  }

  .entry-content-wrapper {
    display: flex;
    position: relative;
    z-index: 1000;
    @include max-width();

    padding: 66px 0;
    @media screen and (max-width: 1440px) {
      padding: 48px 0;
      max-width: 1020px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 820px;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .entry-content-holder {
    width: calc(100% - 360px);
    margin-right: 60px;
    @media screen and (max-width: 1440px) {
      width: calc(100% - 300px);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .entry-content {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-family: $font__second;
      margin: 0;
      margin-bottom: 1.5rem;
      line-height: 1.4;
    }
    a {
      text-decoration: underline;
    }
    ul,
    ol {
      margin: 0 0 1.5em 2.5em;
      @include font-size(22);
      line-height: calc(36 / 22);
      list-style: square;
      @media screen and (max-width: 1440px) {
        @include font-size(18);
      }
      @media screen and (max-width: 1024px) {
        @include font-size(16);
      }
    }
    p {
      margin: 0;
      margin-bottom: 1.5em;
      @include font-size(22);
      line-height: calc(36 / 22);

      @media screen and (max-width: 1440px) {
        @include font-size(18);
      }
      @media screen and (max-width: 1024px) {
        @include font-size(16);
      }
    }
  }
  .entry-sidebar {
    min-width: 300px;
    max-width: 300px;
    @media screen and (max-width: 1440px) {
      min-width: 230px;
      max-width: 230px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      margin-top: 32px;
    }
  }

  .content-holder {
    position: relative;
    // @include fullwidth-row();
  }
  .scroll-btn-holder {
    position: absolute;
    padding: 50px;
    background: $color__text;
    right: 0;
    @media screen and (max-width: 1440px) {
      bottom: -144px;
    }
  }

  .scroll-btn {
    width: 42px;
    height: 42px;
    background-size: 100%;
    background-position: center;
    display: block;
    background-image: url(assets/images/scroll-btn.svg);
  }
}

.post-share-holder {
  strong {
    @include font-size(14);
    line-height: calc(21 / 14);
    margin-bottom: 7px;
    font-weight: 900;
    letter-spacing: 0.03em;
    display: inline-block;
    @media screen and (max-width: 1440px) {
      @include font-size(12);
    }
  }
  ul {
    @include reset-list();
    display: flex;
    li {
      margin-right: 7px;

      background: $color__white;
      display: flex;
      border-radius: 40px;
      transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
      &:hover {
        background-color: $color__text;
      }
      &:last-child {
        margin: 0;
      }
      a {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
          path {
            transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
            fill: $color__white;
          }
        }
      }
    }
  }
}
.disclaimer{
  p{
    @include font-size(12);
    font-style: italic;
    color: #777;
  }
}

@import "single/related-posts";
@import "single/click-to-tweet";
@import "single/author";
@import "single/event";

