.single-team-member-holder {
  display: flex;
  max-width: 1140px;
  margin: 230px auto 12.5%;
  @media screen and (min-width: 1680px) {
    max-width: 1350px;
  }
  @media screen and (max-width: 1440px) {
    max-width: 990px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 700px;
    margin-top: 170px;
  }
  @media screen and (max-width: 680px) {
    margin-top: 100px;
    margin-bottom: 90px;
  }
}


.mobile-testimonial-nav {
  display: none;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  background: $color__background-body;
  border-top: 1px solid $color__text;
  bottom: -100%;
  left: 0;
  transition: bottom cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
  &.active {
    bottom: 0;
  }

  @media screen and (max-width: 680px) {
    display: flex;
    h1 {
      line-height: 1;
      @include font-size(15);
    }
    .testimonial-nav {
      margin: 0;
    }
  }
}


.mobile-team-member-photo {
  display: none;
  @media screen and (max-width: 680px) {
    display: block;
    margin: 20px 0;
  }
}
.team-member-photo {
  flex: 1;
  max-width: 320px;
  margin-right: 110px;
  @media screen and (min-width: 1680px) {
    max-width: 420px;
  }
  @media screen and (max-width: 1440px) {
    margin-right: 80px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 220px;
    margin-right: 60px;
  }
  @media screen and (max-width: 680px) {
    display: none;
  }
  img {
    width: 100%;
    display: block;
  }
}

.team-member-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.team-member-links {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $color__text;
  padding-bottom: 12px;
  margin-top: auto;
  @media screen and (max-width: 1440px) {
    padding-bottom: 6px;
  }
  @media screen and (max-width: 680px) {
    flex-wrap: wrap;
    > div {
      margin: 6px 0;
    }
  }
  span {
    display: block;
    @include font-size(12);
    font-weight: 900;
    margin-bottom: 6px;
    @media screen and (max-width: 1440px) {
      @include font-size(10);
      margin: 0;
    }
  }
  a {
    @include font-size(18);
    text-decoration: underline;
    @media screen and (max-width: 1440px) {
      @include font-size(16);
    }
    &.with-icon {
      display: block;
      text-align: right;
      position: relative;
      padding-right: 21px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: url(assets/images/phone-launch-icon.svg) center center
          transparent no-repeat;
        width: 20px;
        margin-left: 4px;
      }
    }
  }
}

.team-member-user-name {
  @include font-size(65);
  font-family: $font__main;
  font-weight: 900;
  line-height: calc(80 / 65);
  margin: 0;

  @media screen and (max-width: 1440px) {
    @include font-size(52);
  }
  @media screen and (max-width: 1024px) {
    @include font-size(40);
  }
}

.team-member-user-title {
  @include font-size(42);
  @media screen and (max-width: 1440px) {
    @include font-size(40);
  }
}

.team-member-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 90px;
  margin-top: 40px;

  @media screen and (max-width: 1440px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: 5px;
    @media screen and (max-width: 1440px) {
      width: 16px;
      height: 16px;
      margin-top: 8px;
    }
  }
  p {
    margin: 0;
    @include font-size(22);
    line-height: calc(36 / 22);
    width: calc(100% - 32px);
    a {
      text-decoration: underline;
    }

    @media screen and (max-width: 1440px) {
      @include font-size(18);
    }
    @media screen and (max-width: 1024px) {
      @include font-size(16);
    }
  }
}

.team-member-nav {
  display: flex;
  margin-top: 10px;
  a {
    display: flex;
    margin-right: 10px;
    &.disable {
      opacity: 0.1;
      cursor: default;
    }
    &:last-child {
      margin: 0;
    }
    svg {
      .border,
      .arrow {
        transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
    &:hover:not(.disable) {
      svg {
        .border {
          stroke: $color__red;
        }
        .arrow {
          fill: $color__red;
        }
      }
    }
  }
}
