.single-testimonial-holder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  max-width: 1140px;
  margin: 12.5% auto 12.5%;
  @media screen and (max-width: 1440px) {
    margin-top: 14%;
    max-width: 990px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 700px;
    margin-top: 150px;
  }
  @media screen and (max-width: 680px) {
    display: block;
    margin-top: 120px;
    margin-bottom: 90px;
  }
}

.mobile-team-member-nav {
  display: none;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 10000000;
  justify-content: space-between;
  padding: 14px 20px;
  background: $color__background-body;
  border-top: 1px solid $color__text;
  bottom: -100%;
  left: 0;
  transition: bottom cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s;
  &.active {
    bottom: 0;
  }

  @media screen and (max-width: 680px) {
    display: flex;
    .team-member-user-name {
      line-height: 1;
      @include font-size(15);
    }
    .testimonial-nav {
      margin: 0;
    }
  }
}

.testimonial-content-holder {
  flex: 2;
  margin-right: 120px;
  @media screen and (max-width: 1440px) {
    margin-right: 80px;
  }
  @media screen and (max-width: 680px) {
    margin: 0;
  }
}
.testimonial-sidebar {
  flex: 1;
  img {
    width: 100%;
    display: block;
  }
  @media screen and (max-width: 680px) {
    display: flex;
    margin-bottom: 32px;
    img {
      align-self: flex-start;
      max-width: 40%;
      margin-right: 12px;
    }
  }
}

.testimonial-user-name {
  @include font-size(30);
  font-weight: 900;
  margin: 0;
  font-family: $font__main;
  @media screen and (max-width: 1440px) {
    @include font-size(22);
  }
}

.testimonial-user-title {
  @include font-size(22);
  @media screen and (max-width: 1440px) {
    @include font-size(18);
  }
}

.cta-title,
.themes-title,
.testimonial-reason {
  /* quote */
  @include font-size(72);
  line-height: calc(78 / 72);
  font-family: $font__second;
  font-weight: 100;
  margin: 0;
  margin-bottom: 40px;

  @media screen and (max-width: 1680px) {
    @include font-size(60);
  }
  @media screen and (max-width: 1440px) {
    @include font-size(52);
  }
  @media screen and (max-width: 1024px) {
    @include font-size(32);
  }

  p {
    margin: 0;
  }
}

.testimonial-desc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15%;
  svg {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: 2px;
    @media screen and (max-width: 1440px) {
      width: 16px;
      height: 16px;
    }
  }
  p {
    margin: 0;
    @include font-size(22);
    line-height: calc(36 / 22);
    width: calc(100% - 32px);

    @media screen and (max-width: 1440px) {
      @include font-size(14);
    }
  }
}

.testimonial-questions {
  line-height: calc(36 / 30);
  @include font-size(30);
  margin-bottom: 19%;

  @media screen and (max-width: 1440px) {
    @include font-size(24);
  }
  @media screen and (max-width: 1024px) {
    @include font-size(18);
  }
  .question-holder {
    margin-bottom: 18px;
    margin-bottom: 12px;
  }

  .answer-holder {
    letter-spacing: 0.01em;
  }
}

.testimonial-question-row {
  margin-bottom: 7%;
}

.themes-title {
  margin-bottom: 10%;
}

.theme-box {
  margin-bottom: 16%;
}

.theme-box-name {
  @include font-size(30);
  font-weight: 900;
  margin-bottom: 18px;

  @media screen and (max-width: 1440px) {
    @include font-size(24);
  }

  @media screen and (max-width: 1024px) {
    @include font-size(21);
  }
}

.theme-box-company {
  display: flex;
  margin-bottom: 3%;
  img {
    width: 180px;
    margin-right: 32px;
    align-self: flex-start;
    @media screen and (max-width: 1440px) {
      max-width: 130px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 90px;
    }
  }
  p {
    @include font-size(15);
    font-weight: 500;
    margin-top: 0;
  }
}

.testimonial-nav {
  display: flex;
  margin-top: 10px;
  @media screen and (max-width: 1440px) {
    svg {
      width: 32px;
      height: 32px;
    }
  }

  a {
    display: flex;
    margin-right: 10px;
    &.disable {
      opacity: 0.1;
      cursor: default;
    }
    &:last-child {
      margin: 0;
    }
    svg {
      .border,
      .arrow {
        transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out;
      }
    }
    &:hover:not(.disable) {
      svg {
        .border {
          stroke: $color__red;
        }
        .arrow {
          fill: $color__red;
        }
      }
    }
  }
}
