// Common Login and Sign Up
.page-template-waitlist-login,
.page-template-waitlist-signup {
    // Site
    & .site {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        & .entry-content {
            & h1 {
                @include font-size(32);
                margin: 0;
                @media screen and (max-width: 768px) {
                    @include font-size(24);
                }
            }
            & p {
                margin: 4px 0 0;
            }
        }
    }
    // Form
    .waitlist-form {
        margin-top: 15px;
        & .acf-form {
            & .acf-fields>.acf-field {
                padding: 0;
                position: relative;
                &.error .acf-label,
                &.focused .acf-label,
                &:focus-within .acf-label {
                    @include font-size(12);
                    line-height: 16px;
                    top: 10px;
                }
                & .acf-input {
                    margin: 12px 0 32px 0;
                    padding: 30px 0 26px 0;
                }
            }
            & .acf-label {
                color: $color__text;
                font-weight: 700;
                margin: 0;
                left: 0;
                top: 32px;
                position: absolute;
                transition: all 0.3s ease;
                & label {
                    margin: 0;
                    & .acf-required {
                        display: none;
                    }
                }
            }
            & .acf-input-wrap {
                height: auto;
                & input {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 2px solid $color__text;
                    @include font-size(16);
                    font-weight: 400;
                    height: auto;
                    padding: 0 0 5px 0;
                    &:focus {
                        outline: none;
                        border-bottom: 4px solid $color__text;
                    }
                    &.error {
                        border-color: #FF6348;
                    }
                    &.success {
                        border-color: $color__green;
                    }
                }
            }
            & .acf-input-feedback {
                @include font-size(12);
                font-weight: 700;
                &.error {
                    color: #FF6348;
                    &::before {
                        background-image: url('assets/images/Close_circle_24dp.svg');
                        background-position: left bottom;
                        background-repeat: no-repeat;
                        content: '';
                        display: inline-block;
                        height: 20px;
                        width: 15px;
                    }
                }
                &.success {
                    color: $color__green;
                }
            }
            & .acf-button[type="submit"] {
                background-color: $color__text;
                border: 0;
                border-radius: 0;
                cursor: pointer;
                color: $color__white;
                font-family: $font__main;
                font-size: 1rem;
                font-weight: 900;
                letter-spacing: .03em;
                line-height: 24px;
                padding: 16px 32px;
                transition: all 0.3s ease;
                width: 100%;
                &:hover,
                &:focus {
                    background: $color__yellow;
                    color: $color__white;
                }
            }
        }
        &-footer {
            @include font-size(14);
            font-weight: 700;
            line-height: 18px;
            margin-top: 32px;
            text-align: center;
            & a {
                text-decoration: underline;
            }
        }
    }
}

// Login
.page-template-waitlist-login {
    // Site
    & .site {
        background-image: url('assets/images/waitlist-login-footer-bg.jpg');
        background-position: center 13vh;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (min-width: 992px) {
            background-position: right 120px;
            background-size: 100%;
        }
        & .content-area {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100vh;
            & article {
                width: 100%;
                max-width: 451px;
            }
        }
    }
}

// Sign Up
.page-template-waitlist-signup {
    & .waitlist-signup {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        padding-top: 94px;
        @media screen and (min-width: 992px) {
            justify-content: space-between;
            height: 100vh;
            padding-top: 80px;
        }
        & .waitlist-signup-content {
            max-width: 451px;
            width: 100%;
            // Form
            .waitlist-form {
                margin-top: 15px;
                & .acf-form {
                    & .acf-button[type="submit"] {
                        width: 100%;
                        @media screen and (min-width: 992px) {
                            & {
                                max-width: 296px;
                            }
                        }
                    }
                }
                &-footer {
                    @media screen and (min-width: 992px) {
                        text-align: left;
                    }
                }
            }
        }
        & .waitlist-signup-media {
            -ms-flex-item-align: end;
            align-self: flex-end;
            margin-top: 30px;
            width: 60%;
            @media screen and (min-width: 992px) {
                width: 32%;
                ;
            }
            &>img {
                display: block;
                margin: 0 auto;
            }
        }
        @media screen and (min-width: 992px) {
            & .waitlist-signup-content {
                width: 50%;
            }
            & .waitlist-signup-media {
                margin-top: 0;
            }
        }
    }
}

.page-template-waitlist-waitlist {
    .btn {
        @include font-size(16);
        width: 100%;
        @media screen and (min-width: 992px) {
            width:unset;
        }
    }
    & .page-banner-holder {
        background-color: #f3eee1;
        background-position: center bottom;
        height: auto;
        min-height: auto;
        padding-bottom: 20px;
        padding-top: 120px;
        @media screen and (min-width: 992px) {
            padding-top: 200px;
        }
        &::after {
            content: none;
        }
        & .banner-content {
            padding-left: 10%;
            padding-right: 10%;
            width: 100%;
            @media screen and (max-width: 450px) {
                padding-left:20px;
                padding-right:20px;
            }
        }
        & .banner-text {
            max-width: 650px;
            width: 100%;
        }
        & .banner-text h1,
        & .banner-text p {
            color: $color__text;
        }
        & .banner-text h1 {
            @include font-size(40);
            @media screen and (min-width: 992px) {
                @include font-size(72);
            }
        }
        & .banner-text p {
            @include font-size(16);
            line-height: 20px;
        }
    }
    & .waitlist-stats {
        display: -ms-grid;
        display: grid;
        grid-gap: 16px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 30px;
        @media screen and (min-width: 992px) {
            -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 80px;
        }
        & .waitlist-stats-box {
            background-color: $color__white;
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: 0px 4px 8px rgba(47, 44, 38, 0.4);
            color: $color__text;
            padding: 30px 30px 30px 140px;
            @media screen and (max-width: 450px) {
                padding: 10px 20px 20px 120px;
            }
            & .waitlist-stats-label {
                @include font-size(16);
                padding-bottom: 8px;
                & strong {
                    font-family: $font__second;
                    font-weight: 700;
                }
            }
            & .waitlist-stats-value {
                font-family: $font__second;
                @include font-size(32);
                font-weight: 700;
                @media screen and (min-width: 1440px) {
                    @include font-size(32);
                }
            }
        }
        & .waitlist-stats-link {
            @media screen and (min-width: 992px) {
                -ms-grid-column: 2;
                -ms-grid-column-span: 1;
                grid-column: 2 / 3;
            }
            & .btn {
                border-radius: 0;
                min-width: auto;
                width: 100%;
            }
        }
        & .waitlist-stats-arrow {
            background-position: left bottom;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;;
            height: 15px;
            position: relative;
            top: 3px;
            width: 15px;
            &.down {
                background-image: url(assets/images/arrow-down.svg);
            }
            &.up {
                background-image: url(assets/images/arrow-up.svg);
            }
            @media screen and (min-width: 992px) {
                height: 30px;
                top: 5px;
                width: 30px;
            }
        }
    }
    & .waitlist-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        @media screen and (min-width: 992px) {
            padding: 80px 0;
            &:first-of-type {
                padding-top: 160px;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        &-column {
            position: relative;
            width: 100%;
            @media screen and (min-width: 992px) {
                padding: 0 15px;
                width: 50%;
            }
        }
        &-title {
            font-weight: 100;
            margin: 0;
            margin-bottom: 24px;
            @include font-size(40);
            @media screen and (min-width: 992px) {
                @include font-size(48);
            }
            & strong {
                font-weight: 700;
            }
        }
        &-text {
            margin: 0;
            @include font-size(16);
            line-height: 20px;
        }
        .btn-white {
            margin-top: 48px;
        }
        &.intro {
            & .waitlist-section-column {
                &:last-child {
                    margin-top: 30px;
                    @media screen and (min-width: 992px) {
                        margin-top: 0;
                    }
                }
            }
            & .waitlist-section-title {
                @include font-size(32);
                margin: 0;
                padding-right: 100px;
                &::before {
                    background-image: url('assets/images/Yovavisual-mobile.png');
                    background-position: right top;
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: '';
                    height: 120px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100px;
                }
                @media screen and (min-width: 992px) {
                    @include font-size(48);
                    padding: 30px;
                    &::before {
                        background-color: $color__yellow;
                        background-image: none;
                        border-radius: 0 0 200px 0;
                        height: 200px;
                        left: 0;
                        position: absolute;
                        right: auto;
                        width: 200px;
                        z-index: -1;
                    }
                }
            }
            & .waitlist-section-text {
                padding-right: 100px;
                @media screen and (min-width: 992px) {
                    padding: 30px 0 0 0;
                }
            }
        }
        &.referral {
            align-items: center;
            & .waitlist-section-column {
                &:last-child {
                    margin-top: 30px;
                    @media screen and (min-width: 992px) {
                        margin-top: 0;
                    }
                }
            }
            .waitlist-social-menu-mobile{
                display:none;
                .waitlist-social-menu {
                    @media screen and (max-width: 450px) {
                        display: flex;
                    }
                }
                .waitlist-referral {
                    @media screen and (max-width: 450px) {
                        display: flex;
                    }
                }
                @media screen and (max-width: 450px) {
                    display: block;
                    width: 100%
                }
            }
            & .waitlist-social-menu {
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin: 48px 0 32px;
                .waitlist-social-item {
                    cursor: pointer;
                    svg:hover.icon-background {
                        fill: $color__yellow;
                        transition: all 0.3s ease;
                    }
                }
                @media screen and (max-width: 450px) {
                    display: none;
                }
            }
            & .waitlist-referral {
                display: flex;
                & .waitlist-referral-link {
                    border: 0;
                    border-radius: 0;
                    flex: 1 1 auto;
                    padding: 10px 20px;
                    max-width: 70%;
                    @media screen and (min-width: 992px) {
                        max-width: unset;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .btn {
                    max-width: 30%;
                    @media screen and (min-width: 992px) {
                        max-width: unset;
                    }
                }
                @media screen and (max-width: 450px) {
                    display: none;
                }
            }
            & .waitlist-referral-copy {
                border-radius: 0;
                cursor: pointer;
                min-width: auto;
            }
            & .swiper-container {
                height: 80vh;
                @media screen and (max-width: 768px) {
                    height: 55vh;
                    margin: 80px auto 40px;
                    padding-bottom: 50px;
                    width: 80%;
                }
                & .swiper-slide {
                    text-align: center;
                    & img {
                        height: 100%;
                        width: auto;
                        @media screen and (max-width: 768px) {
                            max-height: 420px;
                        }
                    }
                }
                & .swiper-pagination {
                    left: auto;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    @media screen and (max-width: 768px) {
                        bottom: 0;
                        flex-direction: row;
                        top: auto;
                        transform: none;
                        width: 100%;
                        justify-content: center;
                        z-index: 5;
                    }
                    & .swiper-pagination-bullet {
                        width: 8px;
                        height: 8px;
                        background-color: #E5E5E5;
                        border: 0;
                        border-radius: 100%;
                        margin: 0;
                        margin-bottom: 12px;
                        cursor: pointer;
                        opacity: 1;
                        @media screen and (max-width: 768px) {
                            &:not(:last-child) {
                                margin-right: 12px;
                            }
                        }
                        &.swiper-pagination-bullet-active {
                            width: 12px;
                            height: 12px;
                            background-color: #2f2c26;
                        }
                    }
                }
            }
        }
        &.stats {
            align-items: center;
            padding-bottom: 0;
            & .waitlist-section-column {
                img {
                    vertical-align: bottom;
                }
                &:first-child {
                    order: 1;
                    text-align: center;
                    @media screen and (min-width: 992px) {
                        order: 0;
                        text-align: left;
                    }
                }
                &:last-child {
                    margin-bottom: 30px;
                    @media screen and (min-width: 992px) {
                        margin-bottom: 0;
                    }
                }
            }
            & .waitlist-stats-info {
                @include font-size(20);
                font-weight: 700;
                margin-top: 30px;
            }
            & .waitlist-stats-single {
                background-image: url('assets/images/1Tree.svg');
                background-position: 0;
                background-repeat: no-repeat;
                background-size: contain;
                line-height: 50px;
                padding-left: 70px;
            }
            & .waitlist-stats-total {
                background-image: url('assets/images/3Trees.svg');
                background-position: 0;
                background-repeat: no-repeat;
                background-size: contain;
                line-height: 50px;
                padding-left: 70px;
            }
        }
    }
}