.social-proof-article {
  margin: 100px auto 80px;
  max-width: 75%;
  @media screen and (max-width: 680px) {
    margin: 30px 0;
    max-width: 100%;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  p {
    line-height: 1.8;
    a {
      text-decoration: underline;
    }
  }

  ol,
  ul {
    margin: 0 0 0 1.5rem;
    li {
      margin-bottom: 1.5rem;
    }
  }
}
