.delighted-testimonials-holder {
  @include fullwidth-row();
  margin: 120px auto 100px;
  @media screen and (max-width: 1024px) {
    margin: 80px 0 60px;
  }
}

.delighted-testimonials-carousel-holder {
  margin: 0 0 0 60px;
  @media screen and (max-width: 1440px) {
    // margin: 45px;
    margin: 0 0 0 45px;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 0 0 30px;
  }
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }

  .testimonial-nav {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    svg {
      width: 32px;
      height: 32px;
    }
    a {
      margin: 0;
    }
    span {
      @include font-size(14);
      font-weight: 900;
      margin: 0 5px;
      @media screen and (max-width: 1440px) {
        @include font-size(12);
      }
    }
  }
}
.delighted-carousel-content {
  .testimonial-item {
    // font-family: $font__second;
    // font-weight: 600;

    background: rgba(242, 231, 204, 1);
    box-shadow: none;
    // height: 100%;
    transform-style: preserve-3d;
    min-height: 235px;
    padding: 50px;

    @media screen and (min-width: 768px) {
      // min-width: 300px;
    }

    @include font-size(16);

    @media screen and (max-width: 680px) {
      padding: 30px;
    }

    .testimonial-item-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
      @include font-size(22);
      @media screen and (max-width: 680px) {
        display: block;
        margin-bottom: 24px;
      }
    }
    .testimonial-item-stars-holder {
      display: flex;
      svg {
        margin-right: 4px;
        &:last-child {
          margin: 0;
        }
      }
      @media screen and (max-width: 680px) {
        margin-top: 4px;
      }
    }
    .testimonial-item-user-review {
      &.has-more {
        height: 95px;
        max-height: 95px;
        overflow: hidden;
        transition: max-height 380ms cubic-bezier(0.4, 0, 0.2, 1);
        &.active {
          height: auto;
          max-height: 2000px;
        }
      }
      @media screen and (max-width: 680px) {
        @include font-size(16);
      }
    }
    .testimonial-item-user-title {
      display: block;
      @include font-size(16);
    }
    .testimonial-dots {
      background: inherit;
    }
  }

  .testimonial-item-read-more {
    display: inline-block;
    margin-right: auto;
    margin-top: 24px;
    overflow: hidden;
    line-height: 1;
    @include font-size(16);

    @media screen and (max-width: 680px) {
      margin-top: 12px;
    }
    border-bottom: 1px solid $color__text;
    &:focus,
    &:hover {
      border-color: $color__red;
    }
  }

  .owl-dots {
    counter-reset: dots;
    text-align: center;
    margin: 24px auto 0;
    .owl-dot {
      &.active {
        &:before {
          font-weight: bold;
          border-bottom: 4px solid $color__text;
        }
      }
      &:before {
        padding: 6px 6px 4px 6px;
        @include font-size(18);
        counter-increment: dots;
        content: counter(dots);
      }
    }
  }
  .owl-stage {
    display: flex;
    flex-direction: row;
    padding-left: 0 !important;
  }
  .owl-item {
    transform-style: preserve-3d;
    @media screen and (max-width: 1024px) {
      display: flex;
    }
  }
}
