// Rem output with px fallback
@mixin font-size($sizeValue: 16) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue / 16) * 1rem;
    line-height: ($sizeValue + 8) * 1px;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

@mixin max-width {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 1680px) {
        max-width: 1340px;
    }
    @media screen and (max-width: 1024px) {
        max-width: 990px;
    }
    @media screen and (max-width: 812px) {
        max-width: 768px;
        padding: 0 20px;
    }
}

@mixin color-opacity($color, $opacity: 1) {
    color: rgba($color, $opacity);
}

@mixin bg-color($color, $opacity: 1) {
    background-color: rgba($color, $opacity);
}

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin fullwidth-row {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}

@mixin inputPlaceholder() {
    $selector: '';
    $prefixes: ( moz: "::-moz", webkit: "::-webkit", ie: ":-ms");
    @each $prop,
    $value in $prefixes {
        @if $prop !="moz" {
            $selector: #{$value}-input-placeholder;
        }
        @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        }
        @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}