.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

.sidebar-menu {
  padding: 60px 42px;
  background: $color__white;
  margin-right: 60px;
  align-self: flex-start;

  @media screen and (max-width: 1440px) {
    padding: 48px 32px;
  }

  @media screen and (max-width: 768px) {
    padding: 32px 24px;
  }

  @media screen and (max-width: 680px) {
    padding: 0;
    background: none;
  }

  ul {
    @include reset-list();
    li {
      margin: 30px 0 0;
      @media screen and (max-width: 1440px) {
        margin-top: 20px;
      }
      @media screen and (max-width: 680px) {
        // display: none;
        padding: 12px 20px;
        background: $color__white;
        margin-top: 6px;
      }
      &:first-child {
        margin-top: 0;
        @media screen and (max-width: 680px) {
          display: block;
        }
      }
      a {
        display: flex;
        align-items: center;
        padding-bottom: 28px;
        border-bottom: 2px solid $color__text;
        @include font-size(14);
        font-weight: 900;
        text-transform: uppercase;
        opacity: 0.2;
        @media screen and (max-width: 1440px) {
          @include font-size(13);
          padding-bottom: 14px;
        }
        @media screen and (max-width: 680px) {
          border: none;
          padding: 0;
        }
        &:focus,
        &:hover,
        &.active {
          color: $color__text;
          opacity: 1;
        }

        img {
          margin-top: -3px;
          margin-right: 10px;
        }
      }
    }
  }
}
